- var user_icon = "/html-static/user-icon.png"
- var tick_icon = "/html-static/tick.gif"
- var channel_verified_icon = "/html-static/channel-verified-icon.png"

//- styles
- var css__wrapper = "border:1px solid #ddd; display:inline-block; padding:5px;"
- var css__table_wrapper = "width:300px; border-spacing:0; border-collapse:collapse;"
- var css__full = "width:100%;"
- var css__block = "display:block;"
- var css__button = "display:block; width:300px; padding:8px 0; text-align:center; text-decoration:none;color:#fff;font-family:Arial,Tahoma,sans-serif;font-size:16px;background:#7ae06b;letter-spacing:1px;text-transform: uppercase;"
- var css__content_title_wrapper = "border-top:1px solid #ddd;border-bottom:1px solid #ddd;"
- var css__content_title = "font-family:Arial,Tahoma,sans-serif;font-weight:600;font-size:13px;display:block;padding:7px 0;"
- var css__content_teaser_text = "font-family:Arial,Tahoma,sans-serif;font-size:12px;color:#444;margin:0;padding:10px 0;word-wrap:break-word;"
- var css__price_hint = "letter-spacing:0;font-size:13px;"
- var css__channel_wrapper = "width:100%;border-spacing:0;border-collapse:collapse;"
- var css__channel_name = "font-family:Arial,Tahoma,sans-serif;font-weight:600;font-size:13px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:260px;"
- var css__channel_info = "font-family:Arial,Tahoma,sans-serif;font-size:11px;color:#777;padding-top:1px;"
- var css__channel_info_wrapper = "width:262px;height:36px;vertical-align:top;"
- var css__channel_image = "width:38px;height:36px;vertical-align:top;"
- var css__channel_verified = "vertical-align:sub;display:inline-block;margin-right:5px;"
//- end styles

//- unused
//- var play_icon = "/html-static/play-icon-64.png"
//- var css__video_preview_image_hidden = "display:block;opacity:0;visibility:hidden;"
//- var css__play_icon = "background-repeat:no-repeat;background-position:50%;background-size:64px;padding-top:25%;"

div(style="#{css__wrapper}")
  table(style="#{css__table_wrapper}")
    //- preview
    tr
      if teaserImage
        td(style="#{css__full}")
          a(style="#{css__block}", href="#{linkToContent}")
            img(style="#{css__block}", src="#{teaserImage}")
      if teaserVideo
        td(style="#{css__full}")
          a(style="#{css__block}", href="#{linkToContent}")
            img(style="#{css__block}", src="#{teaserVideo}")

    //- channel description
    tr
      td(style="padding:7px 0;")
        table(style="#{css__channel_wrapper}")
          tr
            td(style="#{css__channel_image}")
              if channelImage
                img(src="#{channelImage}", width="32", height="32")
              else
                img(src="#{CDN_STATIC_FOLDER+user_icon}", width="32", height="32")
            td(style="#{css__channel_info_wrapper}")
              div(style="#{css__channel_name}")
                if channelIsVerified
                  img(style="#{css__channel_verified}" src="#{CDN_STATIC_FOLDER+channel_verified_icon}", width="16", height="16")
                | #{channelName}
              div(style="#{css__channel_info}")
                | #{contentInfo}

    //- content title
    tr(style="#{css__content_title_wrapper}")
      td
        b(style="#{css__content_title}")
          | #{contentTitle}

    //- content teaser text
    tr
      td
        p(style="#{css__content_teaser_text}")
          | !{contentTeaserText}

    //- button as a link to content
    tr
      td
        a(style="#{css__button}", href="#{linkToContent}")
          | #{buttonText}
          img(src="#{CDN_STATIC_FOLDER+tick_icon}")
          span(style="#{css__price_hint}")
          | #{priceHint}