doctype
html(ng-app="ticksaWebapp", ng-class="{'is-gecko': $root.isGecko}")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")

    title(translate="APPLICATION_TITLE") Ticksa - My Premium Channel
    meta(name="description", content="")
    each site in data.siteVerification
      meta(name="#{site.name}" content="#{site.value}")

    link(rel="shortcut icon" type="image/png" href="#{data.baseUrl}/assets/images/favicon.png")
    link(rel="stylesheet" href="#{data.baseUrl}/styles/vendor.css")
    link(rel="stylesheet" href="#{data.baseUrl}/styles/app.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,600,700")

  body(tk-channel-background)
    script(type="text/javascript", src="#{data.baseUrl}/routing-location/routing-location.js")

    tk-browser-not-supported

    div(ui-view, class="table-fill")
    div(id="fb-root")

    script(id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js", async)
    script(src="https://apis.google.com/js/platform.js", async)
    script(type="text/javascript", src="#{data.baseUrl}/config/config-#{data.mode}.js")
    script(type="text/javascript", src="#{data.baseUrl}/scripts/vendor.js")
    script(type="text/javascript", src="#{data.baseUrl}/scripts/app.js")
