<form name="profileForm" class="panel sm profile-form">
    <div class="panel-header">{{'COMMONS_UPDATE_PROFILE' | translate}}</div>
    <div class="panel-legend">{{'PROFILE_MAIN_INFORMATION' | translate}}</div>
    <div class="panel-container">
        <tk-avatar data-ng-click="ctrl.selectProfileImage()" avatar-url="ctrl.profile.profileImageUrl"
                   avatar-class="large"
                   avatar-tooltip="PROFILE_IMAGE_TOOLTIP"></tk-avatar>
    </div>
    <div class="panel-container">
        <md-input-container data-md-is-error="ctrl.formSubmit && profileForm.name.$invalid" class="full">
            <label for="name">{{'COMMONS_USER_NAME' | translate}}</label>
            <input data-ng-model="ctrl.profile.name" type="text" class="md-input" name="name" id="name"
                   required="required"/>
            <div data-ng-show="profileForm.name.$dirty || profileForm.name.$touched || ctrl.formSubmit" class="error">
                <span data-ng-show="profileForm.name.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
            </div>
        </md-input-container>
    </div>
    <div class="panel-container">
        <md-input-container class="full">
            <label for="email">{{'COMMONS_EMAIL' | translate}}</label>
            <input data-ng-model="ctrl.email" type="text" class="md-input" name="email" id="email"
                   data-ng-disabled="true"/>
        </md-input-container>
    </div>
    <div class="panel-legend">{{'PROFILE_PAYMENT_INFORMATION' | translate}}</div>
    <div class="panel-container">
        <md-autocomplete class="country-autocomplete" md-floating-label="{{'COMMONS_COUNTRY' | translate}}"
                         md-selected-item="ctrl.selectedCountry" md-search-text="ctrl.searchTextCountry"
                         md-items="country in ctrl.querySearchCountry()"
                         md-item-text="country.name" md-min-length="0">
            <md-item-template>
                <span md-highlight-text="ctrl.searchTextCountry" md-highlight-flags="^i">{{country.name}}</span>
            </md-item-template>
            <md-not-found>{{'PROFILE_COUNTRY_NOT_FOUND' | translate}}</md-not-found>
        </md-autocomplete>

        <md-input-container class="margin-bottom-20">
            <label>{{'PROFILE_CURRENCY' | translate}}</label>
            <md-select name="currency" data-ng-model="ctrl.profile.currencyId">
                <md-option data-ng-repeat="currency in ctrl.currencies" data-ng-value="currency.id">{{currency.name}}
                    ({{currency.code}}) {{currency.symbol}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="full margin-bottom-20">
            <label>{{'PROFILE_PHONE' | translate}}</label>
            <input type="text" name="phone"
                   data-ng-model="ctrl.profile.phone"
                   placeholder="{{'PROFILE_PHONE_PLACEHOLDER' | translate}}">

            <md-button class="md-primary under"
                       data-ng-disabled="!ctrl.profile.phone || ctrl.verificationWait"
                       data-ng-if="!ctrl.isPhoneVerified"
                       data-ng-click="ctrl.savePhoneAndSendVerificationCode()">
                <span data-ng-if="!ctrl.verificationWait">{{'PROFILE_VERIFY_PHONE' | translate}}</span>
                <span data-ng-if="ctrl.verificationWait"><i class="tk-icon-spin animate-spin"></i> {{'PROFILE_VERIFY_WAIT' | translate}}</span>
            </md-button>
        </md-input-container>

        <md-input-container class="full margin-bottom-20"
                            data-ng-show="!ctrl.isPhoneVerified && ctrl.verificationCodeExists">
            <label>{{'PROFILE_VERIFICATION_CODE' | translate}}</label>
            <input type="text" name="number" data-ng-model="ctrl.verificationCode"
                   data-tk-input-select="ctrl.selectVerificationCode">
            <md-button data-ng-disabled="!ctrl.verificationCode"
                       data-ng-click="ctrl.verifyPhone()"
                       class="md-primary under">{{'PROFILE_VERIFICATION_CODE_SUBMIT' | translate}}
            </md-button>
        </md-input-container>

        <div class="text-help">{{'AUTO_AUTHORIZE_MAX_TICKS' | translate}}</div>
        <div class="table price">
            <div class="table-cell">
                <md-input-container class="price tk-icon-currency">
                    <input data-ng-model="ctrl.profile.autoAuthorizeMaxTicks" type="number" class="md-input"/>
                </md-input-container>
            </div>
            <div class="table-cell currency-cent-hint">({{ctrl.profile.autoAuthorizeMaxTicks | tkConvertTicks}})</div>
        </div>
    </div>

    <div class="panel-legend">{{'PROFILE_SOCIAL_ACCOUNTS' | translate}}</div>
    <div class="panel-container">
        <div class="text-help">{{'PROFILE_SOCIAL_ACCOUNTS_NOTICE' | translate}}</div>
        <div class="social-icon">
            <div class="table">
                <div class="table-cell middle">
                    <i data-ng-class="{'google-color': ctrl.googleConnected}" class="tk-icon-gplus"></i>
                    <span data-ng-class="{'google-color': ctrl.googleConnected}">{{'PROFILE_SOCIAL_ACCOUNTS_GOOGLE' | translate}}</span>
                    <md-button data-ng-if="!ctrl.googleConnected" data-ng-click="ctrl.connectGoogle()"
                               class="md-primary pull-right">{{'PROFILE_SOCIAL_ACCOUNT_CONNECT' | translate}}
                    </md-button>
                    <md-button data-ng-if="ctrl.googleConnected" data-ng-click="ctrl.disconnectGoogle()"
                               class="md-primary pull-right">{{'PROFILE_SOCIAL_ACCOUNT_DISCONNECT' | translate}}
                    </md-button>
                </div>
            </div>
        </div>

        <div class="social-icon">
            <div class="table">
                <div class="table-cell middle">
                    <i data-ng-class="{'facebook-color': ctrl.facebookConnected}" class="tk-icon-facebook"></i>
                    <span data-ng-class="{'facebook-color': ctrl.facebookConnected}">{{'PROFILE_SOCIAL_ACCOUNTS_FACEBOOK' | translate}}</span>
                    <md-button data-ng-if="!ctrl.facebookConnected" data-ng-click="ctrl.connectFacebook()"
                               class="md-primary pull-right">{{'PROFILE_SOCIAL_ACCOUNT_CONNECT' | translate}}
                    </md-button>
                    <md-button data-ng-if="ctrl.facebookConnected" data-ng-click="ctrl.disconnectFacebook()"
                               class="md-primary pull-right">{{'PROFILE_SOCIAL_ACCOUNT_DISCONNECT' | translate}}
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-legend">{{'PROFILE_CHANGE_LANGUAGE' | translate}}</div>
    <div class="panel-container">
        <md-input-container class="full">
            <label>{{'PROFILE_CHANGE_LANGUAGE' | translate}}</label>
            <md-select data-ng-model="ctrl.uiLanguage" data-ng-model-options="{trackBy: '$value.id'}"
                       data-ng-change="ctrl.changeUILanguage()"
                       aria-label="Select aria">
                <md-option data-ng-repeat="uiLang in ctrl.uiLanguages" data-ng-value="uiLang">{{ uiLang.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="panel-footer">
        <div class="panel-container">
            <md-button data-ng-click="ctrl.updateProfile(profileForm)" class="md-raised md-primary backwards__to-right">
                {{'EDIT_PROFILE_ACTION' | translate}}
            </md-button>
            <md-button data-ng-click="ctrl.terminateAccount($event)" class="md-warn backwards__to-left">
                {{'TERMINATE_ACCOUNT_ACTION' | translate}}
            </md-button>
        </div>
    </div>
</form>