<div layout="row" layout-margin="layout-margin" layout-align="center center" flex="flex">
    <md-whiteframe flex="40" flex-md="100"
                   flex-sm="100" layout="column" layout-align="center center"
                   class="md-whiteframe-z1">

        <div layout="row" layout-align="center center" layout-fill flex
             ng-show="!ctrl.cashIO && !ctrl.error && !ctrl.cancel">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <md-content ng-show="ctrl.cashIO || ctrl.error || ctrl.cancel" layout="column" layout-fill="layout-fill">
            <div layout-padding="layout-padding" data-ng-show="ctrl.cashIO.status == CASH_IO_STATUS.FINAL">
                <p class="md-display-1">{{'TOPUP_SUCCESSFUL' | translate}}</p>

                <p class="md-body-1">{{'TOPUP_PAID' | translate}} {{ctrl.cashIO.userCurrencyAmount}}
                    {{ctrl.cashIO.userCurrencyCode | number : 2}} EUR</p>

                <p ng-if="ctrl.cashIO.exchangeRateToEuro" class="md-body-1">
                    {{'TOPUP_EXCHANGE_RATE' | translate}} {{ctrl.cashIO.exchangeRateToEuro | number : 2}},
                    {{'TOPUP_IN_EUR' | translate}} {{ctrl.cashIO.receivedAmount | number : 2}}
                </p>

                <p class="md-body-1">{{'TOPUP_FEES' | translate}} {{ctrl.cashIO.feesAmount||0 | number : 2}} EUR</p>

                <p class="md-body-1">{{'TOPUP_NET' | translate}} {{ctrl.cashIO.NETAmount||0 | number : 2}} EUR</p>
                <md-divider></md-divider>
                <div layout="row" layout-align="space-between center">
                    <p class="md-body-2">{{'TOPUP_TICKS' | translate}} {{ctrl.cashIO.receivedTicks | number : 2}}</p>

                    <md-button ng-click="ctrl.continueTopUp()"
                               ng-if="ctrl.showContinueTopUpBtn"
                               class="md-raised md-primary">{{'COMMONS_CONTINUE' |
                        translate}}
                    </md-button>
                </div>
            </div>
            <div layout-padding="layout-padding" ng-if="ctrl.cashIO && (ctrl.cashIO.status == CASH_IO_STATUS.COMPLETED
                  || ctrl.cashIO.status == CASH_IO_STATUS.PENDING)">
                <p>{{'TOPUP_STARTED_BUT_NOT_FINISHED' | translate}}</p>

                <div layout="row" layout-align="space-between center">
                    <md-button ng-click="ctrl.continueTopUp()"
                               ng-if="ctrl.showContinueTopUpBtn"
                               class="md-raised md-primary">{{'COMMONS_CONTINUE' |
                        translate}}
                    </md-button>
                </div>
            </div>
            <div layout-padding="layout-padding"
                 ng-if="ctrl.error || (ctrl.cashIO && ctrl.cashIO.status == CASH_IO_STATUS.FAILED)">
                <p>{{'TOPUP_ERROR' | translate}}</p>
            </div>
            <div layout-padding="layout-padding" ng-if="ctrl.cancel">
                <p>{{'TOPUP_CANCEL' | translate}}</p>
            </div>
        </md-content>
    </md-whiteframe>
</div>
