<md-dialog class="as-tk-dialog col-xs-96 col-sm-48 col-md-40 col-lg-32">
    <md-toolbar class="with-tools">
        <div class="md-toolbar-tools">
            <h2>{{'FEEDBACK' | translate}}</h2>
        </div>
        <div class="dialog-close" data-ng-click="ctrl.close()"></div>
    </md-toolbar>
    <md-dialog-content>
        <div class="padding-15 padding-top-30">
            <form name="feedbackForm" novalidate>
                <div class="panel-container">
                    <md-input-container class="full">
                        <label>{{'COMMONS_TYPE' | translate}}</label>
                        <md-select name="type" data-ng-model="ctrl.type" required="required">
                            <md-option data-ng-repeat="type in ctrl.feedbackTypes" data-ng-value="type.code">
                                {{type.name | translate}}
                            </md-option>
                        </md-select>
                        <div data-ng-messages="feedbackForm.type.$error" data-ng-if="ctrl.attemptedSave" role="alert">
                            <div data-ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="panel-container padding-top-30">
                    <md-input-container class="full">
                        <label>{{'COMMONS_TEXT' | translate}}</label>
                        <textarea name="text" data-ng-model="ctrl.text" rows="3" data-ng-maxlength="255"
                                  required="required"></textarea>
                        <div data-ng-messages="feedbackForm.text.$error" data-ng-if="ctrl.attemptedSave" role="alert">
                            <div data-ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                            <div data-ng-message="maxlength">{{'ERROR_MAX_LENGTH' | translate}} 255</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="panel-container padding-top-30 clear">
                    <md-button class="no-margin md-raised md-primary pull-right"
                               data-ng-click="ctrl.submitFeedback(feedbackForm)">
                        {{'FEEDBACK_SUBMIT' | translate}}
                    </md-button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>
