div.btn-prev(ng-if="ctrl.prevContent")
  div.t__icon-prev(ng-if="ctrl.touch")
  div.t__icon-prev(ng-if="!ctrl.touch", ng-click="ctrl.goTo(ctrl.prevContent)")
  div.content-description
    div.preview.cursor-pointer(ng-click="ctrl.goTo(ctrl.prevContent)", tk-background-by-key="{key: ctrl.prevContent.teaserImage.key || ctrl.prevContent.teaserVideo.thumbnailImageKey, width: 90}")
    div.more
      b(ng-click="ctrl.goTo(ctrl.prevContent)") {{ ctrl.prevContent.title }}
      div.cursor-pointer(ng-if="!ctrl.prevContent.bought && !ctrl.prevContent.manager", ng-click="ctrl.goTo(ctrl.prevContent)")
        span {{ctrl.prevContent.tickPrice}}
        span.tk-icon-currency
        span.small ({{ctrl.prevContent.tickPrice | tkConvertTicks}})
      div.show-all(ng-click="ctrl.showChannelList($event)") {{ 'CONTENT_VIEW__NAVIGATION_SHOW_ALL' | translate }}

div.btn-next(ng-if="ctrl.nextContent")
  div.content-description
    div.preview.cursor-pointer(ng-click="ctrl.goTo(ctrl.nextContent)", tk-background-by-key="{key: ctrl.nextContent.teaserImage.key || ctrl.nextContent.teaserVideo.thumbnailImageKey, width: 90}")
    div.more
      b(ng-click="ctrl.goTo(ctrl.nextContent)") {{ ctrl.nextContent.title }}
      div.cursor-pointer(ng-if="!ctrl.nextContent.bought && !ctrl.nextContent.manager", ng-click="ctrl.goTo(ctrl.nextContent)")
        span {{ctrl.nextContent.tickPrice}}
        span.tk-icon-currency
        span.small ({{ctrl.nextContent.tickPrice | tkConvertTicks}})
      div.show-all(ng-click="ctrl.showChannelList($event)") {{ 'CONTENT_VIEW__NAVIGATION_SHOW_ALL' | translate }}
  div.t__icon-next(ng-if="ctrl.touch")
  div.t__icon-next(ng-if="!ctrl.touch", ng-click="ctrl.goTo(ctrl.nextContent)")

div.content-view-card(layout="column")
  div.content__header-line
    div.content__header-line--wp
      div.content__header-line--channel-name
        a.content__header-line--channel-name__link
          img(ng-if="channel.coverImage" ng-src="{{::(channel.coverImage.key | thumbnailsS3Cdn:40:40)}}")
          img(ng-if="!channel.coverImage", ng-src="{{::('assets/images/user-icon.png' | tkAssetsCdn)}}")
          span {{channel.name}}

      div.content__header-line--button-actions
        md-button.btn-icon-32(ng-click="ctrl.shareTwitter()")
          md-icon(md-font-icon="mdi mdi-twitter")
          md-tooltip {{::('COMMONS_SHARE_TWITTER' | translate)}}
        md-button.btn-icon-32(ng-click="ctrl.shareFacebook()")
          md-icon(md-font-icon="mdi mdi-facebook")
          md-tooltip {{::('COMMONS_SHARE_FACEBOOK' | translate)}}

  md-divider.divider(style="margin-top: 10px")

  div.content-title.table
    div.table-cell {{content.title}}

  md-divider.divider
  div(ng-if="content.description", ng-bind-html="ctrl.sanitizeText(content.description)").content-view-description
  md-divider(ng-if="content.description").divider
  div.content-stats(layout="row", layout-align="center center")
    md-button.btn-icon-32.inline(ng-click="ctrl.likeContent(content)", aria-label="Button aria")
      md-icon.content-like(md-font-icon="mdi mdi-heart")
      md-tooltip {{::('CONTENT_VIEW__TOOLTIP__LIKE' | translate)}}
      span &nbsp;{{content.likes | thousands}}

    md-button.btn-icon-32.inline(ng-click="ctrl.dislikeContent(content)", aria-label="Button aria")
      md-icon.content-dislike(md-font-icon="mdi mdi-heart-broken")
      md-tooltip {{::('CONTENT_VIEW__TOOLTIP__DISLIKE' | translate)}}
      span &nbsp;{{content.dislikes | thousands}}

    md-button.btn-icon-32.inline(ng-click="ctrl.pwywContent(content)")
      md-icon(md-font-icon="mdi mdi-coin")
      md-tooltip {{::('COMMONS_PWYW' | translate)}}

    md-button.btn-icon-32.inline(ng-click="ctrl.refundContent(content)", ng-if="ctrl.canRefundContent")
      md-icon(md-font-icon="mdi mdi-history")
      md-tooltip {{::('CONTENT_VIEW__TOOLTIP__REFUND' | translate)}}

    div(flex)

    md-button.btn-icon-32.inline(ng-click="ctrl.postComment(content)", aria-label="Button aria")
      span {{content.commentCount}}&nbsp;
      md-icon(md-font-icon="mdi mdi-comment")
      md-tooltip {{'CONTENT_VIEW__TOOLTIP__WRITE_COMMENT' | translate}}
    md-menu.options
      div.tk-icon-arrow-down(layout="row", ng-click="$mdOpenMenu($event)", style="font-size:32px")
      md-menu-content(width="4")
        md-menu-item
          md-button(ng-click="ctrl.shareUrl($event)") {{::('CONTENT_MENU__SHARE_URL' | translate)}}
        md-menu-item
          md-button(ng-click="ctrl.getHtmlCode($event, content)") {{ 'COMMONS_EMBED_CONTENT' | translate }}
        md-menu-item.hide-sm.hide-md.hide-lg
          md-button(ng-click="ctrl.shareTwitter()") {{::('COMMONS_SHARE_TWITTER' | translate)}}
        md-menu-item.hide-sm.hide-md.hide-lg
          md-button(ng-click="ctrl.shareFacebook(); $event.stopPropagation()") {{::('COMMONS_SHARE_FACEBOOK' | translate)}}
        md-menu-item(ng-show="ctrl.UserService.getStatus() == ctrl.USER_STATUS.ACTIVE")
          md-button(ng-click="ctrl.flagAsInappropriate(content, $event)") {{::('CONTENT_MENU__FLAG_AS_INAPPROPRIATE' | translate)}}
        md-menu-item(ng-show="content.manager")
          md-button(ng-click="ctrl.editContent(content)") {{::('COMMONS_EDIT' | translate)}}
        md-menu-item(ng-show="content.manager")
          md-button(ng-if="!content.published", ng-click="ctrl.publishContent(content)") {{::('COMMONS_PUBLISH' | translate)}}
          md-button(ng-if="content.published", ng-click="ctrl.unPublishContent(content)") {{::('CONTENT_MENU__UN_PUBLISH' | translate)}}

  md-divider.divider
  div(ng-if="content.type == ctrl.CONTENT_TYPES.TEXT", ng-bind-html="content.contentText.text").content-text
  div(ng-if="content.type == ctrl.CONTENT_TYPES.LINK").content-link
    a(ng-href="{{content.contentLink.url}}") {{content.contentLink.url}}


  div(layout="row", ng-if="content.type == ctrl.CONTENT_TYPES.IMAGE")
    ng-gallery(images="ctrl.images", open-gallery="ctrl.openGallery", thumbs-num="ctrl.images.length")

    masonry(throttle-time="100", masonry-options="{'isFitWidth': true, 'gutter': 20}", column-width="300").content-image-grid
      md-card(ng-repeat="image in content.contentImages", ng-click="ctrl.openGallery($index)").content-image-grid-item.masonry-brick
        img(tk-refresh-masonry-after-image-loaded, ng-src="{{::(image.key | thumbnailsS3Cdn:300:'-')}}")

  div.content-video(layout="row", layout-align="center center", ng-if="content.type == ctrl.CONTENT_TYPES.VIDEO")
    div.video-container-large

      tk-video(video="content.contentVideo" ng-if="content.contentVideo.transcoded")
