<form name="playlistForm" class="panel sm">
    <div class="panel-header">
        <span>{{ 'COMMONS_PLAYLIST_ADD' | translate }}</span>
    </div>

    <div ng-if="ctrl.playlist">
        <tk-playlist-settings playlist="ctrl.playlist" playlistForm="playlistForm"></tk-playlist-settings>
    </div>

    <div class="panel-footer">
        <div class="panel-container fill-right">
            <md-button data-ng-click="ctrl.cancel()" class="md-default">{{'COMMONS_CANCEL' | translate}}</md-button>
            <md-button data-ng-click="ctrl.addPlaylist(playlistForm)"
                       data-ng-disabled="!playlistForm.$valid"
                       class="md-raised md-primary">
                {{'COMMONS_SAVE' | translate}}
            </md-button>
        </div>
    </div>

</form>