.profile-form {
  tk-avatar {
    display: block;
    margin: 0 auto;
    width: 75px;
  }
  .social-icon {
    @extend .clear;

    margin-top: 20px;

    .tk-icon-gplus,
    .tk-icon-facebook {
      font-size: 2em;
      color: #999;

      & + span {
        vertical-align: super;
        padding-left: 12px;
        color: #999;
      }
    }
  }

  input[name="phone"] {
    padding-right: 50%;
  }

  button.under {
    position: relative;
    margin: -37px 0 0;
    float: right;
  }

  .panel-footer .panel-container {
    width: 100% !important;
    margin: 0 !important;
  }
}