<div class="content-preview-card" data-layout="column">
    <div class="teaser-image"
         data-ng-if="::ctrl.content.teaserImage"
         data-layout="row" data-layout-align="center center">
        <img tk-refresh-masonry-after-image-loaded
             data-ng-src="{{::(ctrl.content.teaserImage.key | thumbnailsS3Cdn:300:'-')}}"/>
    </div>

    <div class="teaser-video"
         data-ng-if="::ctrl.content.teaserVideo"
         data-ng-class="{'play': ctrl.showVideo}"
         data-ng-click="ctrl.showVideo = true"
         data-text-play="{{ 'CONTENT_CARD__LABEL__FREE_VIDEO_PREVIEW' | translate }}"
         data-layout="row"
         data-layout-align="center center">
        <img data-ng-if="!ctrl.showVideo"
             tk-refresh-masonry-after-image-loaded
             data-ng-src="{{::(ctrl.content.teaserVideo.thumbnailImageKey | thumbnailsS3Cdn:300:'-')}}"/>
        <tk-video data-ng-if="ctrl.showVideo"
                  video="::ctrl.content.teaserVideo" auto-play="true" thumbnail-width="300">
        </tk-video>
    </div>

    <div class="card-stats" data-layout="row" data-layout-align="start center">
        <div class="channel-cover-image" data-ng-if="::ctrl.cardAsPreview">
            <img data-ng-if="::ctrl.content.channel.coverImage.key"
                 data-ng-src="{{::(ctrl.content.channel.coverImage.key | thumbnailsS3Cdn:40:40)}}"/>
            <img data-ng-if="::(ctrl.content.channel.coverImage.key == null)"
                 data-ng-src="{{('assets/images/user-icon.png' | tkAssetsCdn)}}"/>
        </div>

        <a class="channel-cover-image"
           data-ng-if="::!ctrl.cardAsPreview"
           data-ui-sref="main.channelContentList({channelId: ctrl.content.channel.id})">
            <img data-ng-if="::ctrl.content.channel.coverImage.key"
                 data-ng-src="{{::(ctrl.content.channel.coverImage.key | thumbnailsS3Cdn:40:40)}}"/>
            <img data-ng-if="::(ctrl.content.channel.coverImage.key == null)"
                 data-ng-src="{{('assets/images/user-icon.png' | tkAssetsCdn)}}"/>
            <md-tooltip data-ng-if="ctrl.content.channel.subscribed">
                {{::('COMMONS_REMOVE_FROM_FAVORITES' | translate)}}
            </md-tooltip>
            <md-tooltip data-ng-if="!ctrl.content.channel.subscribed">
                {{::('CONTENT_MENU__CHANNEL_SUBSCRIBE' | translate)}}
            </md-tooltip>
        </a>

        <div class="info" data-layout="column" flex="flex">
            <div class="info-row" flex="flex" data-layout="row" data-layout-align="space-between center">
                <div class="channel-title">
                    <div class="in-card-preview tk-icon-verified" data-ng-if="::ctrl.content.channel.verified">
                        <md-tooltip>{{::('CONTENT_CARD__TOOLTIP__VERIFIED' | translate)}}</md-tooltip>
                    </div>
                    <span data-ng-if="::ctrl.cardAsPreview">
                        {{ ::(ctrl.content.channel.name || ctrl.content.previewChannelName) }}
                    </span>
                    <a data-ng-if="::!ctrl.cardAsPreview"
                       data-ui-sref="main.channelContentList({channelId: ctrl.content.channel.id})">
                        {{ ::(ctrl.content.channel.name || ctrl.content.previewChannelName) }}
                    </a>
                </div>

                <md-menu class="options" data-ng-if="::!ctrl.cardAsPreview">
                    <!-- ng-click should be always used instead of data-ng-click. see Wiki -->
                    <div class="tk-icon-arrow-down" ng-click="$mdOpenMenu($event)" data-layout="row"></div>
                    <md-menu-content width="4">
                        <md-menu-item data-ng-show="!ctrl.content.channel.subscribed">
                            <md-button data-ng-click="ctrl.subscribeToChannel(ctrl.content.channel)">
                                {{::('CONTENT_MENU__CHANNEL_SUBSCRIBE' | translate)}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item data-ng-show="ctrl.content.channel.subscribed">
                            <md-button data-ng-click="ctrl.unsubscribeToChannel(ctrl.content.channel)">
                                {{::('COMMONS_REMOVE_FROM_FAVORITES' | translate)}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item data-ng-show="::(ctrl.UserService.getStatus() == ctrl.USER_STATUS.ACTIVE)">
                            <md-button data-ng-click="ctrl.flagAsInappropriate(ctrl.content, $event)">
                                {{::('CONTENT_MENU__FLAG_AS_INAPPROPRIATE' | translate)}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item data-ng-show="::ctrl.content.manager">
                            <md-button data-ng-click="ctrl.editContent(ctrl.content)">
                                {{'COMMONS_EDIT' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item data-ng-show="::ctrl.content.manager">
                            <md-button data-ng-if="!ctrl.content.published"
                                       data-ng-click="ctrl.publishContent(ctrl.content)">
                                {{::('COMMONS_PUBLISH' | translate)}}
                            </md-button>
                            <md-button data-ng-if="ctrl.content.published"
                                       data-ng-click="ctrl.unPublishContent(ctrl.content)">
                                {{::('CONTENT_MENU__UN_PUBLISH' | translate)}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div flex="flex" data-layout="row" data-layout-align="space-between center" class="info-row">
                <div class="stats-teaser"
                     data-ng-if="::(ctrl.content.type == ctrl.CONTENT_TYPES.TEXT)"
                     data-layout-align="start center" data-layout="row">
                    <md-icon md-font-icon="mdi mdi-format-align-left"></md-icon>
                    <span>{{::(ctrl.content.textLength | textLength)}} {{::('MINUTE_READ' | translate)}}</span>
                </div>
                <div class="stats-teaser"
                     data-ng-if="::(ctrl.content.type == ctrl.CONTENT_TYPES.IMAGE)"
                     data-layout-align="start center" data-layout="row">
                    <md-icon md-font-icon="mdi mdi-image-filter"></md-icon>
                    <span>{{::ctrl.content.imageCount}} {{::('TEASER_IMAGE_COUNT' | translate)}}</span>
                </div>
                <div class="stats-teaser"
                     data-ng-if="::(ctrl.content.type == ctrl.CONTENT_TYPES.VIDEO)"
                     data-layout-align="start center" data-layout="row">
                    <md-icon md-font-icon="mdi mdi-video"></md-icon>
                    <span>{{::(ctrl.content.videoLength | videoLength)}} {{::('VIDEO_LENGTH' | translate)}}</span>
                </div>
            </div>
        </div>
    </div>

    <md-divider></md-divider>

    <div data-layout="column">
        <div class="title">
            <i class="tk-icon-heart" data-ng-class="{'cursor-default':!ctrl.isAuth}" data-ng-click="ctrl.voteContent(ctrl.content)">
                &nbsp;&nbsp;{{ctrl.content.likes}}
                <md-tooltip data-ng-if="ctrl.isAuth">{{'CHANNEL_VOTE_PLACEHOLDER' | translate}}</md-tooltip>
            </i>
            {{::(ctrl.content.title)}}
        </div>
        <md-divider></md-divider>
    </div>
    <div class="teaser-text"
         data-ng-if="::ctrl.content.teaserText"
         data-ng-bind-html="ctrl.sanitizeText(ctrl.content.teaserText)"
         data-layout-padding>
    </div>
    <div class="view-button view-button-bought"
         data-ng-if="::(ctrl.content.bought || ctrl.content.manager)"
         data-ng-click="ctrl.viewContent(ctrl.content)"
         data-layout="row" data-layout-align="center center" data-flex-gt-md="auto">
        <span>{{ 'CONTENT_VIEW_BTN' | translate }}</span>
    </div>
    <div class="view-button view-button-not-bought"
         data-ng-if="::(!ctrl.content.bought && !ctrl.content.manager && !ctrl.contentIsFree)"
         data-ng-click="ctrl.payForContent(ctrl.content)"
         data-layout="row" data-layout-align="center center" data-flex-gt-md="auto">
        <span>{{ ::('CONTENT_VIEW_BTN' | translate) }}</span>
        <span data-ng-if="::ctrl.isAuth">&nbsp; {{::ctrl.content.tickPrice}}</span>
        <span data-ng-if="::ctrl.isAuth" class="tk-icon-currency"></span>
        <span data-ng-if="::ctrl.isAuth" class="small">(={{::(ctrl.content.tickPrice | tkConvertTicks)}})</span>
    </div>
    <div class="view-button view-button-not-bought view-button-is-free"
         data-ng-if="::(!ctrl.content.bought && !ctrl.content.manager && ctrl.contentIsFree)"
         data-ng-click="ctrl.payForContent(ctrl.content)"
         data-layout="row" data-layout-align="center center" data-flex-gt-md="auto">
        <span>{{ ::('CONTENT_VIEW_FOR_FREE_BTN' | translate) }}</span>
    </div>
    <div class="publish-button"
         data-ng-if="ctrl.content.manager && !ctrl.content.published && !ctrl.cardAsPreview"
         data-ng-click="ctrl.publishContent(ctrl.content)"
         data-layout="row" data-layout-align="center center">
        <span>{{::('COMMONS_PUBLISH' | translate)}}</span>
    </div>
</div>