<div data-infinite-scroll-disabled="!ctrl.canScroll" data-infinite-scroll="ctrl.loadMore()"
     data-ng-class="{'top-ranked__card-preview': tkTopRanked.view === 'card','top-ranked__full': tkTopRanked.view === 'full'}"
     class="top-ranked">
    <div class="top-ranked__card-preview__header">

        <div class="label">
            {{ ctrl.header }}
        </div>

        <div class="button-wp">
            <md-button data-ng-click="ctrl.pwyw()" class="md-default no-margin btn-icon-32">
                <md-icon md-font-icon="mdi mdi-coin"></md-icon>
                <md-tooltip> {{ 'COMMONS_PWYW' | translate }}</md-tooltip>
            </md-button>
        </div>

    </div>
    <div class="top-ranked__list">
        <div data-ng-if="ctrl.data.length > 0" data-ng-repeat="ranked in ctrl.data">
            <div data-ng-if="!ranked.extension" class="top-ranked__list__item">
                <div class="top-ranked__list__item--number">
                    <div class="table">
                        <div class="table-cell middle">
                            {{ $index + 1 }}
                        </div>
                    </div>
                </div>
                <div class="top-ranked__list__item--avatar">
                    <div class="table">
                        <div class="table-cell middle">
                            <tk-avatar data-avatar-url="ranked.tickser.profileImageUrl"
                                       data-avatar-class="medium"></tk-avatar>
                        </div>
                    </div>
                </div>
                <div class="top-ranked__list__item--name">
                    <div class="table">
                        <div class="table-cell middle">
                            <div class="ellipsis">{{ ranked.tickser.name }}
                                <md-tooltip data-ng-if="tkTopRanked.view === 'card'">{{ ranked.tickser.name }}
                                </md-tooltip>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-ranked__list__item--sum">
                    <div class="table">
                        <div class="table-cell middle">{{ ranked.earnedTicks }} <span class="tk-icon-currency"></span>
                        </div>
                    </div>
                </div>
                <div class="top-ranked__list__item--button">
                    <div class="table">
                        <div class="table-cell middle">
                            <md-button data-ng-click="ctrl.topUp(ranked.tickserId)"
                                       class="md-default no-margin btn-icon-32">
                                <md-icon md-font-icon="mdi mdi-arrow-up-bold-circle-outline"></md-icon>
                                <md-tooltip>{{ 'CHANNEL_TOPRANKED__TOP_UP__TOOLTIP' | translate }}</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- extension -->
            <div data-ng-if="ranked.extension" class="top-ranked__list__item">
                <div class="top-ranked__list__item--number">
                    <div class="table">
                        <div class="table-cell middle">
                            {{ $index + 1 }}
                        </div>
                    </div>
                </div>
                <div class="top-ranked__list__item--avatar">
                    <div class="table">
                        <div class="table-cell middle">
                            <tk-avatar data-avatar-url="false" data-avatar-class="medium"></tk-avatar>
                        </div>
                    </div>
                </div>
                <div class="top-ranked__list__item--name">
                    <div class="table">
                        <div class="table-cell middle">...</div>
                    </div>
                </div>
            </div>
            <!-- // extension -->
        </div>

        <div data-ng-if="ctrl.nothing" class="nothing">
            <span>{{ 'CHANNEL_TOPRANKED__NOTHING' | translate }}</span>
            <div class="icon"></div>
        </div>
    </div>
    <div data-ng-if="tkTopRanked.view === 'card'" class="top-ranked__actions">
        <md-button class="md-raised md-primary" data-ng-click="ctrl.goToFullList()">{{'COMMONS_VIEW_LIST'
            | translate}}
        </md-button>
    </div>
</div>