md-dialog(flex="20")
  md-toolbar
    div.md-toolbar-tools
      h2 {{'COMMONS_PWYW' | translate}}
      span(flex)
  md-dialog-content
    form(name='topUpForm', layout-fill, novalidate)
      div(layout='column', layout-padding)
        md-input-container
          label {{ 'COMMONS_ENTER_TICKS' | translate }}
          input(name='enteredTicks', type='number', ng-model='ctrl.enteredTicks', min="1", max="1000",
          required="true", autofocus, data-tk-input-select="true")
          div(ng-messages='topUpForm.enteredTicks.$error', ng-if='topUpForm.enteredTicks.$dirty')
            div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
            div(ng-message='min') {{'ERROR_MIN' | translate}} 1
            div(ng-message='max') {{'ERROR_MAX' | translate}} 1000


    div(layout-margin, layout='row')
            div(flex)
            md-button.md-primary(ng-click='ctrl.cancel()') {{'COMMONS_CANCEL' | translate}}
            md-button.md-raised.md-primary(ng-click='ctrl.topUpContent(topUpForm)') {{'COMMONS_OK' | translate}}
