md-dialog.as-tk-dialog.col-xs-96.col-sm-48.col-md-40.col-lg-32
  md-toolbar.with-tools
    div.md-toolbar-tools
      h2 {{'FORGOT_PASSWORD' | translate}}
    div.dialog-close(ng-click="ctrl.close()")
  md-dialog-content
    h3.md-subhead(layout-padding, layout-margin) {{'FORGOT_PASSWORD_INFO' | translate}}
    form(name='forgotPasswordForm', layout-fill, novalidate)
      div(layout='column', layout-padding)
        md-input-container.md-icon-float
          label {{'FORGOT_PASSWORD_EMAIL' | translate}}
          input(name='email', required, type='email', ng-model="ctrl.email")
          div(ng-messages='forgotPasswordForm.email.$error', ng-if='forgotPasswordForm.email.$dirty || ctrl.attemptedSave')
            div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
        div(layout="row")
          div(flex)
          md-button.md-raised.md-primary(ng-click='ctrl.submitForgotPassword(forgotPasswordForm)') {{'COMMONS_OK' | translate}}
