div.login-page-card
  div(style="min-height: 100%", layout="column", layout-align="start center").login-page-card
    div.social-button.google(flex, layout-fill, layout="row", layout-align="start center", ng-click="ctrl.loginWithGoogle()")
      md-icon(md-font-icon="mdi mdi-google-plus")
      span {{'LOGIN_LOG_IN_VIA_GOOGLE' | translate}}
      md-tooltip {{'LOGIN_GOOGLE_TOOLTIP' | translate}}
    div.social-button.facebook(style="margin-top: 10px", flex, layout-fill, layout="row", layout-align="start center", ng-click="ctrl.loginWithFacebook()")
      md-icon(md-font-icon="mdi mdi-facebook")
      span {{'LOGIN_LOG_IN_VIA_FACEBOOK' | translate}}
      md-tooltip {{'LOGIN_FACEBOOK_TOOLTIP' | translate}}
    div(layout="row", style="padding-top: 15px")
      div {{'LOGIN_OR' | translate}}
    div
      p.md-subhead {{'LOGIN_FORM_SIGN_IN_TICKSA' | translate}}
    form(style="height: initial", name="loginForm", novalidate, layout-fill, layout="column")
      md-input-container
        label {{'LOGIN_USERNAME' | translate}}
        md-icon(md-font-icon="mdi mdi-account")
        input(name='username', required, type='email', ng-model='ctrl.user.username')
        div(ng-messages="loginForm.username.$error", ng-if='loginForm.username.$dirty || ctrl.attemptedSave')
          div(ng-message="required") {{'ERROR_REQUIRED' | translate}}
          div(ng-message="email") {{'ERROR_INVALID_EMAIL_FORMAT' | translate}}
      md-input-container.md-icon-float
        label {{'COMMONS_PASSWORD' | translate}}
        md-icon(md-font-icon="mdi mdi-lock-open")
        input(ng-keyup="$event.keyCode == 13 && ctrl.login(loginForm, ctrl.user)", name='password', required, type='password', ng-model='ctrl.user.password')
        div(ng-messages='loginForm.password.$error', ng-if='loginForm.password.$dirty || ctrl.attemptedSave')
          div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
        div(ng-messages='ctrl.errors', ng-if="ctrl.attemptedSave")
          div(ng-message='invalidCredentials') {{'LOGIN_FORM_CREDENTIALS_ERROR' | translate}}
          div(ng-message='suspendedUser') {{'LOGIN_FORM_SUSPENDED_ERROR' | translate}}
          div(ng-message="passwordTooShort") {{'ERROR_SHORT_PASSWORD' | translate}}

      div(layout="column")
        div.small(flex, flex-order-xs="1", flex-order-md="1") {{'TOS_NOTICE_TEXT' | translate }}
        md-button.small(flex, flex-order-xs="2", flex-order-md="2", aria-label="Terms and Conditions", ng-click="ctrl.showTermsAndConditions()") {{'TOS_NOTICE_BUTTON' | translate}}
        md-button.md-raised.md-primary(flex, flex-order-xs="3", flex-order-md="3", aria-label="Login", ng-click='ctrl.login(loginForm, ctrl.user)') {{'LOGIN_FORM_BUTTON' | translate}}
        md-button(aria-label="Forgot Password", flex, flex-order-xs="4", flex-order-md="4", ng-click="ctrl.forgotPassword()") {{'LOGIN_FORGOT_PASSWORD' | translate}}
