<div tk-content-preview class="login-teaser-preview"
     data-ng-if="ctrl.content"
     data-content="ctrl.content"
     data-card-as-preview>
</div>

<div class="content-after-msg" data-ng-if="ctrl.error">{{ ctrl.error }}</div>