div(layout="row", layout-align="center center")
  md-card.md-whiteframe-z3(flex="50")
    md-card-content
      form(name="newPasswordForm", novalidate)
        div(layout="column")
          md-input-container
            label {{'NEW_PASSWORD_PASSWORD' | translate}}
            input(name="password", ng-model="ctrl.password", required, ng-minlength='8', type="password")
            div(ng-messages='newPasswordForm.password.$error', ng-if='newPasswordForm.password.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
              div(ng-message='minlength') {{'ERROR_SHORT_PASSWORD' | translate}}

          div(layout="row", layout-align="end center")
            md-button(ng-click='ctrl.cancel()') {{'COMMONS_CANCEL' | translate}}
            md-button.md-raised.md-primary(ng-click="ctrl.newPasswordSubmit(newPasswordForm)") {{'NEW_PASSWORD_SUBMIT' | translate}}
