div.content-page

  div.content-list(infinite-scroll-disabled="ctrl.loadingInProgress" infinite-scroll="ctrl.loadMore()", infinite-scroll-distance="0")
    masonry(throttle-time="100", masonry-options="{'isFitWidth': true, 'gutter': 20}", reload-on-show, column-width="300")
      div.masonry-brick(bindonce, ng-repeat="content in ctrl.rawContents")
        div(tk-top-ranked="{view:'card', channelId:ctrl.channelId, max:5, channelData:ctrl.channel}", ng-if="::content.topRankedCard")
        div(tk-vote-board="{view:'card', channelId:ctrl.channelId, max:5, channelData:ctrl.channel}", ng-if="::content.voteBoardCard")
        div(tk-content-preview, ng-if="!content.topRankedCard && !content.voteBoardCard", content="content")

  div(layout="row", layout-align="center center", ng-show="ctrl.loadingInProgress", layout-fill, flex)
    md-progress-circular(md-mode="indeterminate")
