html
    head
        meta(charset="utf-8")

        //facebook
        meta(property="og:url", content="#{data.url}")
        meta(property="og:type", content="website")
        meta(property="og:title", content="#{data.title}")
        meta(property="og:description", content="#{data.description}")
        if (data.teaserImage)
            meta(property="og:image", content="#{data.teaserImage}")
        //if (data.teaserVideo)
        //    meta(property="og:video", content="#{data.teaserVideo.url}")
        //    meta(property="og:video:type", content="video/mp4")
        //    meta(property="og:video:width", content="#{data.teaserVideo.width}")
        //    meta(property="og:video:height", content="#{data.teaserVideo.height}")


        //twitter
        meta(name="twitter:site" content="@ticksadev")
        meta(name="twitter:title" content="#{data.title}")
        meta(name="twitter:description" content="#{data.description}")
        if (data.teaserImage)
            meta(name="twitter:card" content="summary_large_image")
            meta(name="twitter:image", content="#{data.teaserImage}")
        else
            meta(name="twitter:image", content="#{data.defaultImage}")
            meta(name="twitter:card" content="summary")
        //if (data.teaserVideo)
        //    meta(name="twitter:player:width" content="#{data.teaserVideo.width}")
        //    meta(name="twitter:player:height" content="#{data.teaserVideo.height}")
        //    meta(name="twitter:player:stream" content="#{data.teaserVideo.url}")
        //    meta(name="twitter:player:stream:content_type", content="video/mp4; codecs=&quot;avc1.42E01E1, mp4a.40.2&quot;")
