div(layout="column").history

  div.history-title {{'HISTORY_TITLE' | translate}}
  md-card(ng-repeat="(key, values) in ctrl.historyPages", layout="column", layout-padding).history-card
    div.history-day {{::key | dayGroup}}
    div.history-item(ng-click="ctrl.goToContent(item.content)", ng-repeat="item in ::values", layout="row", layout-sm="column", layout-xs="column", layout-align="start start", layout-align-xs="start center", layout-align-sm="start center")
      div(flex-order-sm="2", flex-order-xs="2", style="margin-right: 20px; width: 100px; height: 100px", ng-if="::item.content.teaserImageKey", tk-background="{{::item.content.teaserImageKey | thumbnailsS3Cdn:100:100}}")
      div(flex, flex-order-sm="3", flex-order-xs="3", ) {{::item.content.teaserText}}
      div.history-date(flex-order-sm="1", flex-order-xs="1") {{::item.createdAt | date:'medium'}}
