 <div class="panel sm">
    <div class="panel-header">
        <a data-ui-sref="main.channelContentList({channelId: ctrl.channel.id})" style="text-decoration: none;">{{ctrl.channel.name}}</a>

        <md-button data-ng-click="ctrl.openChannelSettings()" class="md-default no-margin btn-icon-32">
            <md-icon class="mdi mdi-settings"></md-icon>
            <md-tooltip>{{'COMMONS_CHANNEL_SETTINGS' | translate}}</md-tooltip>
        </md-button>
    </div>

    <div class="panel-legend sm-bottom">{{ 'CONTENT_FAST_ADD__HEADER' | translate }}</div>

    <div class="panel-tools-board">
        <div class="table">
            <div class="table-row">
                <div data-ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.TEXT)" class="tool-item">
                    <i class="t__icon-text"></i>
                    <span>{{'COMMONS_TEXT' | translate}}</span>
                    <md-tooltip>{{'CONTENT_FAST_ADD__TYPE__TEXT__TOOLTIP' | translate}}</md-tooltip>
                </div>
                <div data-ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.IMAGE)" class="tool-item">
                    <i class="t__icon-photos"></i>
                    <span>{{'COMMONS_PHOTOS' | translate}}</span>
                    <md-tooltip>{{'CONTENT_FAST_ADD__TYPE__PHOTOS__TOOLTIP' | translate}}</md-tooltip>
                </div>
                <div data-ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.VIDEO)" class="tool-item">
                    <i class="t__icon-video"></i>
                    <span>{{'COMMONS_VIDEO' | translate}}</span>
                    <md-tooltip>{{'CONTENT_FAST_ADD__TYPE__VIDEO__TOOLTIP' | translate}}</md-tooltip>
                </div>
                <div data-ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.LINK)" class="tool-item">
                    <i class="t__icon-link"></i>
                    <span>{{'COMMONS_LINK' | translate}}</span>
                    <md-tooltip>{{'CONTENT_FAST_ADD__TYPE__LINK__TOOLTIP' | translate}}</md-tooltip>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-sortable="ctrl.sortableOptions" class="channel-content">
        <div data-ng-repeat="content in ctrl.contents" class="item-wrapper">
            <div class="item">
                <div data-tk-background-by-key="{key: content.teaserVideo.thumbnailImageKey || content.teaserImage.key, width: 300}" class="preview">
                    <img data-ng-src="{{ content.teaserVideo.thumbnailImageKey || content.teaserImage.key | thumbnailsS3Cdn:300:'-' }}">
                    <div data-ng-class="{'link': content.type == ctrl.CONTENT_TYPES.LINK, 'photos': content.type == ctrl.CONTENT_TYPES.IMAGE, 'text': content.type == ctrl.CONTENT_TYPES.TEXT, 'video': content.type == ctrl.CONTENT_TYPES.VIDEO}" class="type-tooltip">
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.TEXT">{{ 'COMMONS_TEXT' | translate }}</span>
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.IMAGE">{{ 'COMMONS_PHOTOS' | translate }}</span>
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.LINK">{{ 'COMMONS_LINK' | translate }}</span>
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.VIDEO">{{ 'COMMONS_VIDEO' | translate }}</span>
                    </div>
                </div>

                <div class="mobile-drag-handler sort-handle"></div>

                <!-- More description -->
                <div class="description">
                    <div class="title">
                        <i data-ng-if="content.verified" class="tk-icon-verified"></i>
                        <i data-ng-if="content.haveCondition" class="tk-icon-content-link"><md-tooltip>{{ 'CONTENT_CONDITION_ENABLED_TOOLTIP' | translate }}</md-tooltip></i>
                        <i data-ng-if="content.haveGeographicLimited" class="tk-icon-globe"><md-tooltip>{{ 'CONTENT_GEOGRAPHIC_ENABLED_TOOLTIP' | translate }}</md-tooltip></i>
                        {{ content.title | cut:true:64}}
                        <span>
                            <md-menu class="options">
                                <!-- ng-click should be always used instead of data-ng-click. see Wiki -->
                                <div class="tk-icon-arrow-down" data-layout="row" ng-click="$mdOpenMenu($event)"></div>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button data-ng-click="ctrl.getHtmlCode($event, content)"> {{ 'COMMONS_EMBED_CONTENT' | translate }}</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button data-ng-click="ctrl.editContent(content)"> {{ 'COMMONS_EDIT' | translate }}</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button data-ng-click="ctrl.deleteContent($event, content)"> {{ 'COMMONS_DELETE' | translate }}</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </span>
                    </div>
                    <div class="preview-text fix-height-40" data-ng-bind-html="ctrl.sanitizeText(content.teaserText)"></div>
                    <div class="sub-tools">
                        <div class="sub-tools__price">{{content.tickPrice}} <i class="tk-icon-currency"></i></div>
                        <div class="sub-tools__time-ago">| {{ content.createdAt | timeAgo }} |</div>
                        <md-switch class="md-primary" md-no-ink aria-label="Switch content publish" ng-model="content.published" ng-change="ctrl.changePublish(content)">
                            {{ 'COMMONS_PUBLISH' | translate }}
                        </md-switch>
                    </div>
                </div>
                <!-- End more description -->

                <div class="actions">
                    <div class="desktop-drag-handler sort-handle">
                        <md-tooltip>{{ 'COMMONS_SORT_TOOLTIP' | translate }}</md-tooltip>
                    </div>
                    <div data-ng-click="ctrl.viewContent(content)" class="btn view">{{'CONTENT_VIEW_BTN' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
