<md-sidenav md-component-id="notification-sidebar" class="md-sidenav-right md-whiteframe-z2">
    <div layout="row" layout-align="center center" layout-fill flex
         ng-show="loadingInProgress">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-content>
        <md-list ng-show="!loadingInProgress">
            <md-subheader class="md-no-sticky">
                {{'NOTIFICATIONS' | translate}}
                <span ng-if="notifications.length == 0">&nbsp;({{'NOTIFICATIONS_NO_NEW' | translate}})</span>
            </md-subheader>
            <md-list-item ng-if="notifications" ng-repeat="item in notifications" class="md-3-line">
                <div class="free-ticks-count" data-ng-if="item.freeTicksCount > 0">x{{ item.freeTicksCount }}</div>
                <div layout="column" class="md-list-item-text">
                    <span class="md-subhead">{{ item.title }}</span>
                    <p>{{ item.content }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">
                {{'NOTIFICATIONS_INVITES' | translate}}
                <span ng-if="invites.length == 0">&nbsp;({{'NOTIFICATIONS_NO_NEW_INVITES' | translate}})</span>
            </md-subheader>
            <md-list-item ng-if="invites" ng-repeat="item in invites" class="md-3-line">
                <img ng-if="item.tickser.profileImageUrl" ng-src="{{item.tickser.profileImageUrl}}" class="md-avatar"/>
                <md-icon ng-if="!item.tickser.profileImageUrl" md-font-icon="mdi mdi-account" style="font-size: 2em"></md-icon>
                <div layout="column" class="md-list-item-text">
                    <span class="md-subhead">{{ item.title }}</span>
                    <p>{{ item.content }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">
                {{'NOTIFICATIONS_MESSAGES' | translate}}
                <span ng-if="messages.length == 0">&nbsp;({{'NOTIFICATIONS_NO_NEW_MESSAGES' | translate}})</span>
            </md-subheader>
            <md-list-item ng-if="invites" ng-repeat="item in messages" class="md-3-line">
                <img ng-if="item.tickser.profileImageUrl" ng-src="{{item.tickser.profileImageUrl}}" class="md-avatar"/>
                <md-icon ng-if="!item.tickser.profileImageUrl" md-font-icon="mdi mdi-account" style="font-size: 2em"></md-icon>
                <div layout="column" class="md-list-item-text">
                    <span class="md-subhead">{{ item.title }}</span>
                    <p>{{ item.content }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</md-sidenav>
