.cc- {
  // .cc-type
  &type {
    @extend .clear;

    // .cc-type-select-wrapper
    &-select-wrapper {
      float: left;
      width: 50%;

      md-input-container {
        margin: 18px 0 0;
      }
    }

    // .cc-type-action
    &-action {
      float: left;
      width: 50%;

      text-align: right;

      // .cc-type-action button
      button {
        font-weight: 400 !important;
        font-size: .8em;
        background: rgb(249, 249, 249);
        color: rgb(140, 138, 138);
        padding: 0 20px;
        margin: 16px 0 0;
      }
    }
  }

  // .cc-action
  &action {
    display: none;
  }

  // .cc-search
  &search {

    // .cc-search md-autocomplete
    md-autocomplete {
      display: block;
      width: 100%;
      //margin: 0;

      // .cc-search md-autocomplete md-input-container
      md-input-container {
        position: relative;
        margin-bottom: 0;

        // .cc-search md-autocomplete md-input-container:before
        &:before {
          position: absolute;
          color: rgba(0, 0, 0, 0.4);
          left: 8px;
          top: 12px;
        }

        // .cc-search md-autocomplete md-input-container label,
        // .cc-search md-autocomplete md-input-container .md-input
        label,
        .md-input {
          padding-left: 36px !important;
        }

        // .cc-search md-autocomplete md-input-container.md-input-focused,
        // .cc-search md-autocomplete md-input-container.md-input-has-value,
        &.md-input-focused,
        &.md-input-has-value {
          label {
            transform: translate3d(10px, 10px, 0) scale(0.75);
          }
        }
      }

      // .cc-search md-autocomplete md-progress-linear
      md-progress-linear {
        position: absolute;
        top: 0;
        margin-top: 49px;
      }
    }

    // .cc-search-image-preview
    &-item {
      display: table;
      table-layout: fixed;
      width: 100%;

      // .cc-search-image-preview-inside
      &-inside {
        display: table-row;


        &__preview,
        &__description {
          display: table-cell;
          vertical-align: middle;
        }

        // .cc-search-image-preview-inside__preview
        &__preview {
          width: 60px;

          // .cc-search-image-preview-inside__preview__image
          &__image {
            width: 48px;
            height: 48px;
            background: {
              position: 50% 50%;
              size: cover;
            };
            border-radius: 50%;
          }
        }

        // .cc-search-image-preview-inside__description
        &__description {
          width: auto;

          @extend .ellipsis;
        }
      }
    }
  }
}