@media (min-width: 768px) {
  .cc-grid-display__ {

    // .cc-grid-display__table
    &table {
      display: table;
      table-layout: fixed;
      width: 100%;

      // .cc-grid-display__table-row
      &-row {
        display: table-row;
      }

      // .cc-grid-display__table-cell
      &-cell {
        display: table-cell;
        vertical-align: top;
      }
    }
  }

  .cc- {

    // .cc-type
    &type {
      width: 150px;

      // .cc-type-select-wrapper
      &-select-wrapper {
        float: none;
        width: auto;
      }

      // .cc-type-action
      &-action {
        display: none;
      }
    }

    // .cc-search
    &search {
      width: auto;
    }

    // .cc-action
    &action {
      display: table-cell;
      vertical-align: top;
      width: 150px;
      text-align: right;

      // .cc-action button
      button {
        font-weight: 400 !important;
        font-size: .8em;
        background: rgb(249, 249, 249);
        color: rgb(140, 138, 138);
        padding: 0 20px;
        margin: 16px 0 0;
      }
    }
  }
}