div(layout="column", ng-if="ctrl.content")

  tk-content-view(style="width: 100%", channel="ctrl.channel", content="ctrl.content")

  div(layout="column", layout-fill, layout-padding, reload-on-resize, column-width="300", infinite-scroll-disabled="ctrl.loadingInProgress" infinite-scroll="ctrl.loadMore()", infinite-scroll-distance="0")

    div(ng-repeat="comment in ctrl.rawComments", style="padding: 0;width: 100%;")
      tk-comment-view-card(comment="comment")

  div(layout="row", layout-align="center center", ng-show="ctrl.loadingInProgress", layout-fill, flex)
    md-progress-circular(md-mode="indeterminate")

div(layout="column", ng-if="ctrl.error")
  div.content-after-msg {{ ctrl.error }}