videogular(vg-player-ready="onPlayerReady($API)", ng-click="$event.stopPropagation()", vg-update-state="updateState($state)")
  vg-media(vg-src="config.sources", vg-responsive="true", vg-preload="config.preload")
  vg-buffering
  vg-controls(vg-autohide="config.plugins.controls.autoHide", vg-autohide-time="config.plugins.controls.autoHideTime")
    vg-play-pause-button
    vg-time-display {{currentTime | date: 'mm:ss'}}
    vg-scrub-bar
      vg-scrub-bar-current-time
      vg-scrub-bar-buffer
    //tk-stream-switcher
    vg-volume
      vg-mute-button
      vg-volume-bar
    vg-fullscreen-button
  div.poster(data-ng-class="{'show':showPoster}", data-tk-background-by-key="{key: video.thumbnailImageKey, responsive:true, width: thumbnailWidth, height: thumbnailHeight}")

