md-card
  md-card-content
    h2.md-title {{'EMAILS_UNSUBSCRIBE_TITLE' | translate}}
    md-switch.md-primary(ng-model='ctrl.subscription', ng-change='ctrl.onChange(ctrl.subscription)', ng-disabled='!ctrl.attemptRequests')
      span(ng-show='ctrl.subscription') {{'EMAILS_SUBSCRIBED' | translate}}
      span(ng-show='!ctrl.subscription') {{'EMAILS_UNSUBSCRIBED' | translate}}
  md-card-actions(layout='row', layout-align='end center')
    md-button.md-button.md-ink-ripple(ng-click='ctrl.close()') {{'COMMONS_CLOSE' | translate}}
