md-card
  md-card-content
    h2.md-title Reply
    form(name='replyForm', novalidate='novalidate')
      div(layout='column')
        md-input-container(flex='100')
          label {{'EMAILS_REPLY_TEXT' | translate}}
          textarea(name='replyText', rows='4', ng-required='true', ng-model='ctrl.replyText')
          div(ng-messages='form.$error', ng-if='form.$dirty || form.$invalid')
            div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
  md-card-actions(layout='row', layout-align='end center')
    md-button(ng-click='ctrl.cancel()') {{'COMMONS_CANCEL' | translate}}
    md-button.md-raised.md-primary(ng-click='ctrl.reply(replyForm)', ng-disabled='replyForm.$invalid || !replyForm.$dirty')
      | {{'EMAILS_REPLY_BTN' | translate}}
