div(layout='row')
  div(flex='')
  div(flex='')
    div(layout='row', layout-align='center center')
      a(href='/#/contents')
        img(ng-src="{{'assets/images/ticksaLogo.png' | tkAssetsCdn}}")
    md-content.md-padding.layout-fill
      ui-view
  div(flex='', hide-sm='')
