.search-handler {
  background: rgba(0,0,0,.5);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 68px;

  cursor: default;

  visibility: hidden;
  opacity: 0;

  transition: visibility 350ms, opacity 350ms;

  &.in {
    visibility: visible;
    opacity: 1;
  }

  div {
    color: white;
    text-align: center;
    padding: 40px 20px 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

header.ref {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 68px;

  @extend .as-table;

  &.blue {
    background-color: $color_sky_blue;
  }

  & + .content-page {
    padding-top: 68px;
    background-color: $color_milk;
  }

  .title {
    span {
      cursor: default;
    }
    a, span {
      width: 20%;
      color: white;
      font-size: 1.4em;
      float: left;
      padding: 18px 10px;
      margin-left: 5px;
      font-weight: 100;

      display: none;

      @extend .ellipsis;
    }
  }

  .logotype-wrapper {
    width: 128px;
    float: left;

    display: none;
  }

  .logotype {
    width: 100%;
    height: 68px;

    display: block;

    background: {
      image: url('../assets/images/ticksa-white.png');
      repeat: no-repeat;
      position: 50% 50%;
    };
  }

  md-menu {
    float: left;
    padding: 0;
  }

  .button {
    width: 42px;
    height: 68px;
    float: left;
    position: relative;

    font-size: 1.32em;
    color: white;
    background-color: transparent;

    cursor: pointer;

    transition: background-color 350ms;

    &.margin {
      margin-left: 5px;
    }

    &.tk-icon-filter::before,
    &.tk-icon-search::before,
    &.tk-icon-facebook::before,
    &.tk-icon-gplus::before,
    &.tk-icon-login::before,
    &.tk-icon-notify::before,
    &.tk-icon-user::before,
    &.tk-icon-wallet::before,
    &.tk-icon-share::before,
    &.tk-icon-favorite-add::before,
    &.tk-icon-favorite-remove::before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
    }

    &.tk-icon-filter {
      &.used::after {
        content: '\e80d';
      }
      &::after {
        position: absolute;
        right: 4px;
        bottom: 20px;
        font-size: .6em;
        color: #adff2f;
      }
    }

    &.tk-icon-notify {
      .count-wrapper {
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;
        text-align: center;

        span {
          display: inline-block;
          background: #ea4343;
          box-shadow: inset 1px 1px 1px rgba(0,0,0,.3);
          border-radius: 8px;
          font-size: 0.5em;
          padding: 1px 6px;
          height: 16px;
          min-width: 16px;
        }
      }
    }

    &.wallet {
      display: none;
      width: auto;
      padding: 0 12px;
      line-height: 68px;
      margin: 0 14px;

      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 32px;
        background-color: rgba(255,255,255,.4);
        top: 50%;
        margin-top: -16px;
      }

      &::before {
        left: -7px;
      }

      &::after {
        right: -7px;
      }

      b {
        font-weight: 400;
        font-size: 1em;
      }

      .tk-icon-currency {
        position: relative;
        top: -2px;
        font-size: 0.7em;
      }
    }

    &.avatar {
      width: auto;
      padding: 0 5px;

      tk-avatar {
        position: relative;
        top: 22%;
      }
    }

    &.tk-icon-filter {
      margin-left: 5px;

      &.in::before {
        content: '\e809';
      }
    }

    &:hover, &:focus {
      background-color: rgba(255,255,255,.12);
    }
  }

  .search-form {
    display: none;
    float: left;

    &.xs-in {
      display: block;
      width: 94%;
      margin: 0 3%;
    }

    &.tk-icon-search {
      position: relative;

      &::before {
        position: absolute;
        color: white;
        left: 8px;
        top: 50%;
        margin-top: -8px;
        opacity: .5;
      }
    }

    md-input-container {
      width: 100%;
      margin: 15px 0;

      label,
      .md-input {
        color: white;
        border-color: rgba(255,255,255,.5);
        padding-left: 36px;
      }

      &.md-input-focused,
      &.md-input-has-value {
        label {
          transform: translate3d(10px, 10px, 0) scale(0.75);
        }
      }

      .search-cancel {
        position: absolute;
        height: 32px;
        width: 32px;
        top: 0;
        right: 2px;

        text-align: center;
        line-height: 32px;
        color: white;
        background-color: rgba(255,255,255,0);

        cursor: pointer;

        transition: background-color 350ms;

        &:hover, &:focus {
          background-color: rgba(255,255,255,.12);
        }
      }
    }
  }

  .show-search-form {
    display: none;
  }

  .pull-right {
    margin-right: 5px;
  }

  .toggle-menu-bar  + .logotype-wrapper {
    display: none;
    margin: 0 5px;
    width: 116px;
  }
}

.toggle-menu-bar {
  width: 68px;
  height: 68px;
  top: 0;
  left: 0;
  padding-top: 23px;
  float: left;

  cursor: pointer;

  transition: padding 150ms ease-in-out, background 150ms ease-in-out;

  &:not(.dark){
    background: rgba(255,255,255,.15);
  }

  &:not(.in):hover {
    padding-top: 21px;

    div + div {
      margin-top: 10px;
    }
  }

  &.in {
    div {
      &:first-child {
        transform: rotate(45deg) translate(7px, 7px) scale(1.35, 1);
      }
      &:nth-child(2) {
        transform: translate(-62px, 0px);
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg) translate(7px, -7px) scale(1.35, 1);
      }
    }
  }

  &.dark {
    margin-right: 15px;

    div {
      background-color: #bbb;
    }
  }

  div {
    width: 40%;
    height: 2px;
    margin: 0 auto;

    background-color: #fff;

    transition: all 150ms ease-in-out;

    & + div {
      margin-top: 8px;
    }
  }
}