@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 359px),
(min--moz-device-pixel-ratio: 2) and (max-width: 359px),
(-o-min-device-pixel-ratio: 2/1) and (max-width: 359px),
(min-device-pixel-ratio: 2) and (max-width: 359px),
(min-resolution: 192dpi) and (max-width: 359px),
(min-resolution: 2dppx) and (max-width: 359px) {
  header.ref {
    .button {
      font-size: 1.1em;

      &::before {
        margin: -8px 0 0 -8px;
      }
    }
  }
}

@media (min-width: 360px) {
  header.ref {
    .logotype-wrapper {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  header.ref {
    .logotype-wrapper {
      width: 128px;
      margin: 0 20px;
    }

    .search-form {
      display: block;
      width: 240px;
    }

    .pull-right {
      margin-right: 20px;
    }

    .button {
      &.margin {
        margin-left: 0;
      }
      &.tk-icon-filter {
        margin-right: 20px;
        margin-left: 0;
      }
      &.tk-icon-search {
        display: none;
      }
      &.tk-icon-wallet {
        display: none;
      }
      &.wallet {
        margin: 0 14px;
        display: block;
      }
    }

    .toggle-menu-bar {
      & + .logotype-wrapper {
        display: block;

        & + .button.tk-icon-filter {
          margin-left: 15px;
        }
      }
    }

    .title {
      a,
      span {
        margin-left: 15px;
        max-width: 50%;
        width: auto;
        display: block;
      }
    }
  }
}

@media (min-width: 970px) {
  header.ref {
    .search-form {
      width: 420px;
    }
  }
}

@media (min-width: 1200px) {
  header.ref {
    .search-form {
      width: 680px;
    }
    .title {
      a,
      span {
        margin-left: 15px;
        max-width: 70%;
        width: auto;
      }
    }
  }
}