div(layout="row", layout-margin, layout-padding, layout-fill, layout-align="center start", ng-if='$state.current.name == "main.channels"')
  md-card(flex-sm="100", flex-md="80", flex-gt-md="60")
    md-card-content
      md-list
        div(layout="row")
          md-subheader.md-no-sticky {{ctrl.channels.length}} {{'CHANNEL_LIST__LABEL__CHANNELS' | translate}}
          div(flex)
          md-button.md-primary(ng-click='ctrl.addChannel()') {{'COMMONS_CHANNEL_ADD' | translate}}
        //md-divider
        div(ng-repeat='channel in ctrl.channels', layout="row")
          md-list-item.md-padding.md-1-line(ng-click="ctrl.openChannel(channel)", flex)
            img.md-avatar(ng-if="channel.coverImage", ng-src="{{channel.coverImage.key | s3cdn}}")
            img.md-avatar(ng-if="!channel.coverImage",ng-src="{{'assets/images/user-icon.png' | tkAssetsCdn}}", style="2em")
            p {{channel.name}}
          div(layout="row", layout-gt-lg="row", layout-align="end center")
            //md-button(ng-click='ctrl.channelMembers(channel, $event)') {{'CHANNEL_MANAGE_MEMBERS_OPTION' | translate}}
            md-button(ng-click='ctrl.channelDetails(channel)') {{'SETTINGS' | translate}}

ui-view(flex)
