@import "sass/variables";
@import "sass/mixin";
@import "sass/icons";

html {
  overflow-x: hidden;
  background-color: transparent;
}

body {
  background: {
    position: 50% 50%;
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
  }
}

button, select, html, textarea, input {
  font-family: 'Open Sans', sans-serif;
}

md-icon, button, div {
  &:focus, &:active, &:hover {
    outline: 0;
  }
}

a {
  color: $color_ticksa;
  &:hover {
    opacity: 0.9;
  }
  &, &:hover, &:visited {
    text-decoration: none;
  }
}

// bower:scss
// endbower

.google-color {
  color: $color_google !important;
}

.facebook-color {
  color: $color_facebook !important;
}

.red-color {
  color: $color_red !important;
}

.grid {
  margin: 0 auto;
  width: 100%;
  height: 100%;

  .grid-item {
    float: left;
    width: 300px;
  }
}

.md-button {
  font-size: 14px;
  font-weight: 600 !important;
  box-shadow: none !important;
  border-radius: 0;
}

.file-select-container {
  cursor: pointer;
  width: 170px;
  border: 1px solid $color_light_gray;

  .file-select-btn {
    height: 34px;
    background: $color_light_gray;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: white;;
    line-height: 32px;
    text-align: center;
  }

  &:hover .file-select-btn {
    background: $color_sky_blue;
  }

  .file-selected-btn {
    background: $color_light_green !important;
  }
}

.content-details-container {
  @extend .box-shadow;
  margin: 10px;
  padding: 10px;
  background: white;

  .checkbox-custom div.md-icon {
    border-color: $color_sky_blue;
  }

  .content-details-actions .md-button {
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    box-shadow: none;
  }
}

.account-profile {
  @extend .box-shadow;
  margin: 10px;
  padding: 10px;
  background: white;

  .profile-image {
    width: auto;
    max-width: 68px;
    height: auto;
    max-height: 68px;
  }

  .title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .subtitle {
    font-size: 13px;
    opacity: 0.3;
  }

  .country-autocomplete md-input-container {
    padding: 0;
  }

  .language-information {
    margin-top: 50px;
  }

  .social-information {
    .social-icon {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding-bottom: 10px;

      md-icon {
        color: $color_gray;
        margin-left: 0;
        margin-right: 0;
        font-size: 38px;
      }

      div {
        color: $color_gray;
        padding-top: 15px;
        padding-left: 15px;
        font-size: 19px;
      }
    }

    .social-actions {
      padding-top: 15px;
    }
  }
}

.sidebar {
  background-color: white;
  box-shadow:
          0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);

  width: 252px;

  position: absolute;
  top: 0;
  bottom: 0;

  .sidebar-title {
    height: 68px;

    md-icon {
      color: darken($color_light_gray, 10%);
      font-size: 20px;
      padding-left: 15px;
      cursor: pointer;
    }

    img {
      height: 22px;
    }
  }

  .sidebar-item {
    font-size: 14px;
    height: 50px;
    background: white;
    cursor: pointer;

    &:hover, &.sidebar-item-selected {
      background: #fafafa;
    }

    .count {
      color: white;
      font-weight: bold;
      font-size: 11px;
      text-align: center;
      width: 17px;
      height: 16px;
      border-radius: 25%;
      background: $color_sky_blue;
    }

    md-icon {
      padding-left: 15px;
      font-size: 18pt;
    }
  }
}

.sidebar-extra {
  width: 384px;
  background: white;
  overflow: hidden;
  position: absolute;
  top: 64px;
  left: 252px;
  z-index: 5;
  border-left: 1px solid $color_light_gray;
  box-shadow: 7px 1px 5px rgba(0, 0, 0, 0.05), 2px 1px 5px rgba(0, 0, 0, 0.24);
}

.sidebar-extra-items {
  height: 50px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 14px;

  .no-items {
    text-align: center;
  }

  .channel-name {
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
  }

  .channel-actions {
    padding-left: 5px;

    i {
      color: $color_dark_gray;
      background: white;
      padding-top: 2px;
      padding-left: 16px;
      text-align: center;
      line-height: 1.7;
    }

    md-icon {
      color: $color_dark_gray;
      background: white;
      text-align: center;
      line-height: 1.7;
    }
  }

  md-icon {
    color: white;
    line-height: 1.5;
    text-align: center;
    background: $color_dark_gray;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
  }
}

.play-icon:after {
  position: absolute;
  opacity: 0.8;
  content: '';
  width: 100%;
  height: 100%;
  background: {
    image: url("../assets/images/play-icon-64.png");
    position: center;
    repeat: no-repeat;
    color: transparent;
  }

  top: 50%;
  left: 50%;
  margin: -114px 0 0 -150px;

  z-index: 2;
  background-size: 64px;
}

.image-item > img ~ .filename {
  text-align: center;
  font-size: 13px;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  margin: 0 auto 20px auto;
}

.content-preview-card {
  @extend .box-shadow;
  width: 300px;
  margin: 20px 20px 0 20px;
  text-align: left;
  background: white;

  .view-button {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    height: 47px;
    font-size: 18px;
    transition: background 0.4s ease-out;

    &:hover {
      background: $color_sky_blue;
    }
  }

  .teaser-video {
    min-height: 50px;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
    }

    tk-video {
      width: 100%;
      height: 100%;
    }

    &:not(.play)::before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      opacity: .75;

      background: {
        color: rgba(0,0,0,.5);
        image: url($icon_play);
        repeat: no-repeat;
        position: 50% 40%;
        size: 64px;
      };
    }

    &:not(.play)::after {
      content: attr(data-text-play);
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;

      margin-top: 28px;

      text-align: center;
      color: white;
      font-size: 0.8em;
    }

    &.play::before,
    &.play::after {
      display: none;
    }
  }

  .teaser-image {
    min-height: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  .card-stats {
    height: 40px;
    min-height: 40px;
    padding: 7px 10px 5px 8px;

    .channel-cover-image {
      width: 26px;
      height: 26px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      padding-left: 7px;
      color: $color_dark_gray;
      height: 36px;

      .info-row {
        height: 12px;
        margin-top: -5px;
      }

      .channel-title {
        white-space: nowrap;
        overflow: hidden;
        max-width: 220px;
        font-weight: 600;
        font-size: 12px;;
        color: #000;
        margin-top: 6px;
      }

      .options {
        padding: 0;

        .circle-container {
          cursor: pointer;
          height: 20px;
          padding-top: 7px;
        }
        .circle {
          width: 4px;
          height: 4px;
          margin-left: 2px;
          border-radius: 10px;
          border: solid 1px $color_dark_gray;
        }
      }

      .stats-teaser {
        font-size: 10px;
        color: $color_dark_gray;

        md-icon {
          font-size: 9px;
          line-height: 25px;
          margin-right: 2px;
        }
      }
    }
  }

  .title {
    font-size: 11px;
    font-weight: bold;
    padding: 10px;

    i {
      font-weight: normal;
      font-size: 1.2em;
      font-style: normal;
      color: #aaa;
      display: inline-block;
      border-right: 1px solid #e1e1e1;
      padding-right: 7px;
      margin-right: 7px;
      outline: 0;
    }

    i:not(.cursor-default):hover {
      cursor: pointer;
      color: #eb0c0c;
    }
  }

  .teaser-text {
    word-wrap: break-word;
    font-size: 11px;
    padding: 5px 10px 10px;
    text-align: left;
    direction: ltr;
  }

  .tk-icon-arrow-down {
    cursor: pointer;
    visibility: hidden;
  }

  &:hover .tk-icon-arrow-down {
    visibility: visible;
  }
}

.view-button-bought {
  background: $color_light_green;
}

.view-button-not-bought {
  background: $color_dark_gray;
}

.publish-button {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  background: $color_sky_blue;
  cursor: pointer;
  height: 47px;
}

.media-add-card {
  width: 300px;
  margin-bottom: 20px;
  @extend .box-shadow;

  .title {
    color: $color_medium_gray;
    padding: 10px;
    font-size: 15px;
    height: 40px;
  }

  .buttons-row {
    padding: 20px;
    min-height: 87px;
  }

  @include button-content-type();

  .upload-info {
    font-size: 13px;
  }
}

.content-add-card {
  width: 300px;
  margin: 20px 0 0 20px;
  @extend .box-shadow;
  background: white;

  .title {
    color: $color_medium_gray;
    padding: 10px;
    font-size: 15px;
    height: 40px;
  }

  .buttons-row {
    padding: 20px;
    min-height: 87px;
  }

  @include button-content-type();
}

.main-view,
.stretch-height,
.md-dialog-is-showing {
  height: 100%;
}

.ticks,
.dashboard-featured {
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  h6 {
    margin-top: 10px;
  }
}

.wide-select md-select-label {
  display: flex;
  flex: 1;
}

.sidebar-item {
  margin: 0;
  border-radius: 0;
}

.html-editor {
  width: 100%;
}

.picker {
  .btn-upload {
    min-height: 50px;
  }
  .file-data {
    height: 100%;
    min-height: 200px;

    tk-file-upload {
      display: block;
    }
  }

  .image-item {
    transition: all .2s ease-in-out;
    cursor: pointer;

    md-icon {
      color: $color_sky_blue;
      font-size: 20px;
      cursor: pointer;
      z-index: 22;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }
  }

  .image-item-selected {
    transition: all .2s ease-in-out;
    transform: scale(0.9);
  }
}

.content-preview {
  .meta {
    color: $color_medium_gray;

    md-icon {
      padding-right: 10px;
      color: $color_medium_gray;
    }

    span {
      vertical-align: top;
    }
  }

  .card-status {
    margin-top: 20px;

    div {
      margin-right: 10px;

      span {
        margin-left: 4px;
        line-height: 1.5;
        font-size: 12px;
        vertical-align: top;
      }
    }

    div.price {
      font-size: 14px;
      color: $color_gray_oh;
      font-weight: 500;
    }
  }
}

.content-view-card {
  &,
  .content-text,
  .content-view-description,
  .content-link {
    padding-top: 10px;
  }

  .content-title.table {
    height: 88px;

    > .table-cell {
      vertical-align: middle;
      padding: 0 40px;
    }
  }

  & {
    width: 95%;
    margin: 0 auto;
  }

  .content__header {
    &-line {
      @extend .table;

      height: 42px;

      &--wp {
        @extend .table-cell;

        vertical-align: middle;
      }

      &--channel-name {
        width: 100%;

        &__link {
          cursor: pointer;

          > img {
            display: block;
            float: left;
          }

          > span {
            @extend .ellipsis;

            padding-left: 10px;
            color: #979797;
            font-size: 19px;

            display: block;
          }
        }
      }
      &--button-actions {
        display: none;
      }
    }
  }

  .content-info {
    .channel-image {
      max-width: 40px;
      max-height: 40px;
    }
    .channel-name {
      padding-left: 10px;
      color: $color_dark_gray;
      font-size: 19px;
    }
    .time-passed {
      padding-right: 15px;
      color: $color_dark_gray;
      font-size: 19px;
    }
  }

  .content-title {
    font-size: 18px;
    font-weight: bold;
  }

  .content-view-description {
    word-wrap: break-word;
    text-align: left;
    direction: ltr;
  }

  .divider {
    margin-top: 10px;
  }

  .content-image-grid {
    width: 100%;
    margin: auto;

    .content-image-grid-item {
      padding-bottom: 20px;
      margin: 0;
      box-shadow: none;
      width: 300px;
      float: left;
    }
  }

  .content-video {
    margin-top: 20px;
  }

  .content-stats {
    padding-top: 10px;

    .content-like {
      color: $color_red;
    }

    .content-dislike,
    .content-comments,
    .content-stats-number {
      color: $color_dark_gray;
    }

    .content-stats-number {
      padding-left: 10px;
      font-size: 20px;
    }

    md-icon {
      cursor: pointer;
      padding-left: 10px;
      font-size: 25px;
    }

    .options {
      padding: 0 10px;
      cursor: pointer;

      .circle {
        width: 7px;
        height: 7px;
        margin-left: 1.5px;
        border-radius: 10px;
        border: solid 1px $color_dark_gray;
      }
    }
  }
}

.comment-view-card {
  text-align: justify;

  .profile-image {
    width: 20px;
    height: 20px;
  }

  .user-info {
    font-weight: 600;
    padding-left: 10px;
  }

  .card-status {
    div {
      margin-right: 10px;

      md-icon {
        color: $color_dark_gray;
        cursor: pointer;
        font-size: 1.5em;
      }

      span {
        color: $color_dark_gray;
        margin-left: 4px;
        font-size: 16px;
      }
    }
  }

  .add-comment-buttons {
    padding-top: 10px;

    button {
      min-width: 50px;
    }

    md-icon {
      font-size: 1.5em;
    }
  }
}

.teaser-image {
  width: 100%;
  height: auto;
}

.video-container-small {
  width: 240px;
  height: 135px;
}

.img-container-small {
  max-width: 240px;
  max-height: 135px;
}

.video-container-large {
  width: 100%;
  height: 240px;
}

videogular {
  width: 100%;
  height: 100%;

  tk-stream-switcher {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    a, a:hover, a:visited {
      color: white;
    }
  }
}

md-toolbar .md-button.md-icon-button md-icon {
  font-size: 2em;
  line-height: 1em;
}

md-list md-list-item button.md-button:not([disabled]):hover {
  background: $color_dark_gray;
}

div.history {
  padding: 10px;

  .history-title {
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .history-card {
    padding: 20px;

    .history-item {
      cursor: pointer;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .history-day {
      color: $color_dark_gray;
      font-weight: 600;
    }

    .history-date {
      width: 100px;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
      font-weight: 600;
    }
  }
}

.login-page-card {
  background: white;
  width: 280px;
  padding: 10px;
  margin: 30px auto;

  .facebook {
    background: $color_facebook;

    md-icon {
      border-right: solid 1px lighten($color_facebook, 10%);
    }
  }

  .google {
    background: $color_google;

    md-icon {
      border-right: solid 1px lighten($color_google, 10%);
    }
  }

  .social-button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    height: 36px;
    min-height: 36px;
    color: white;

    span {
      padding-left: 10px;
    }

    md-icon {
      margin: 0;
      color: white;
      padding-right: 10px;
      line-height: 25px;
      font-size: 20px;
    }
  }
}

.login-base {
  @extend .table-cell;
  vertical-align: middle;

  &.channel-bg {
    background: transparent;
  }

  &:not(.channel-bg) {
    background: url(../assets/images/login_back.jpg) no-repeat top center/cover fixed;
  }
}

img.ng-thumb {
  min-height: 100px
}

#ssIFrame_google {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.md-dialog-content-wrapper {
  max-height: 380px;
  overflow: auto;
  padding: 0 20px 0 15px;
}

code {
  display: none;
}

.small {
  font-size: 11px;
}

.btn-icon-32 {
  margin: 0 5px;
  height: 32px;
  min-height: 32px;

  &:not(.inline) {
    padding: 0;
    width: 32px;
    min-width: 32px;
  }

  &.inline {
    padding: 0 10px;
    width: auto;
    max-width: inherit;
    min-width: inherit;
  }

  > md-icon {
    padding: 0 !important;
    font-size: 21px;
  }

  &.small-icon {
    > md-icon {
      font-size: 16px;
      position: relative;
      top: 1px;
    }
  }
}

.btn-icon-24 {
  margin: 0 5px;
  height: 24px;
  min-height: 24px;

  &:not(.inline) {
    padding: 0;
    width: 24px;
    min-width: 24px;
  }

  > md-icon {
    padding: 0 !important;
    font-size: 16px;
  }
}

tk-sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: -252px;
  background: white;
  transition: left 300ms;

  &.in {
    left: 0;
  }
}

.page-wrapper {
  @extend .absolute-fill;

  padding: 64px 0 0;
}

.md-dialog-content-wrapper {
  max-height: 380px;
  overflow: auto;
  padding: 0 20px 0 15px;
}

.md-dialog-footer {
  padding: 0 20px 0 15px;
  margin: 15px 0 10px 0;

  @extend .as-table;

  > button {
    margin: 0;
    display: block;

    &:first-child {
      float: left;
    }

    &:last-child {
      float: left;
    }
  }
}

.content {
  @extend .table-row;
  background: white;

  &.transparent {
    background: transparent;
  }

  .gray-bg {
    @extend .table-fill;
    background: $color_milk;
  }
}

md-input-container.search {
  label {
    color: $color_dark_gray;
  }

  &.white {
    label {
      color: white;
    }
  }

  .md-input {
    color: $color_dark_gray;
    border-color: $color_light_gray;
  }

  &.white {
    .md-input {
      color: white;
      border-color: white;
    }
  }
}

.progressbar {
  position: fixed;
  z-index: 10;
  left: 10px;
  bottom: -200px;
  background: rgba(15, 183, 255, 0.78);
  border-radius: 4px;
  padding: 15px;
  color: white;
  font-size: 14px;
  width: 240px;
  opacity: 0;
  transition: bottom 300ms ease-in-out, opacity 300ms ease-in-out;

  &.in {
    bottom: 10px;
    opacity: 1;
  }

  .progress-title {
    font-weight: 600;
    font-size: 90%;
  }

  .progress-filename {
    font-size: 90%;
    margin-top: 5px;

    .filename {
      display: inline-block;
      max-width: 175px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      float: left;
    }

    .percent {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .progress-bar {
    width: 100%;
    height: 6px;
    position: relative;
    margin: 8px 0 0;
    background: $color_sky_blue;
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .15);
    overflow: hidden;

    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      width: 0;
      background: white;
      transition: width 300ms ease-in-out;
    }
  }

  .progress-success {
    text-align: center;
    font-weight: 600;
    font-size: 90%;
  }
}

.content-common-successfully-copied {
  color: transparent;
  text-align: center;
  transition: color 700ms;

  &.in {
    color: inherit;
  }
}

md-dialog-content .content-preview-card {
  margin: 20px auto;
}

html.touch .content-preview-card .tk-icon-arrow-down {
  visibility: visible;
}

.warn {
  text-align: center;
  background: white;
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  a {
    font-weight: bold;
  }
}

.credit-card-form {
  width: 100%;
  display: block;
  margin: 0 auto;

  md-select {
    width: 100%;
  }
}

.padding-8-0 {
  padding: 8px 0;
}

masonry {
  display: block;
}

md-content.layout-fill {
  height: initial !important;
  min-height: initial !important;
}

.layout-column > .flex-md-85,
.layout-md-column > .flex-md-85 {
  max-width: 1px;
}

.media-tools {
  width: 100%;
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #EFEFEF;

  .input-wrapper {
    @extend .as-table;

    max-width: 200px;
    white-space: nowrap;

    > span {
      display: block;
      float: left;
      padding: 7px 14px 0 0;
      color: #999;
    }
    label {
      font-style: normal;
      color: #999;
      cursor: pointer;
    }
    > md-select {
      display: block;
      float: left;
      margin: 0 0 16px 0;
    }
  }
}

md-menu-content.dropdown-filter {
  padding: 6px 16px;
}

tk-content-view {
  position: relative;
  z-index: 1;

  .btn-prev,
  .btn-next {
    @extend .as-table;

    position: absolute;
    width: 36px;
    height: 100px;
    top: 62px;
    background-color: white;
    border: 1px solid $color_light_gray;
    z-index: 10;

    .content-description {
      @extend .as-table;

      display: none;

      width: 215px;
      height: 100px;
      padding: 8px 0 8px 4px;

      float: left;

      .preview {
        width: 82px;
        height: 82px;

        float: left;

        background: {
          position: 50% 50%;
          size: cover;
        }
      }

      .more {
        height: 82px;
        padding-left: 10px;

        float: left;

        position: relative;

        i {
          display: block;
          font-size: 11px;
          font-style: normal;
          font-weight: 700;
          padding-top: 5px;
          color: darken($color_medium_gray, 15%);
        }

        b {
          display: block;
          font-size: 12px;
          line-height: 1.25;

          overflow: hidden;
          max-height: 32px;
          height: auto;

          cursor: pointer;
        }

        .show-all {
          position: absolute;
          bottom: 0;
          font-size: 12px;
          color: $color_sky_blue;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  .btn-prev {
    width: 36px;

    .content-description {
      .more {
        width: 129px;
      }
    }

    &:hover {
      width: 263px;

      .content-description {
        display: block;
      }
    }
  }

  .btn-next {
    right: -1px;

    .content-description {
      padding-left: 8px;

      .more {
        width: 125px;
      }
    }

    &:hover {
      right: -4px;
      width: 254px;

      .content-description {
        display: block;
      }
    }
  }

  .t__icon-prev,
  .t__icon-next {
    width: 36px;
    height: 100px;
    float: left;
    cursor: pointer;
  }

  .t__icon-prev {
    background: {
      image: url($icon_arrow_prev);
      repeat: no-repeat;
      position: 50% 50%;
    }
  }

  .t__icon-next {
    background: {
      image: url($icon_arrow_next);
      repeat: no-repeat;
      position: 50% 50%;
    }
  }
}

.channel-list.channel-content {
  padding: 0;
  margin: 0 -8px 8px -8px;

  max-height: 300px;

  overflow: auto;
}

.in-card-preview.tk-icon-verified {
  width: 16px;
  height: 16px;
  cursor: help;
  vertical-align: sub;
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
  line-height: 1;
}

.fix-height-22 {
  height: 22px;
  overflow: hidden;
}

.fix-height-40 {
  height: 40px;
  overflow: hidden;
}

.table-sub-header {
  @extend .as-table;
  font-size: 14px;
  padding-bottom: 10px;
}

table.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  font-size: 14px;

  > thead {
    text-align: left;

    &:first-child > tr:first-child > th {
      border-top: 1px solid #ddd;
    }

    > tr > th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
  }
  > tbody > tr {
    > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: middle;
      border-top: 1px solid #ddd;
      text-align: left;

      span {
        display: block;
        max-width: 200px;
      }

      .md-errors-spacer {
        display: none;
      }

      &:first-child {
        min-width: 250px;
      }
    }
    &.disable {
      background-color: rgba(253, 215, 203, 0.53) !important;

      > td:first-child {
        font-weight: 600;
        color: #eb0c0c;
        text-decoration: line-through;
      }
    }
  }

  &.table-striped {
    > tbody {
      > tr:nth-of-type(odd) {
        background-color: #fbfbfb;
      }
      > tr:last-child {
        > td {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}

.alert {
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

button.transparent:hover {
  background-color: transparent !important;

  .md-ripple-container {
    visibility: hidden !important;
  }
}

md-datepicker {
  background-color: transparent;;

  .md-datepicker-button {
    display: none;
  }
  .md-datepicker-input-container {
    margin: 0;

    &.md-datepicker-focused {
      border-bottom-width: 1px !important;
    }
  }
}

input.field.revenues {
  &__percent {
    width: auto;
    max-width: 100px;
  }
  &__expiryDate {
    width: 90px;
  }
}

.revenues {
  &__header {
    @extend .as-table;

    display: none;
    border-bottom: 1px solid #ddd;

    > div {
      height: 36px;
      float: left;

      font-size: 14px;
      font-weight: 600;
      line-height: 36px;
    }

    &--email {
      width: 50%;
    }
    &--percent {
      width: 15%;
    }
    &--datetime {
      width: 25%;
    }
    &--tools {
      width: 10%;
    }
  }

  &__item {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    @extend .as-table;

    &:last-child {
      border-bottom: none;
    }

    &.disable {
      .revenues__item--email {
        text-decoration: line-through;
        color: #aaa;
      }
    }

    > div {
      padding: 8px 0;

      label {
        display: block;
        font-size: 13px;
        font-weight: 600;
      }
    }

    &--email {
      @extend .ellipsis;
      padding-top: 13px !important;
    }
    &--percent {
      float: left;
      width: 40%;

      input.field.revenues__percent {
        width: 70%;
        max-width: none;
      }
    }
    &--datetime {
      float: left;
      width: 60%;

      md-datepicker {
        width: 100%;
        padding: 0;
        margin: 0;

        .md-datepicker-input-container {
          width: 100%;
        }
      }
    }
    &--tools {
      display: none;
    }
  }
}

.browser-not-supported {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;

  &.in {
    display: block;
  }

  h2, h3 {
    display: block;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }
  h2 {
    margin: 50px auto 20px;

    a {
      text-decoration: underline;
    }
  }
  h3 {
    text-transform: uppercase;
  }
}

.top-ranked {

  .nothing {
    text-align: center;
    padding: 30px 0;
    margin: 0 10px 6px;
    border-bottom: 1px solid #dedede;

    span {
      color: $color_dark_gray;
      display: block;
      font-size: 0.9em;
      padding-bottom: 16px;
    }

    div.icon {
      width: 48px;
      height: 48px;

      display: inline-block;

      background: {
        image: url($icon_empty_place);
      };
    }
  }

  &__card-preview {
    @extend .box-shadow;
    width: 300px;
    margin: 10px auto;
    text-align: left;
    background: white;

    &__header {
      @extend .as-table;

      font-size: 0.9em;
      font-weight: 600;

      margin: 0 0 6px;
      padding: 6px 10px;

      border-bottom: 1px solid #dedede;
      background-color: #f3f3f3;

      .label {
        float: left;
        padding-top: 8px;
        width: 80%;
      }

      .button-wp {
        float: right;
        width: 32px;
      }
    }
  }

  &__list {
    &__item {
      @extend .as-table;

      font-size: 0.9em;

      height: 48px;
      margin: 0 10px 10px;
      padding-bottom: 6px;

      border-bottom: 1px solid #dedede;

      .table {
        height: 42px;
      }

      &--number {
        @extend .pull-left;

        color: $color_dark_gray;

        min-width: 21px;
      }

      &--avatar {
        @extend .pull-left;

        width: 32px;
      }

      &--name {
        @extend .pull-left;

        width: 130px;
        padding: 0 10px;

        .ellipsis {
          width: 120px;
        }
      }

      &--sum {
        @extend .pull-left;

        width: 55px;

        font-size: 1em;
        text-align: center;
      }

      &--button {
        @extend .pull-left;

        width: 32px;
      }
    }
  }

  &__full {
    width: 300px;

    .top-ranked__list__item {
      &--number {
        min-width: 21px;
      }
      &--avatar {
        width: 32px;
      }
      &--name {
        width: 130px;

        .ellipsis {
          width: 120px;
        }
      }
      &--sum {
        width: 55px;
      }
      &--button {
        width: 32px;
      }
    }
  }

  &__actions {
    text-align: center;
    padding: 5px 0;
  }
}

.top-ranked__list > div:first-child .top-ranked__list__item--name,
.top-ranked__list > div:first-child .top-ranked__list__item--sum {
  font-weight: 600;
}

.header-search {
  width: 50%;
  padding-left: 30px;
}

md-input-container {
  .md-errors-spacer {
    min-height: inherit;
  }
}

md-select-value {
  overflow: hidden;

  > span {
    white-space: normal !important;
    word-wrap: break-word;
    flex: inherit;
  }
}

md-select.gray .md-select-value,
md-select.gray .md-select-value.md-select-placeholder {
  border-bottom-color: rgba(0, 0, 0, 0.22);
  color: rgba(0, 0, 0, .5);
}

videogular .poster {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: none;
  z-index: 1;
  top: 0;
  pointer-events: none;

  &.show {
    display: block;
  }
}

.background-responsive {
  background: {
    position: 50% 50%;
    repeat: no-repeat;
    size: contain;
  };
}

tk-video.fixed video {
  max-height: 200px !important;
}

.file-upload--uploaded-file {
  width: 250px;
  overflow: hidden;
}

md-toolbar.with-tools {

  @mixin close-line($rotate) {
    position: absolute;
    content: ' ';
    width: 36px;
    height: 2px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -18px;
    transform: rotate(#{$rotate}deg);
  }

  .md-toolbar-tools {
    padding-right: 80px;

    @extend .clear;
  }

  .dialog-close {
    position: absolute;
    background-color: #00A4D3;
    top: 0;
    right: 0;
    bottom: 0;
    width: 64px;
    cursor: pointer;

    &::before {
      @include close-line(45);
    }

    &::after {
      @include close-line(-45);
    }

    &:hover, &:focus {
      background-color: darken(#00A4D3, 2.5%);
    }
  }
  .dialog-choose {
    position: absolute;
    background-color: #00A4D3;
    top: 0;
    right: 64px;
    bottom: 0;
    width: 64px;
    cursor: pointer;
    border-right: 1px solid #108ec3;

    &::before {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
    }

    &:hover, &:focus {
      background-color: darken(#00A4D3, 2.5%);
    }
  }
}

.upload-file__file-name {
  font-size: .9rem;
  padding-bottom: 5px;
}

.upload-file__cost {
  font-size: .9rem;
  padding-bottom: 10px;
}

md-dialog-content {
  md-input-container {
    margin: 0;

    &.full {
      width: 100%;
    }
  }

  .legend {
    font-size: 13px;
    color: #696969;
  }

  .content-common-successfully-copied {
    text-align: left;
    padding: 5px 0 10px;
    font-size: 0.8em;
  }

  .share-tools {
    @extend .as-table;

    width: 100%;

    .input-wp,
    .button-wp {
      float: left;
    }

    .input-wp {
      width: 65%;
    }

    .button-wp {
      margin-right: 5px;
    }
  }

  .promotional-desc {
    font-size: 0.9em;
    padding-top: 5px;
    font-style: italic;
  }
}

/* Fix for md-tooltip in md-dialog. http://wiki.ticksa.com/index.php/Documented_hacks#md-tooltip_inside_md-dialog */
.md-dialog-is-showing {
  top: 0 !important;
}

md-dialog-content > form {
  padding-top: 24px;
}

.login-teaser-preview {
  width: 300px;
  margin: 0 auto;
}

/* Fix for wrong label in filters on the discovery view */
md-input-container.fix-label {
  &.md-input-focused label.md-placeholder {
    display: none;
  }

  &:not(.md-input-has-value) label {
    transform: translate3d(0, 6px, 0) scale(0.75);
  }
}
/* End fix */

.free-ticks-count {
  margin: 32px 0;
  font-size: 1em;
  font-weight: 500;
  color: #999;
  width: 36px;
  padding: 0 20px 0 0;
  float: left;
}

md-dialog.md-transition-in {
  transform: initial;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.tk-drop-down-filter-not-found {
  text-align: center;
  padding: 30px 0;
  font-size: .9em;
  color: $color_dark_gray;
}

.md-autocomplete-suggestions li {
  font-size: 13px;
  line-height: 20px;
}

.md-not-found {
  height: 36px !important;

  li {
    cursor: default !important;

    &:hover {
      background: inherit !important;
    }
  }
}
.nothing {
  text-align: center;
  padding: 30px 0;
  margin: 0 10px 6px;
  border-bottom: 1px solid #dedede;

  span {
    color: $color_dark_gray;
    display: block;
    font-size: 0.9em;
    padding-bottom: 16px;
  }

  div.icon {
    width: 48px;
    height: 48px;

    display: inline-block;

    background: {
      image: url($icon_empty_place);
    };
  }
}

md-dialog.md-dialog__fixed {
  flex: 1 1 320px;
  max-width: 320px;
}

md-switch {
  margin: 0;
  height: 16px;
  display: flex;
  align-items: center;
  line-height: 1;

  color: $color_dark_gray;

  &.md-checked {
    color: $color_extra_dark_gray;
  }

  .md-bar {
    height: 8px;
  }
  .md-thumb {
    width: 14px;
    height: 14px;
  }
  .md-thumb-container {
    width: 21px;
  }
  .md-container {
    height: 18px;
  }
}

.playlist-empty {
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  padding: 50px 0;
  color: #999;
}

.md-autocomplete-suggestions li {
  padding: 5px 15px;
  height: auto;
}

// injector
// endinjector


