<md-dialog flex-xs="100" flex-sm="60" flex-md="35" flex-lg="30" ng-click="ctrl.close()">
    <md-dialog-content>
        <div tk-content-preview data-content="ctrl.content" data-card-as-preview></div>
    </md-dialog-content>
</md-dialog>