md-dialog.as-tk-dialog.full-screen
  md-toolbar.with-tools
    div.md-toolbar-tools
      h2 {{'IMAGE_PICKER_TITLE' | translate}}
    div.dialog-choose(data-ng-click="ctrl.submit()")
    div.dialog-close(data-ng-click="ctrl.close()")
  div.tk-dialog__pick-outer
    div.tk-dialog__pick-inner
      div.tk-dialog__tools-outer(layout='row')
        div(flex)
          div(layout="row", layout-align="start center")
            div.btn-upload
              md-button.md-raised.md-primary.no-margin(ng-click="ctrl.selectImageForUpload()") {{'IMAGE_PICKER_TAB_UPLOAD_SELECT_IMAGE' | translate}}
        div(flex, ng-show="ctrl.image.file.name || ctrl.imageFileList.length > 0")
          div(layout="row", layout-align="center center")
            div.file-data
              tk-file-upload(ng-if="!ctrl.multiple",
              trigger-file-select="ctrl.selectImageForUpload",
              on-upload-finish="ctrl.finishUploadImage",
              start-upload="ctrl.startUploadImage",
              file-input-id="upload-image",
              clear-file-list="ctrl.clearFileListImage",
              file="ctrl.image.file",
              add-file="ctrl.addFile",
              accept="{{ctrl.IMAGE_FILE_ACCEPT_EXTENSIONS}}")

              tk-file-upload(ng-if="ctrl.multiple",
              trigger-file-select="ctrl.selectImageForUpload",
              on-upload-finish="ctrl.finishUploadImages",
              start-upload="ctrl.startUploadImage",
              file-input-id="upload-image",
              clear-file-list="ctrl.clearFileListImage",
              multiple="true",
              file-list="ctrl.imageFileList",
              add-file="ctrl.addFile",
              accept="{{ctrl.IMAGE_FILE_ACCEPT_EXTENSIONS}}")

              div.upload-file__cost(flex, ng-if="ctrl.image.file.name || ctrl.imageFileList.length > 0") {{'LIBRARY_UPLOAD_PHOTO_PRICE' | translate}} {{ctrl.filePrice}}
                span.tk-icon-currency
              div(flex, layout="row", layout-align="end center")
                md-button.md-raised.md-primary.no-margin(ng-disabled="ctrl.disablePostImage", ng-if="ctrl.image.file.name || ctrl.imageFileList.length > 0", ng-click="ctrl.checkAndStartUploadImage()") {{'COMMONS_UPLOAD' | translate}}
        div(flex)
          div(layout="row", layout-align="end")
            md-input-container
              label {{ 'FILTER__LABEL__SORTED' | translate }}
              md-select(data-ng-model="ctrl.filterCreatedAt.selected")
                md-option(data-ng-repeat="filter in ctrl.filterCreatedAt.values", data-ng-value="filter.value") {{filter.key}}

      masonry(throttle-time="100", masonry-options="{'isFitWidth': true, 'gutter': 20}", column-width="300").grid
        div.masonry-brick.grid-item(bindonce, ng-repeat="image in ctrl.images | orderBy:'createdAt':ctrl.filterCreatedAt.selected")
          div.library-card.pick(data-ng-click="ctrl.imageClick(image)", data-ng-class="{'selected': image.selected}")
            div.icon-pick.tk-icon-ok-circled
            div.library-card__table
              div.table-cell.middle.library-card__image-preview
                img(data-tk-refresh-masonry-after-image-loaded, data-ng-src="{{ image.key | thumbnailsS3Cdn:300:'-' }}")
            div.library-card__filename
              span {{ image.name }}