<form name="channelForm" class="panel sm">
    <div class="panel-header">
        <span>{{ 'COMMONS_CHANNEL_SETTINGS' | translate }}</span>
    </div>

    <tk-channel-settings channel="ctrl.channel"
                         form="channelForm"
                         is-revenues-error="ctrl.revenuesError">
    </tk-channel-settings>

    <div class="panel-footer">
        <div class="panel-container fill">
            <md-button
                    data-ng-if="(ctrl.channel.ownerType == ctrl.TICKSER_CHANNEL_OWNER_TYPE.CREATOR) && (ctrl.channel.id !== ctrl.UserService.getSystemChannelId())"
                    data-ng-click="ctrl.deactivateChannel($event)"
                    class="md-warn" style="float: left;">
                {{'COMMONS_DELETE_CHANNEL' | translate}}
            </md-button>
            <md-button data-ng-click="ctrl.cancel()" class="md-default">{{'COMMONS_CANCEL' | translate}}</md-button>
            <md-button data-ng-disabled="ctrl.revenuesError || !channelForm.$valid"
                       data-ng-click="ctrl.updateChannel(channelForm)"
                       class="md-raised md-primary">
                {{'COMMONS_BUTTON_APPLY' | translate}}
            </md-button>
        </div>
    </div>

</form>
