<md-dialog flex-xs="100" flex-sm="60" flex-md="35" flex-lg="30">
    <md-toolbar class="with-tools">
        <div class="md-toolbar-tools">
            <h2>{{'CONTENT_ADD_EDIT__SHARE_CONTENT' | translate}}</h2>
        </div>
        <div class="dialog-close" data-ng-click="ctrl.close()"></div>
    </md-toolbar>
    <md-dialog-content>
        <div class="padding-15">
            <div class="legend" style="padding-bottom: 10px;">{{'CONTENT_ADD_EDIT__INVITE_MEDIA' | translate}}:</div>
            <div class="share-tools">
                <div class="button-wp">
                    <md-button data-ng-click="ctrl.shareTwitter();" class="md-raised md-primary no-margin btn-icon-32 small-icon">
                        <md-icon class="mdi mdi-twitter"></md-icon>
                        <md-tooltip>{{'COMMONS_SHARE_TO_TWITTER' | translate}}</md-tooltip>
                    </md-button>
                </div>

                <div class="button-wp">
                    <md-button data-ng-click="ctrl.shareFacebook();" class="md-raised md-primary no-margin btn-icon-32 small-icon">
                        <md-icon class="mdi mdi-facebook"></md-icon>
                        <md-tooltip>{{'COMMONS_SHARE_TO_FACEBOOK' | translate}}</md-tooltip>
                    </md-button>
                </div>
            </div>

            <div class="legend" style="padding: 20px 0 10px 0;">{{'CONTENT_ADD_EDIT__SHARE_YOUR_PERSONAL_LINK' | translate}}:</div>
            <div class="share-tools">
                <div class="button-wp no-margin">
                    <md-button ngclipboard data-clipboard-target="#url" ngclipboard-success="ctrl.onCopied(e);" class="md-raised md-primary no-margin btn-icon-32 small-icon">
                        <md-icon class="mdi mdi-content-copy"></md-icon>
                        <md-tooltip>{{'CONTENT_ADD_EDIT__COPY_THIS_LINK_TO_CLIPBOARD' | translate}}</md-tooltip>
                    </md-button>
                </div>

                <div class="input-wp">
                    <md-input-container class="full">
                        <input data-ng-model="ctrl.url" id="url" data-tk-input-select="ctrl.selectURL"/>
                    </md-input-container>
                </div>
            </div>
            <div class="content-common-successfully-copied" data-ng-class="{'in' : ctrl.copied}">
                {{ 'COMMONS_URL_WAS_COPIED_TO_CLIP_BOARD' | translate }}
            </div>

            <div layout="row">
                <div class="legend" style="padding: 7px 5px 0 0;">{{ 'CONTENT_ADD_EDIT__HTML_PROMOTIONAL_TOOL' | translate }}:</div>
                <md-button class="md-raised md-primary no-margin btn-icon-32 small-icon"
                           ng-click="ctrl.sendContentCardToMe()">
                    <md-icon class="mdi mdi-email-outline"></md-icon>
                    <md-tooltip>{{'EMAILS_WILL_SEND_HTM_CODE_OF_CONTENT' | translate}}</md-tooltip>
                </md-button>
            </div>
            <div class="content-common-successfully-copied" data-ng-class="{'in' : ctrl.wasSent}">
                {{ 'EMAILS_WAS_SENT' | translate }}
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
