<md-dialog flex="45">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'COMMONS_EMBED_CONTENT' | translate }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form layout-fill="layout-fill">
            <div layout="column" layout-padding="layout-padding">
                <span>{{ 'CONTENT_GET_HTML__DESCRIPTION' | translate }}</span>
                <md-input-container class="no-margin-bottom no-padding-bottom" flex="flex">
                    <label for="html" class="padding-left-8">{{ 'CONTENT_GET_HTML__LABEL__HTML' | translate }}</label>
                    <textarea style="overflow: auto;" class="font-size-80" name="html" id="html" ng-model="ctrl.html" ng-click="ctrl.select()"
                              rows="5"></textarea>
                </md-input-container>
                <div class="content-common-successfully-copied" ng-class="{'in' : ctrl.copied}">
                    {{ 'CONTENT_GET_HTML__LABEL__COPIED' | translate }}
                </div>
                <div layout="row" class="no-margin-top no-padding">
                    <md-button ngclipboard data-clipboard-target="#html" ngclipboard-success="ctrl.onCopied(e);"
                               class="md-primary">{{ 'COMMONS_COPY' | translate }}
                    </md-button>
                    <div flex="flex"></div>
                    <md-button class="md-raised md-primary" ng-click="ctrl.close()">{{ 'COMMONS_CLOSE' | translate }}</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>