div.gray-bg.content-page

  div.discovery-filters__outer(data-ng-class="{in:ctrl.showFilters}")
    div.discovery-filters__inner
      div.input-wrapper
        tk-drop-down-filter(label="{selected:ctrl.filterLanguageLabel}", items="ctrl.languages", selected="ctrl.selectedLanguages", unique-key="id")
      div.input-wrapper
        tk-drop-down-filter(label="{selected:ctrl.filterCategoryLabel}", items="ctrl.categories", selected="ctrl.selectedCategories", unique-key="id")
      md-button.md-raised.md-primary.button-apply(data-ng-click="ctrl.refreshPage()") {{'COMMONS_APPLY' | translate }}
  div.discovery-filters__backdrop(data-ng-class="{in:ctrl.showFilters}", data-ng-click="ctrl.disabledFilter()")

  div.content-list(infinite-scroll-disabled="ctrl.disabledInfiniteScroll" infinite-scroll="ctrl.loadMore()", infinite-scroll-distance="0")
    masonry(throttle-time="250", masonry-options="{'gutter': 20}", reload-on-resize, column-width="300")
      div.masonry-brick(data-ng-repeat="content in ctrl.rawContents")
        div(tk-content-fast-add, bindonce, data-ng-if="::content.form")
        div(tk-content-preview, data-ng-if="::!content.form", content="content")

  div.content-loading(data-ng-show="ctrl.loadingInProgress")
    md-progress-circular(md-mode="indeterminate")

  div.content-after-msg(data-ng-show="ctrl.loadComplete && !ctrl.notFound") {{ 'COMMONS_CONTENT_LOADED' | translate }}
  div.content-after-msg(data-ng-show="ctrl.notFound") {{ 'COMMONS_NOT_FOUND' | translate }}