<form name="channelForm" class="panel sm">
    <div class="panel-header">
        <span>{{ 'COMMONS_CHANNEL_ADD' | translate }}</span>
    </div>

    <tk-channel-settings channel="ctrl.channel"
                         form="channelForm"
                         is-revenues-error="ctrl.revenuesError">
    </tk-channel-settings>

    <div class="panel-footer">
        <div class="panel-container fill-right">
            <md-button data-ng-click="ctrl.cancel()" class="md-default">{{'COMMONS_CANCEL' | translate}}</md-button>
            <md-button data-ng-click="ctrl.addChannel(channelForm)"
                       data-ng-disabled="ctrl.revenuesError || !channelForm.$valid"
                       class="md-raised md-primary">
                {{'COMMONS_SAVE' | translate}}
            </md-button>
        </div>
    </div>

</form>