md-dialog
  md-toolbar
    div.md-toolbar-tools {{::ctrl.texts.title}}
  md-dialog-content(layout='column', layout-padding)
    div
      p {{::ctrl.texts.body}}
      md-input-container
        md-checkbox(ng-model="ctrl.checkboxValue") {{::ctrl.texts.checkbox}}
    div(layout='row')
      md-button(ng-click='ctrl.cancel()') {{::ctrl.texts.cancel}}
      div(flex)
      md-button.md-primary(ng-click='ctrl.confirm()') {{::ctrl.texts.confirm}}

