<div class="cc-grid-display__table">
    <div class="cc-grid-display__table-row">
        <div class="cc-grid-display__table-cell cc-type">
            <div class="cc-type-select-wrapper">
                <div data-ng-init="ctrl.abc = 1"></div>
                <!-- Select conditions type -->
                <md-input-container>
                    <label>{{ 'COMMONS_TYPE' | translate }}</label>
                    <md-select data-ng-model="condition.type" data-ng-required="required" aria-label="Select aria">
                        <md-option ng-repeat="(key, value) in types" value="{{value}}">{{ 'CONTENT_CONDITION_TYPE_' + key | translate }}</md-option>
                    </md-select>
                </md-input-container>
                <!-- // -->
            </div>
            <!-- For only screen 768px and less -->
            <div class="cc-type-action">
                <md-button data-ng-click="fireRemoveListener()">{{'CONTENT_CONDITION_DELETE' | translate}}</md-button>
            </div>
            <!-- // -->
        </div>
        <div class="cc-grid-display__table-cell cc-search">
            <!-- Search field -->
            <md-autocomplete ng-required="required"
                             md-no-cache="noCache"
                             md-search-text="searchText"
                             md-selected-item="condition.content"
                             md-selected-item-change="selectedItemChange(item)"
                             md-items="item in querySearch(searchText)"
                             md-item-text="item.title"
                             md-min-length="1"
                             md-floating-label="{{ 'COMMONS_CONTENT' | translate }}"
                             md-input-name="{{contentName}}"
                             md-input-id="input-search"
                             md-menu-class="autocomplete-custom-template"
                             md-blur="onBlur()">
                <md-item-template>
                    <div class="cc-search-item">
                        <div class="cc-search-item-inside">
                            <div class="cc-search-item-inside__preview">
                                <div class="cc-search-item-inside__preview__image" data-ng-if="item.teaserVideo.thumbnailImageKey" tk-background-by-key="{key: item.teaserVideo.thumbnailImageKey, width: 100}"></div>
                                <div class="cc-search-item-inside__preview__image" data-ng-if="item.teaserImage.key" tk-background-by-key="{key: item.teaserImage.key, width: 100}"></div>
                            </div>
                            <div class="cc-search-item-inside__description">
                                <div><strong>{{'CONTENT_ADD_EDIT__FIELD__TITLE' | translate}}:</strong> {{item.title}}</div>
                                <div><strong>{{'COMMONS_CHANNEL' | translate}}:</strong> {{item.channel.name}}</div>
                            </div>
                        </div>
                    </div>
                </md-item-template>

                <div ng-messages="form[contentName].$error" ng-if="form[contentName].$touched">
                    <div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                </div>

                <md-not-found>
                    {{'COMMONS_NOT_FOUND' | translate}}
                </md-not-found>
            </md-autocomplete>
            <!-- // -->
        </div>
        <!-- Screen 768px and more -->
        <div class="cc-grid-display__table-cell cc-action">
            <md-button data-ng-click="fireRemoveListener()">{{'CONTENT_CONDITION_DELETE' | translate}}</md-button>
        </div>
        <!-- // -->
    </div>
</div>
