md-dialog(flex="60")
  md-toolbar
    div.md-toolbar-tools
      h2 {{'MEMBERS_FORM' | translate}}
      span(flex)
  md-dialog-content
    form(name='memberForm', layout-margin, novalidate)
      div(layout='column')
        md-input-container
          label {{'COMMONS_EMAIL' | translate}}
          input(name='email', type='email', ng-model='ctrl.invite.email')
          div(ng-messages="memberForm.email.$error", ng-if='memberForm.username.$dirty || ctrl.attemptedSave')
            div(ng-message="required") {{'ERROR_REQUIRED' | translate}}
            div(ng-message="email") {{'ERROR_INVALID_EMAIL_FORMAT' | translate}}
        md-input-container
          label {{"COMMONS_TYPE" | translate}}
          md-select(ng-model='ctrl.invite.ownerType')
            md-option(ng-repeat='ownerType in ctrl.ownerTypes', ng-value='ownerType.code') {{ownerType.name}}

    md-dialog-actions
      md-button.md-raised.md-primary(ng-disabled="ctrl.loadingInProgress", ng-click="ctrl.inviteToChannel(memberForm, ctrl.invite)") {{'CHANNEL_ADD_MEMBER_BTN' | translate}}
