div(layout='row', layout-margin, layout-align='center center', flex)
  md-whiteframe.md-whiteframe-z1(flex, layout='column', layout-align='center center')
    md-content(layout='column', layout-fill)
      form(name='commentForm', layout-margin, novalidate, layout="column")
        md-input-container()
          label {{'COMMONS_ENTER_YOUR_TEXT_HERE' | translate}}
          textarea(name="text", rows="4", required, ng-model="ctrl.comment.text")
          div(ng-messages="commentForm.text.$error", ng-if='commentForm.text.$dirty || ctrl.attemptedSave')
            div(ng-message="required") {{'ERROR_REQUIRED' | translate}}

        div(layout="row", layout-margin, layout-align="space-around start")
          div(flex="40", layout-fill, layout="column", layout-align="center center")
            md-input-container
              md-button.md-primary(ng-disabled="ctrl.selectedVideo", ng-click="ctrl.selectImage()") {{'COMMENT_SELECT_IMAGE' | translate}}
            div(ng-if="ctrl.selectedImage", layout="row", layout-align="center center")
              img(ng-src="{{ctrl.selectedImage.key | s3cdn}}")
          div(flex="40", layout-fill, layout="column", layout-align="center center")
            md-input-container()
              md-button.md-primary(ng-disabled="ctrl.selectedImage", ng-click="ctrl.selectVideo()") {{'COMMONS_SELECT_VIDEO' | translate}}
            div(ng-if="ctrl.selectedVideo", layout="row", layout-align="center center")
              tk-video(video="ctrl.selectedVideo", thumbnail-width="300")

        div(layout-margin, layout='row')
          div(flex)
          md-button(ng-click="ctrl.cancel()") {{'COMMONS_CANCEL' | translate}}
          md-button.md-raised.md-primary(ng-disabled="ctrl.disablePost", ng-click='ctrl.editComment(commentForm)') {{'COMMONS_SAVE' | translate}}

