tk-sidebar(ng-class="{in:$root.sidebar}")
tk-header
tk-notification

div.page-wrapper
  div.table-fill.fixed
    div.table-row
      ui-view.content.table-cell(ng-class="{transparent:$root.channelBackgroundImage}")

tk-popup-progress-bar
