<md-dialog flex="50" flex-md="60" flex-sm="80" flex-xs="95">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'CONTENT_VIEW__NAVIGATION__CHANNEL_CONTENT__DIALOG_HEADER' | translate }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content style="overflow: hidden;">
        <div layout-fill="layout-fill">
            <div layout="column" layout-padding="layout-padding">

                <div class="channel-list channel-content">
                    <div data-ng-repeat="content in ctrl.contents" data-ng-class="{'current': ctrl.stateParams.contentId == content.id}" class="item-wrapper">
                        <div class="item">

                            <div data-tk-background-by-key="{key: content.teaserVideo.thumbnailImageKey || content.teaserImage.key, width: 300}" class="preview">
                                <img data-ng-src="{{ content.teaserVideo.thumbnailImageKey || content.teaserImage.key | thumbnailsS3Cdn:300:'-' }}" alt="preview">
                                <div data-ng-class="{'link': content.type == ctrl.CONTENT_TYPES.LINK, 'photos': content.type == ctrl.CONTENT_TYPES.IMAGE, 'text': content.type == ctrl.CONTENT_TYPES.TEXT, 'video': content.type == ctrl.CONTENT_TYPES.VIDEO}" class="type-tooltip">
                                    <span data-ng-if="content.type == ctrl.CONTENT_TYPES.TEXT">{{ 'COMMONS_TEXT' | translate }}</span>
                                    <span data-ng-if="content.type == ctrl.CONTENT_TYPES.IMAGE">{{ 'COMMONS_PHOTOS' | translate }}</span>
                                    <span data-ng-if="content.type == ctrl.CONTENT_TYPES.LINK">{{ 'COMMONS_LINK' | translate }}</span>
                                    <span data-ng-if="content.type == ctrl.CONTENT_TYPES.VIDEO">{{ 'COMMONS_VIDEO' | translate }}</span>
                                </div>
                            </div>

                            <div class="description">
                                <div class="title">
                                    <div class="fix-height-22"><i data-ng-if="content.verified" class="tk-icon-verified"></i> {{ content.title }}</div>
                                    <div class="preview-text" data-ng-bind-html="content.teaserText | nl2br"></div>
                                </div>
                            </div>

                            <div class="actions">
                                <div data-ng-if="!content.bought && !content.manager" data-ng-click="ctrl.payForContent(content)" class="btn view gray">
                                    <span>{{'CONTENT_VIEW_BTN' | translate}}</span>
                                    <span>&nbsp; {{content.tickPrice}}</span>
                                    <span class="tk-icon-currency"></span>
                                    <!--<span class="small">{{content.tickPrice | tkConvertTicks}}</span>-->
                                </div>
                                <div data-ng-if="content.bought || content.manager" data-ng-click="ctrl.viewContent(content)" class="btn view">view</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div layout="row" class="no-margin-top no-padding">
                    <div flex="flex"></div>
                    <md-button class="md-raised md-primary" ng-click="ctrl.close()">{{ 'COMMONS_CLOSE' | translate }}</md-button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>