md-dialog(style="width: 90%")
  md-toolbar
    div.md-toolbar-tools {{'COMMONS_TERMS_AND_CONDITIONS' | translate}}
  md-dialog-content(layout='column', layout-padding)


    div.md-dialog-content-wrapper
      p {{'TOS_INTRO' | translate}}

      div {{tosURL}}

      div(style="padding-top: 30px", ng-include="ctrl.tosURL")

    div.md-dialog-footer(layout="row")
      div(flex)
      md-button.md-primary.md-raised(ng-click='ctrl.close()') {{'COMMONS_OK' | translate}}