md-dialog(flex="40")
  md-toolbar.with-tools
    div.md-toolbar-tools
      h2 {{'VOUCHER_DIALOG_HEADER' | translate}}
    div.dialog-close(ng-click="ctrl.close()")
  md-dialog-content
    md-content(layout="column", layout-padding)
      div(ng-messages="ctrl.tickserRights")
        span(ng-message="processing") {{'VOUCHER_DIALOG_RIGHTS_PROCESSING' | translate}}
        span(ng-message="canCheck") {{'VOUCHER_DIALOG_RIGHTS_CAN_CHECK' | translate}}
        span(ng-message="banned") {{'VOUCHER_DIALOG_RIGHTS_BANNED' | translate}}
        span(ng-message="alreadyMaxVouchers") {{'VOUCHER_DIALOG_RIGHTS_ALREADY_MAX_VOUCHERS_COUNT' | translate}}
      form(name="voucherForm", layout-wrap, layout-margin, novalidate, layout="row")
        div(flex="75", flex-xs="100", flex-sm="100")
          md-input-container
            label {{'VOUCHER_DIALOG_CODE' | translate}}
            input(autocomplete="off", name="voucherCode", required, type="text", ng-disabled="!ctrl.tickserRights.canCheck"
            ng-model="ctrl.voucher.code", ng-change="ctrl.resetVoucherStatus()")
            div(ng-messages="voucherForm.voucherCode.$error", ng-if="voucherForm.voucherCode.$dirty || ctrl.attemptedSave")
              div(ng-message="required") {{'ERROR_REQUIRED' | translate}}
        div(flex-xs="100", flex-sm="100")
          md-button.md-raised.md-primary(
          ng-disabled="ctrl.working || !ctrl.tickserRights.canCheck || ctrl.shouldPreventRepeats()"
          ng-click="ctrl.checkVoucher(voucherForm)") {{'VOUCHER_DIALOG_CHECK_BTN' | translate}}
      div.md-caption(ng-messages="ctrl.voucher.status")
        span(ng-message="validCode") {{'VOUCHER_DIALOG_STATUS_VALID_CODE' | translate:ctrl.voucher}}
        span(ng-message="invalidCode") {{'VOUCHER_DIALOG_STATUS_INVALID_CODE' | translate}}
        span(ng-message="successfullyApplied") {{'VOUCHER_DIALOG_STATUS_APPLIED' | translate:ctrl.voucher}}
        span(ng-message="alreadyApplied") {{'VOUCHER_DIALOG_STATUS_ALREADY_APPLIED' | translate}}
      div(layout="row")
        div(flex)
        div
          md-button.md-raised.md-primary(
          ng-disabled="ctrl.working || !ctrl.voucher.status.validCode || !ctrl.tickserRights.canCheck"
          ng-click="ctrl.applyVoucher(voucherForm)") {{'VOUCHER_DIALOG_APPLY_BTN' | translate}}
