<div layout="column" flex="flex" layout-padding="layout-padding">
    <div ng-show="ctrl.showRedirectMessage" style="padding-bottom: 10px;" layout="row" layout-align="center center">
        <md-card flex="60" flex-md="100" flex-sm="100" flex-xs="100" layout="column" layout-fill="layout-fill">
            <md-content layout="row" layout-align="center center">
                <p class="subhead">{{'FINANCIAL_REDIRECT_MESSAGE' | translate}}</p>
            </md-content>
        </md-card>
    </div>
    <div layout="row" layout-align="center center" style="width: 100%">
        <md-whiteframe flex="60" flex-md="100" flex-xs="100" flex-sm="100" layout="column" class="md-whiteframe-z1">
            <md-content layout="column">
                <md-tabs md-dynamic-height="md-dynamic-height" md-stretch-tabs="yes" flex="flex">
                    <md-tab>
                        <md-tab-label>
                            <p>{{'FINANCIAL_START_CREDIT_CARD_TAB' | translate}}</p>
                        </md-tab-label>
                        <md-tab-body>
                            <div ng-if="!ctrl.currentUser.country" layout-padding="layout-padding">
                                <div class="alert alert-danger">{{'FINANCIAL_START_CREDIT_CARD_RESIDENCE_REQUIRED' | translate}}</div>
                                <div layout="column" layout-align="end end">
                                    <md-button data-ng-click="ctrl.goToEditProfile()" class="md-raised md-primary">{{'COMMONS_UPDATE_PROFILE' | translate}}</md-button>
                                </div>
                            </div>
                            <div ng-if="ctrl.currentUser.country">
                                <div layout="row" layout-align="center center" layout-fill flex
                                     ng-show="ctrl.creditCardLoading">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                                <div ng-if="!ctrl.creditCardLoading && ctrl.errors.walletDetailsError" layout-padding="layout-padding">
                                    <p class="md-body-1">{{'FINANCIAL_START_COMMON_INFO' | translate}}</p>
                                </div>
                                <div ng-if="!ctrl.creditCardLoading && !ctrl.errors.walletDetailsError" layout-padding="layout-padding">
                                    <p class="md-body-1">{{'FINANCIAL_START_COMMON_INFO' | translate}}</p>
                                </div>
                                <ng-form class="credit-card-form" name="cardForm" layout-padding="layout-padding"
                                         ng-show="!ctrl.creditCardLoading && !ctrl.errors.walletDetailsError">
                                    <md-input-container class="padding-8-0" layout="row">
                                        <label>{{'FINANCIAL_START_COMMON_AMOUNT' | translate}}</label>
                                        <md-select ng-required="true" name="moneyAmount"
                                                   ng-disabled="ctrl.creditCardWorking"
                                                   ng-model="ctrl.cardData.moneyAmount">
                                            <md-option ng-repeat="amount in ctrl.amounts" ng-value="amount">
                                                {{amount}}
                                            </md-option>
                                        </md-select>

                                        <div ng-messages="cardForm.moneyAmount.$error"
                                             ng-if="cardForm.moneyAmount.$dirty || ctrl.attemptedSave">
                                            <div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="padding-8-0" layout="row" ng-if="ctrl.lemonwayWallet">
                                        <label>{{'FINANCIAL_START_CREDIT_CARD_SELECT_CARD' | translate}}</label>
                                        <md-select name="card" ng-disabled="ctrl.creditCardWorking"
                                                   ng-model="ctrl.cardData.card">
                                            <md-option ng-repeat="card in ctrl.lemonwayWallet.cards"
                                                       ng-value="card.id"
                                                       ng-selected="($index == 0) ? true:false">
                                                {{card.num}}
                                            </md-option>
                                        </md-select>

                                        <div ng-messages="cardForm.card.$error"
                                             ng-if="cardForm.card.$dirty || ctrl.attemptedSave">
                                            <!--<div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>-->
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="padding-8-0" layout="row" ng-if="!ctrl.lemonwayWallet">
                                        <label>{{'FINANCIAL_START_CREDIT_CARD_FIRST_NAME' | translate}}</label>
                                        <input type="text" required="required" name="firstName"
                                               ng-model="ctrl.cardData.firstName" ng-disabled="ctrl.creditCardWorking"/>

                                        <div ng-messages="cardForm.firstName.$error"
                                             ng-if="cardForm.firstName.$dirty || ctrl.attemptedSave">
                                            <div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="padding-8-0" layout="row" ng-if="!ctrl.lemonwayWallet">
                                        <label>{{'FINANCIAL_START_CREDIT_CARD_LAST_NAME' | translate}}</label>
                                        <input type="text" required="required" name="lastName"
                                               ng-model="ctrl.cardData.lastName" ng-disabled="ctrl.creditCardWorking"/>

                                        <div ng-messages="cardForm.lastName.$error"
                                             ng-if="cardForm.lastName.$dirty || ctrl.attemptedSave">
                                            <div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="padding-8-0" layout="row" ng-if="!ctrl.cardData.card">
                                        <label>{{'FINANCIAL_START_CREDIT_CARD_SELECT_CARD' | translate}}</label>
                                        <md-select name="cardType" ng-disabled="ctrl.creditCardWorking"
                                                   ng-model="ctrl.cardData.cardType">
                                            <md-option ng-repeat="card in ctrl.cardTypes"
                                                       ng-value="card"
                                                       ng-selected="($index == 0) ? true:false">
                                                {{card}}
                                            </md-option>
                                        </md-select>

                                        <div ng-messages="cardForm.card.$error"
                                             ng-if="cardForm.card.$dirty || ctrl.attemptedSave">
                                            <!--<div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>-->
                                        </div>
                                    </md-input-container>
                                    <div layout="column" layout-align="end end">
                                        <md-button ng-click="ctrl.loadThroughCreditCard(cardForm)"
                                                   ng-disabled="ctrl.creditCardWorking || cardForm.$invalid || !ctrl.currentUser.country"
                                                   ng-show="!ctrl.creditCardWorking"
                                                   class="md-raised md-primary">{{'COMMONS_CONTINUE' | translate}}
                                        </md-button>
                                    </div>
                                </ng-form>
                                <tk-financial-lemonway-form data-ng-if="ctrl.lemonwayForm" lemonway-form="ctrl.lemonwayForm" card-type="ctrl.cardData.cardType"></tk-financial-lemonway-form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <p>{{'FINANCIAL_START_PAYPAL_TAB' | translate}}</p>
                        </md-tab-label>
                        <md-tab-body>

                            <div ng-if="!ctrl.currentUser.country" layout-padding="layout-padding">
                                <div class="alert alert-danger">{{'FINANCIAL_START_PAYPAL_RESIDENCE_REQUIRED' | translate}}</div>
                                <div layout="column" layout-align="end end">
                                    <md-button data-ng-click="ctrl.goToEditProfile()" class="md-raised md-primary">{{'COMMONS_UPDATE_PROFILE' | translate}}</md-button>
                                </div>
                            </div>

                            <ng-form ng-if="ctrl.currentUser.country" name="paypalForm" layout="column" layout-padding="layout-padding">
                                <div>
                                    <p class="md-body-1">{{'FINANCIAL_START_COMMON_INFO' | translate}}</p>
                                </div>
                                <md-input-container>
                                    <label>{{'FINANCIAL_START_COMMON_AMOUNT' | translate}}</label>
                                    <input type="number" required="required" min="3" name="paypalAmount"
                                           ng-model="ctrl.data.paypalAmount"/>

                                    <div ng-messages="paypalForm.paypalAmount.$error"
                                         ng-if="paypalForm.paypalAmount.$dirty || ctrl.attemptedSave">
                                        <div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                                        <div ng-message="min">
                                            {{'ERROR_MIN_PAYPAL_AMOUNT' | translate: '{amount: 3}'}}
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="column" layout-align="end end"><img
                                        style="height: 40px; padding-right: 5px"
                                        ng-src="{{'assets/images/paypal-btn.png' | tkAssetsCdn}}"/>
                                    <md-button ng-click="ctrl.loadThroughPayPal(paypalForm)"
                                               ng-disabled="ctrl.working || paypalForm.$invalid || !ctrl.currentUser.country"
                                               class="md-raised md-primary">
                                        {{'FINANCIAL_START_PAYPAL_PAY_BTN' | translate}}
                                    </md-button>
                                </div>
                                <md-input-container md-no-float="md-no-float" md-is-error="ctrl.errors.country"
                                                    layout="row" style="margin: 0">
                                    <div flex="flex"></div>
                                    <div ng-messages="ctrl.errors">
                                        <div style="opacity: 1; margin-top: 0px" ng-message="country">
                                            {{'ERROR_NO_COUNTRY' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>
                            </ng-form>
                        </md-tab-body>
                    </md-tab>
                    <md-tab ng-if="false"><!-- disabled by Michah request -->
                        <md-tab-label>
                            <p>{{'FINANCIAL_START_INFIN_TAB' | translate}}</p>
                        </md-tab-label>
                        <md-tab-body>

                            <div ng-if="ctrl.infinNoVerifiedPhoneError" layout-padding="layout-padding">
                                <div class="alert alert-danger">{{'FINANCIAL_START_INFIN_PHONE_NOT_VERIFIED' | translate}}</div>
                                <div layout="column" layout-align="end end">
                                    <md-button data-ng-click="ctrl.goToEditProfile()" class="md-raised md-primary">{{'COMMONS_UPDATE_PROFILE' | translate}}</md-button>
                                </div>
                            </div>

                            <div ng-if="ctrl.infinCountryNotSupportedError" layout-padding="layout-padding">
                                <div class="alert alert-danger">{{'FINANCIAL_START_INFIN_COUNTRY_NOT_SUPPORTED' | translate}}</div>
                            </div>

                            <ng-form layout="column" ng-if="ctrl.infinValid" name="infinForm" layout-padding="layout-padding">
                                <div>
                                    <p class="md-body-1">{{'FINANCIAL_START_INFIN_INFO' | translate}}</p>
                                </div>
                                <div>
                                    <p class="md-body-1">
                                        {{'FINANCIAL_START_INFIN_SELECTED_COUNTRY' | translate}}:
                                        {{ctrl.data.infinCountry.name}}
                                    </p>
                                </div>

                                <md-input-container ng-if="ctrl.data.infinCountry">
                                    <label style="padding-left: 10px;">{{'FINANCIAL_START_INFIN_AMOUNT' | translate}}</label>
                                    <md-select ng-required="true" name="infinAmount" ng-model="ctrl.data.infinAmount">
                                        <md-option ng-repeat="tariff in ctrl.data.infinCountry.tariffs"
                                                   ng-value="tariff">{{tariff}} {{ctrl.data.infinCountry.currencyCode}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="infinForm.infinAmount.$error"
                                         ng-if="infinForm.infinAmount.$dirty || ctrl.attemptedSave">
                                        <div ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                                    </div>
                                </md-input-container>

                                <div layout="row" layout-align="end center">
                                    <md-button ng-click="ctrl.loadThroughInfin(infinForm)" ng-disabled="ctrl.working ">
                                        <div layout="column" layout-align="center center">
                                            <p>{{'FINANCIAL_START_INFIN_PAY_BTN' | translate}}</p>
                                            <img ng-src="{{'assets/images/infin-icon.png' | tkAssetsCdn}}"/>
                                        </div>
                                    </md-button>
                                </div>
                                <md-input-container md-no-float="md-no-float" md-is-error="ctrl.errors.country"
                                                    layout="row" style="margin: 0">
                                    <div flex="flex"></div>
                                    <div ng-messages="ctrl.errors">
                                        <div style="opacity: 1; margin-top: 0px" ng-message="country">
                                            {{'ERROR_NO_COUNTRY' | translate}}
                                        </div>
                                    </div>
                                </md-input-container>
                            </ng-form>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-whiteframe>
    </div>
</div>
