<md-dialog flex-xs="100" flex-sm="60" flex-md="35" flex-lg="30" ng-click="ctrl.close()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ ctrl.texts.title }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div>
            <p class="padding-15">{{ ctrl.texts.body }}</p>
        </div>
        <div layout-margin="layout-margin" layout="row">
            <div flex="flex"></div>
            <md-button class="md-raised md-primary" ng-click="ctrl.close()">{{'COMMONS_OK' | translate}}</md-button>
        </div>
    </md-dialog-content>
</md-dialog>