<md-dialog class="md-dialog__fixed" ng-click="ctrl.close($event)">
    <md-dialog-content>
        <h1 style="display: none;" aria-label="Scoreboard">Scoreboard</h1>
        <div data-tk-vote-board="{view:'card', channelId:ctrl.channelId, max:5, preview:true}"></div>
    </md-dialog-content>
</md-dialog>