div(layout='row', layout-margin, layout-align='center center')
  md-whiteframe.md-whiteframe-z1(flex='40', layout='column', layout-align='center center')
    md-toolbar
      div.md-toolbar-tools
        span {{'RETRIEVE_PASSWORD' | translate}}
    md-content(layout-fill)
      form(name='retrievePasswordForm', ng-disabled='ctrl.retrievePasswordSuccess', layout-margin, novalidate)
        div(layout='column')
          md-input-container
            label {{'RETRIEVE_PASSWORD_NEW_PASSWORD' | translate}}
            input(ng-disabled="ctrl.retrievePasswordSuccess", autocomplete="off", name="newPassword",
            required, ng-model="ctrl.newPassword", ng-minlength='4', type="password")
            div(ng-messages='retrievePasswordForm.newPassword.$error', ng-if='retrievePasswordForm.newPassword.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
              div(ng-message='minlength') {{'ERROR_MINLENGTH' | translate}} 4
          md-input-container
            label {{'COMMONS_REPEAT_NEW_PASSWORD' | translate}}
            input(ng-disabled="ctrl.retrievePasswordSuccess", autocomplete="off", name="repeatNewPassword",
            required, ng-model="ctrl.repeatNewPassword", ng-minlength='4', type="password")
            div(ng-messages='retrievePasswordForm.repeatNewPassword.$error', ng-if='retrievePasswordForm.repeatNewPassword.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
              div(ng-message='minlength') {{'ERROR_MINLENGTH' | translate}} 4
          div(layout='row')
            div(flex)
            md-button.md-raised.md-primary(ng-disabled='ctrl.retrievePasswordSuccess',
            ng-click='ctrl.retrievePassword(retrievePasswordForm)') {{'COMMONS_OK' | translate}}
