@mixin grid-generator($size: xs) {
  $i: 25;
  @while $i > 0 {
    .col-#{$size}-#{$i*4} {
      width: 1% * ($i*4);
    }
    $i: $i - 1;
  }

  /** Example:

    .col-xs-100 {
      width: 100%;
    }

    .col-xs-96 {
      width: 96%;
    }

    .col-xs-92 {
      width: 92%;
    }

  **/
}

@include grid-generator();

@media (min-width: 768px) {
  @include grid-generator(sm);

  md-dialog.as-tk-dialog.full-screen {
    // TODO bug!
    width: 94% !important;
    max-width: 94% !important;
  }

  .tk-dialog__pick-inner {
    width: 96% !important; // TODO what a fuck????
  }
}

@media (min-width: 992px) {
  @include grid-generator(md);
}

@media (min-width: 1200px) {
  @include grid-generator(lg);
}

@media (min-height: 1px) {
  .tk-dialog__pick-outer {
    height: 340px;
  }
}

@media (min-height: 500px){
  .tk-dialog__pick-outer {
    height: 360px;
  }
}

@media (min-height: 600px){
  .tk-dialog__pick-outer {
    height: 460px;
  }
}

@media (min-height: 700px){
  .tk-dialog__pick-outer {
    height: 560px;
  }
}