.tk-dialog-container {
  position: fixed;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;

  .tk-dialog-container__table {
    width: 100%;
    height: 100%;
    overflow: auto;

    .tk-dialog-container__table-cell {
      padding: 10% 0 0; // position for iOS mobile device
    }
  }
}

md-dialog.as-tk-dialog {
  position: inherit;
  overflow: auto;
  display: block;
  margin: 0 auto 20% auto;

  &.full-screen {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
}

html:not(.ios) {
  .tk-dialog-container {
    .tk-dialog-container__table {
      display: table;

      .tk-dialog-container__table-cell {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  md-dialog.as-tk-dialog {
    margin: 0 auto;
  }
}

.tk-dialog__pick-outer {
  overflow: auto;
}

.tk-dialog__pick-inner {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.tk-dialog__tools-outer {
  padding: 25px 0;
}