form.content-details-container(layout="column", name="commentForm")
  div(layout="row")
    md-input-container(md-no-float, flex)
      input(type="text", placeholder="{{'COMMENT_TEXT' | translate}}", ng-model="ctrl.comment.text")
  div(layout="row", layout-align-sm="column", layout-align-xs="column", layout-align="center center")
    div.file-select-container(ng-click="ctrl.selectImage()", layout="column")
      div(style="font-weight: bold; font-size: 14px; color: #A6A6A6; height: 32px; line-height: 32px; text-align: center; border-bottom: 1px solid #D3D3D3") {{'COMMENT_SELECT_IMAGE' | translate}}
      div(style="height: 80px; border-bottom: 1px solid #D3D3D3", layout="row", layout-align="center center")
        md-icon(style="font-size: 40px; color: #d3d3d3; line-height: 25px", md-font-icon="mdi mdi-camera", ng-if="ctrl.selectedImage == null")
        img(style="max-width: 100%; max-height: 100%;", ng-src="{{ctrl.selectedImage.key | thumbnailsS3Cdn:120:80}}", ng-if="ctrl.selectedImage != null")
      div(ng-class="{'file-selected-btn': ctrl.selectedImage != null}").file-select-btn {{'COMMONS_UPLOAD' | translate}}

    div.file-select-container(style="margin-left: 20px", ng-click="ctrl.selectVideo()", layout="column")
      div(style="font-weight: bold; font-size: 14px; color: #A6A6A6; height: 32px; line-height: 32px; text-align: center; border-bottom: 1px solid #D3D3D3") {{'COMMONS_SELECT_VIDEO' | translate}}
      div(style="height: 80px; border-bottom: 1px solid #D3D3D3", layout="row", layout-align="center center")
        md-icon(style="font-size: 40px; color: #d3d3d3; line-height: 25px", md-font-icon="mdi mdi-video", ng-if="ctrl.selectedVideo == null")
        img(style="max-width: 100%; max-height: 100%;", ng-src="{{ctrl.selectedVideo.thumbnailImageKey | thumbnailsS3Cdn:120:80}}", ng-if="ctrl.selectedVideo != null")
      div(ng-class="{'file-selected-btn': ctrl.selectedVideo != null}").file-select-btn {{'COMMONS_UPLOAD' | translate}}

  div.content-details-actions(layout="row", layout-align="end center")
    md-button.md-warn(ng-click="ctrl.cancel()") {{'COMMONS_CANCEL' | translate}}
    md-button.md-primary.md-raised(ng-disabled="ctrl.disablePost", ng-click='ctrl.postComment(commentForm)') {{'COMMENT_ADD_BTN' | translate}}

