div(layout="column", layout-align="center center", flex, style="padding: 40px")

  div.media-add-card
    div.title(layout="row", layout-align="start center")
      span {{'LIBRARY_UPLOAD_CARD' | translate}}
    md-divider
    div.buttons-row(layout="row", layout-align="center center", flex, ng-if="!(ctrl.imageFileList.length > 0 || ctrl.video.file.name)")
      div.button-content-type(layout="column",ng-click="ctrl.selectImage()")
        md-icon(md-font-icon="mdi mdi-file-image-box")
        span {{'COMMONS_PHOTOS' | translate}}
      div.button-content-type(style="margin-left: 30px", layout="column",ng-click="ctrl.selectVideo()")
        md-icon(md-font-icon="mdi mdi-video")
        span {{'COMMONS_VIDEO' | translate}}


    div.upload-info(layout-padding, ng-show="ctrl.imageFileList.length > 0 || ctrl.video.file.name")

      tk-file-upload(trigger-file-select="ctrl.selectImage",
      start-upload="ctrl.startUploadImage",
      file-input-id="upload-image",
      clear-file-list="ctrl.clearFileListImage",
      multiple="true",
      file-list="ctrl.imageFileList",
      add-file="ctrl.addFile",
      accept="{{ctrl.IMAGE_FILE_ACCEPT_EXTENSIONS}}")

      tk-file-upload(trigger-file-select="ctrl.selectVideo",
      start-upload="ctrl.startUploadVideo",
      file-input-id="upload-video",
      clear-file-list="ctrl.clearFileListVideo",
      file="ctrl.video.file",
      accept="{{ctrl.VIDEO_FILE_ACCEPT_EXTENSIONS}}")

      div(ng-if="ctrl.imageFileList.length > 0") {{'LIBRARY_UPLOAD_PHOTO_PRICE' | translate}} {{ctrl.filePrice}} ticks
      div(ng-if="ctrl.video.file.name && !ctrl.uploadStarted") {{'LIBRARY_UPLOAD_VIDEO_PRICE' | translate}} {{ctrl.filePrice}} ticks
      div(ng-if="ctrl.video.file.name && ctrl.uploadStarted") {{'LIBRARY_YOUR_VIDEO_IS_BEING_UPLOADED' | translate}} 123

      div(layout="row", flex, layout-align="center center")
        md-button(ng-disabled="!ctrl.filePrice", ng-if="ctrl.imageFileList.length > 0", ng-click="ctrl.checkAndStartUploadImage()") {{'COMMONS_UPLOAD' | translate}}
        md-button(ng-disabled="!ctrl.filePrice", ng-if="ctrl.video.file.name", ng-click="ctrl.checkAndStartUploadVideo()") {{'COMMONS_UPLOAD' | translate}}

  // Tools
  div.media-tools

    div.input-wrapper
      span {{ 'FILTER__LABEL__VIEW' | translate }}
      md-select(ng-model='ctrl.usedFilter.selected', ng-change="ctrl.refresh()", aria-label="Select area")
        md-option(ng-repeat='filter in ctrl.usedFilter.values', ng-value='filter.value', ng-selected='($index == 0) ? true:false') {{filter.key}}

    div(ng-repeat="filter in ctrl.mediaTypeFilter.values")
      div.input-wrapper
        md-checkbox.checkbox-custom.md-primary(type="checkbox", checklist-model="ctrl.mediaTypeFilter.selected", checklist-value="filter.value", checklist-change="ctrl.refresh()", aria-label="mediaTypes")
          label {{filter.key}}

    div.input-wrapper.right
      span {{ 'FILTER__LABEL__SORTED' | translate }}
      md-select(ng-model='ctrl.createdAtFilter.selected', ng-change="ctrl.refresh()", aria-label="Select area")
        md-option(ng-repeat='filter in ctrl.createdAtFilter.values', ng-value='filter.value', ng-selected='($index == 0) ? true:false') {{filter.key}}
  // End tools

  masonry(throttle-time="100", masonry-options="{'isFitWidth': true, 'gutter': 20}", column-width="300").grid
    div.masonry-brick.grid-item(bindonce, ng-repeat="media in ctrl.media")
      tk-media-card(media="media", delete-media="ctrl.deleteMedia", rotate-handler="ctrl.rotate.handler")


