<div class="panel-legend"></div>

<div class="panel-container choose-preview">
    <!-- Choose cover -->
    <div data-ng-if="ctrl.coverImage == null" data-ng-click="ctrl.selectCoverImage($event)" class="choose-button">
        <div class="table">
            <div class="table-cell middle">
                <span>{{ 'COMMONS_SELECT_COVER_IMAGE' | translate }}</span>
                    <span>
                        <md-button
                                data-ng-click="ctrl.DialogService.showHelp($event, 'CHANNEL_SELECT_COVER_IMAGE_HELP')"
                                class="transparent no-margin btn-icon-24">
                            <md-icon class="mdi mdi-help-circle"></md-icon>
                            <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
                        </md-button>
                    </span>
            </div>
        </div>
    </div>
    <!-- If cover was selected -->
    <div data-ng-if="ctrl.coverImage != null" data-ng-click="ctrl.selectCoverImage($event)">
        <div class="selected">
            <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
            <div data-tk-background-by-key="{key: ctrl.coverImage.key, width: 300}"></div>
        </div>
    </div>

    <div class="choose-or">&nbsp;</div>

    <!-- Choose background -->
    <div data-ng-if="ctrl.backgroundImage == null" data-ng-click="ctrl.selectBackgroundImage($event)"
         class="choose-button">
        <div class="table">
            <div class="table-cell middle">
                <span>{{ 'COMMONS_SELECT_BACKGROUND' | translate }}</span>
                    <span>
                        <md-button data-ng-click="ctrl.DialogService.showHelp($event, 'CHANNEL_SELECT_BACKGROUND_HELP')"
                                   class="transparent no-margin btn-icon-24">
                            <md-icon class="mdi mdi-help-circle"></md-icon>
                            <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
                        </md-button>
                    </span>
            </div>
        </div>
    </div>
    <!-- If background was selected -->
    <div data-ng-if="ctrl.backgroundImage != null" data-ng-click="ctrl.selectBackgroundImage($event)">
        <div class="selected">
            <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
            <div data-tk-background-by-key="{key: ctrl.backgroundImage.key, width: 300}"></div>
        </div>
    </div>
</div>

<div class="panel-container lg">
    <!-- Channel name -->
    <md-input-container data-md-is-error="ctrl.formSubmit && ctrl.channelForm.name.$invalid" class="full">
        <label for="name">{{'CHANNEL_NAME' | translate}}</label>
        <input data-ng-model="ctrl.channel.name" type="text" class="md-input" name="name" id="name"
               required="required"/>
        <div data-ng-show="ctrl.channelForm.name.$dirty || ctrl.channelForm.name.$touched || ctrl.formSubmit"
             class="error">
            <span data-ng-show="ctrl.channelForm.name.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
        </div>
    </md-input-container>

    <!-- Channel description -->
    <md-input-container data-md-is-error="ctrl.formSubmit && ctrl.channelForm.description.$invalid" class="full">
        <label for="description">{{'CHANNEL_DESCRIPTION' | translate}}</label>
        <textarea data-ng-model="ctrl.channel.description" class="md-input" name="description" id="description"
                  required="required" rows="3"></textarea>
        <div data-ng-show="ctrl.channelForm.description.$dirty || ctrl.channelForm.description.$touched || ctrl.formSubmit"
             class="error">
            <span data-ng-show="ctrl.channelForm.description.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
        </div>
    </md-input-container>

    <!-- Channel type -->
    <md-input-container class="full">
        <label>{{"CHANNEL_TYPE" | translate}}</label>
        <md-select data-ng-model="ctrl.channel.type" class="full" id="type" aria-label="ariaSelectedChannelType">
            <md-option data-ng-value="type.code" data-ng-repeat="type in ctrl.channelTypes">{{type.name | translate}}
            </md-option>
        </md-select>
    </md-input-container>
</div>

<div class="panel-legend"></div>

<div class="panel-container">
    <div class="panel-field">
        <md-checkbox data-ng-model="ctrl.channel.allowVoting" class="checkbox-custom md-primary">
            <span>{{ 'CHANNEL_VOTE_BOARD__CHECKBOX_LABEL' | translate }}</span>
        </md-checkbox>
        <span>
            <md-button data-ng-click="ctrl.DialogService.showHelp($event, 'CHANNEL_VOTE_BOARD__HELP')"
                       class="transparent no-margin btn-icon-24">
                <md-icon class="mdi mdi-help-circle"></md-icon>
                <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
            </md-button>
        </span>
    </div>
    <div data-ng-if="ctrl.channel.allowVoting" class="panel-field">
        <md-button data-ng-click="ctrl.votingPreview()" class="md-raised md-primary no-margin">{{ 'COMMONS_VIEW_LIST' |
            translate }}
        </md-button>
    </div>
</div>

<div class="panel-legend"></div>

<div class="panel-container">
    <div class="panel-field">
        <md-checkbox data-ng-model="ctrl.channel.showRankedList" class="checkbox-custom md-primary">
            <span>{{ 'CHANNEL_TOPRANKED__CHECKBOX_LABEL' | translate }}</span>
        </md-checkbox>
        <span>
            <md-button data-ng-click="ctrl.DialogService.showHelp($event, 'CHANNEL_TOPRANKED__HELP')"
                       class="transparent no-margin btn-icon-24">
                <md-icon class="mdi mdi-help-circle"></md-icon>
                <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
            </md-button>
        </span>
    </div>
    <div data-ng-if="ctrl.channel.showRankedList" class="panel-field">
        <md-button data-ng-click="ctrl.rankedPreview()" class="md-raised md-primary no-margin">{{ 'COMMONS_VIEW_LIST' |
            translate }}
        </md-button>
        <md-button data-ng-click="ctrl.rankedReset()" class="md-raised md-primary no-margin">{{
            'CHANNEL_TOPRANKED__RESET_BTN' | translate }}
        </md-button>
    </div>
</div>

<div class="panel-legend"></div>

<div class="panel-container">
    <div class="panel-field">
        <md-checkbox data-ng-model="ctrl.channel.shareIncome" class="checkbox-custom md-primary">
            <span>{{ 'CHANNEL_REVENUE_LABEL' | translate }}</span>
        </md-checkbox>
        <span>
            <md-button data-ng-click="ctrl.DialogService.showHelp($event, 'CHANNEL_REVENUE__HELP')"
                       class="transparent no-margin btn-icon-24">
                <md-icon class="mdi mdi-help-circle"></md-icon>
                <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
            </md-button>
        </span>
    </div>

    <!-- Add user -->
    <div data-ng-if="ctrl.channel.shareIncome" class="add-user-wrapper">
        <div>
            <md-input-container
                    data-md-is-error="ctrl.channelForm.userEmail.$invalid || ctrl.userNotFound || ctrl.isExists || ctrl.isSelf"
                    class="full">
                <label>{{ 'CHANNEL_REVENUE_USER_EMAIL' | translate }}</label>
                <input data-ng-model="ctrl.userEmail" type="email" class="md-input" name="userEmail"
                       data-tk-input-select="ctrl.selectUserEmail"/>
                <div data-ng-show="ctrl.channelForm.userEmail.$dirty || ctrl.channelForm.userEmail.$touched || ctrl.userNotFound || ctrl.isExists"
                     class="error">
                    <span data-ng-show="ctrl.channelForm.userEmail.$invalid" class="help-block">{{'ERROR_INVALID_EMAIL_FORMAT' | translate}}</span>
                    <span data-ng-show="ctrl.userNotFound" class="help-block">{{ 'ERROR_REVENUE_USER_NOT_FOUND' | translate }}</span>
                    <span data-ng-show="ctrl.isExists"
                          class="help-block">{{ 'ERROR_REVENUE_USER_ALREADY' | translate }}</span>
                    <span data-ng-show="ctrl.isSelf"
                          class="help-block">{{ 'ERROR_REVENUE_USER_SELF' | translate }}</span>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-button data-ng-disabled="!ctrl.userEmail || ctrl.channel.revenues.length >= 5"
                       data-ng-click="ctrl.revenues.addUser()" class="md-raised md-primary">add
            </md-button>
        </div>
    </div>
</div>

<div data-ng-if="ctrl.channel.revenues.length !== 0 && ctrl.channel.shareIncome" class="panel-container fill">

    <div data-ng-if="isRevenuesError" data-ng-messages="ctrl.revenuesErrors" class="alert alert-danger">
        <div data-ng-message="total">{{ 'ERROR_REVENUE_TOTAL' | translate }}</div>
        <div data-ng-message="small">{{ 'ERROR_REVENUE_SMALL' | translate }}</div>
        <div data-ng-message="invalid">{{ 'ERROR_REVENUE_TYPE' | translate }}</div>
    </div>

    <div class="table-sub-header">
        <div>{{ 'CHANNEL_REVENUE_TABLE_TITLE' | translate }} {{ ctrl.revenuesInfo }}</div>
    </div>

    <!-- Mobile view -->
    <div class="revenues">
        <div class="revenues__header">
            <div class="revenues__header--email">{{ 'COMMONS_EMAIL' | translate }}</div>
            <div class="revenues__header--percent">{{ 'CHANNEL_REVENUE_TABLE_PERCENT' | translate }}</div>
            <div class="revenues__header--datetime">
                {{ 'CHANNEL_REVENUE_TABLE_DATE' | translate }}
                <md-button data-ng-click="ctrl.DialogService.showHelp($event, 'CHANNEL_REVENUE_TABLE_DATE_HELP')"
                           class="transparent no-margin btn-icon-24">
                    <md-icon class="mdi mdi-help-circle"></md-icon>
                    <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
                </md-button>
            </div>
            <div class="revenues__header--tools"></div>
        </div>

        <div data-ng-repeat="revenue in ctrl.channel.revenues | orderBy:isExpired:false"
             data-ng-class="{'disable': revenue.isExpired}" class="revenues__item">
            <div class="revenues__item--email">
                <span class="ellipsis">{{ revenue.tickser.email }}</span>
                <md-button data-ng-click="ctrl.revenues.removeUser(revenue)" class="md-default no-margin btn-icon-32">
                    <md-icon class="mdi mdi-close-circle-outline"></md-icon>
                    <md-tooltip>{{'COMMONS_DELETE_USER' | translate}}</md-tooltip>
                </md-button>
            </div>
            <div class="revenues__item--percent">
                <label>{{ 'CHANNEL_REVENUE_TABLE_PERCENT' | translate }}:</label>
                <input class="field revenues__percent" type="number" name="percent" data-ng-model="revenue.percent"/>
            </div>
            <div class="revenues__item--datetime">
                <label>{{ 'CHANNEL_REVENUE_TABLE_DATE' | translate }}:</label>
                <md-datepicker tk-date-format ng-model="revenue.expiryDate"></md-datepicker>
            </div>
            <div class="revenues__item--tools">
                <md-button data-ng-click="ctrl.revenues.removeUser(revenue)" class="md-default no-margin btn-icon-32">
                    <md-icon class="mdi mdi-close-circle-outline"></md-icon>
                    <md-tooltip>{{'COMMONS_DELETE_USER' | translate}}</md-tooltip>
                </md-button>
            </div>
        </div>
    </div>
    <!-- // Mobile view -->
</div>
