<div data-infinite-scroll-disabled="!ctrl.canScroll"
     data-infinite-scroll="ctrl.loadMore()">
    <div class="vb vb--wrapper" data-ng-class="{'vb--full': tkVoteBoard.view === 'full'}">
        <div class="vb__header">{{'COMMONS_SCOREBOARD' | translate}}</div>
        <div class="vb__list">
            <div class="vb__list__item" data-ng-repeat="content in ctrl.data | orderBy:'-likes' track by $index" data-ng-if="!content.extension">
                <div class="vb__list__item--preview">
                    <div class="vb__list__item--preview-img" data-ng-click="ctrl.goToContent(content);" data-tk-background-by-url="{{content.teaserImageUrl}}"></div>
                </div>
                <div class="vb__list__item--description" data-ng-click="ctrl.goToContent(content);">
                    <div class="vb__list__item--description-title">{{content.title}}</div>
                    <div class="vb__list__item--description-subtitle">{{content.teaserText}}</div>
                </div>
                <div class="vb__list__item--count">
                    <div class="vb__list__item--count--button" data-ng-click="ctrl.voteContent(content);">
                        <i class="tk-icon-heart"></i> <span>{{content.likes}}</span>
                        <md-tooltip>{{'CHANNEL_VOTE_PLACEHOLDER' | translate}}</md-tooltip>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-if="ctrl.nothing" class="nothing">
            <span>{{ 'CHANNEL_VOTE_BOARD__NOTHING' | translate }}</span>
            <div class="icon"></div>
        </div>
        <div class="vb__actions" data-ng-if="ctrl.isCardView">
            <md-button class="md-raised md-primary" data-ng-click="ctrl.goToFullList()">
                {{'COMMONS_VIEW_LIST' | translate}}
            </md-button>
        </div>
    </div>
</div>
