<div>
    <md-menu>
        <!-- ng-click should be always used instead of data-ng-click. see Wiki -->
        <md-button class="button-filter tk-icon-arrow-down"
                   aria-label="Categories menu"
                   data-ng-disabled="disabled || false"
                   ng-click="$mdOpenMenu($event)" >
            <div data-ng-if="selected.length > 0">{{label.selected}} ({{selected.length}})</div>
            <div data-ng-if="selected.length == 0">{{label.unSelected || label.selected}}</div>
        </md-button>
        <md-menu-content width="4" class="dropdown-filter">
            <md-menu-item data-ng-show="search">
                <md-input-container style="padding: 0;">
                    <label for="{{searchId}}">{{'COMMONS_SEARCH' | translate}}</label>
                    <input id="{{searchId}}" data-ng-model="q" type="text" class="md-input" />
                </md-input-container>
            </md-menu-item>
            <md-menu-item data-ng-if="q.length == 0">
                <md-checkbox class="md-primary"
                             aria-label="Select all"
                             data-ng-checked="isSelectAllChecked()"
                             md-indeterminate="isSelectAllIndeterminate()"
                             data-ng-click="toggleAll()"
                             md-prevent-menu-close>{{'COMMONS_SELECT_ALL' | translate}}
                </md-checkbox>
            </md-menu-item>
            <md-menu-item data-ng-repeat="item in items | filter:q as results">
                <md-checkbox class="md-primary"
                             md-prevent-menu-close
                             data-ng-checked="exists(item)"
                             data-ng-click="toggle(item)">
                    {{ item.name }}
                </md-checkbox>
            </md-menu-item>
            <md-input-item data-ng-show="search && results.length == 0">
                <div class="tk-drop-down-filter-not-found">{{ 'COMMONS_NOT_FOUND' | translate }}</div>
            </md-input-item>
        </md-menu-content>
    </md-menu>
</div>