md-dialog
  md-toolbar
    div.md-toolbar-tools {{::ctrl.texts.title}}
  md-dialog-content(layout='column', layout-padding)
    div
      p {{::ctrl.texts.body}}
    div(layout='row')
      md-button.md-warn.md-raised(ng-click='ctrl.cancel()') {{::ctrl.texts.cancel}}
      div(flex)
      md-button.md-primary.md-raised(ng-click='ctrl.confirm()') {{::ctrl.texts.confirm}}