md-card.comment-view-card(layout="row")
  md-card-content(layout="column", flex)

    div(layout="row", style="padding-bottom: 10px", layout-align="start center")
      tk-avatar(avatar-url="ctrl.comment.creator.profileImageUrl", avatar-class="small")
      div(flex).user-info {{ctrl.comment.creator.name}}
      div {{ctrl.comment.createdAt | date: 'dd. MMM yyyy. HH:mm'}}

    md-divider
    div(layout="row")

      div(layout="row", layout-align="center start", layout-align-xs="center center", layout-padding, layout-xs="column")
        div(ng-if="ctrl.comment.video", layout="row", layout-align="center center", layout-padding)
          div.video-container-small
            tk-video(ng-if="ctrl.comment.video.transcoded", video="ctrl.comment.video", thumbnail-width="300")
        div(ng-if="::ctrl.comment.image")
          ng-gallery(images="ctrl.images", open-gallery="ctrl.openGallery", thumbs-num="ctrl.images.length")
          img(style="max-height: 200px; max-width: 200px", ng-src="{{ctrl.comment.image.key | thumbnailsS3Cdn:300:'-'}}", ng-click="ctrl.openGallery(0)")
        div(style="word-break: break-word") {{ctrl.comment.text}}


    div.add-comment-buttons(layout="row", layout-align="end center")
      md-button(ng-if="ctrl.comment.creator.id == ctrl.UserService.getId()", ng-click="ctrl.editComment(comment)") {{'COMMONS_EDIT' | translate}}
      div.card-status(layout="row", layout-align="end center")
        div
          md-icon(md-font-icon="mdi mdi-heart", ng-click="ctrl.likeComment(ctrl.comment)")
          md-tooltip I like this!
          span {{ctrl.comment.likes}}
        div
          md-icon(md-font-icon="mdi mdi-heart-broken", ng-click="ctrl.dislikeComment(ctrl.comment)")
          md-tooltip I don't like this!
          span {{ctrl.comment.dislikes}}


      //md-button(aria-label="text",ng-click="ctrl.postComment(ctrl.comment)")
      //  md-icon(md-font-icon="mdi mdi-pencil")
      //  md-tooltip Post a ctrl.comment
      //
