md-dialog(flex="60")
  md-toolbar
    div.md-toolbar-tools
      h2 {{'FEEDBACK_FLAG_AS_INAPPROPRIATE' | translate}}
      span(flex)
  md-dialog-content
    form(name='feedbackForm', layout-fill, novalidate)
      div(layout='column', layout-padding)
        md-input-container
          label {{'FEEDBACK_FLAG_AS_INAPPROPRIATE_TEXT' | translate}}
          textarea(rows="2", ng-maxlength="255", name='text', ng-model='ctrl.text')
          div(ng-messages='feedbackForm.text.$error', ng-if='feedbackForm.text.$dirty || ctrl.attemptedSave')
            div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
            div(ng-message='maxlength') {{'ERROR_MAX_LENGTH' | translate}} 255

        div(layout-margin, layout='row')
          div(flex)
          md-button.md-raised.md-primary(ng-click='ctrl.flagAsInappropriate(feedbackForm)') {{'FEEDBACK_SUBMIT' | translate}}
