div(layout="row", layout-margin, layout-padding, layout-fill, layout-align="center start")
  md-card(flex-sm="100", flex-md="80", flex-gt-md="60")
    md-card-content
      md-list
        md-subheader.md-no-sticky {{ctrl.channels.length}} Subscriptions

        div(ng-repeat='channel in ctrl.channels', layout="row")
          md-list-item.md-padding.md-1-line(ng-click="ctrl.channelDetails(channel)", flex)
            img.md-avatar(ng-if="channel.coverImage", ng-src="{{channel.coverImage.key | s3cdn}}")
            img.md-avatar(ng-if="!channel.coverImage",ng-src="{{'assets/images/user-icon.png' | tkAssetsCdn}}", style="2em")
            p {{channel.name}}
          div(layout="row", layout-gt-lg="row", layout-align="end center")
            md-button(ng-click='ctrl.unsubscribeToChannel(channel)') {{'COMMONS_REMOVE_FROM_FAVORITES' | translate}}


