div(layout="column", layout-padding, flex)
  div(layout="row", layout-align="center center")
    div.dashboard-featured(flex="40")
      h2
        span.tk-icon-currency
        | {{ctrl.totalTicks}}
      h6 Total revenue this year
    div.dashboard-featured(flex="40")
      h2 1,456
      h6 New subscribers this year
  div(layout="row", layout-align="center center")
    div(flex="40", style="margin-right: 50px")
      canvas(id="byMonth" class="chart chart-bar" chart-data="ctrl.data" chart-labels="ctrl.labels"
      chart-legend="true" chart-series="ctrl.series")
    div(flex="40")
      canvas(id="line" class="chart chart-line" chart-data="ctrl.subs_data" chart-labels="ctrl.labels"
      chart-series="ctrl.subs_series" chart-legend="true")

