div.library-card

  div.library-card__tools

    md-button.btn-icon-32(data-ng-click="deleteMedia($event, media)", aria-label="Button area")
      md-icon(md-font-icon="mdi mdi-close-circle-outline")
      md-tooltip(data-ng-if="media.type == MEDIA_TYPE.IMAGE") {{ 'COMMONS_DELETE_IMAGE' | translate }}
      md-tooltip(data-ng-if="media.type == MEDIA_TYPE.VIDEO") {{ 'COMMONS_DELETE_VIDEO' | translate }}

    md-button.btn-icon-32(data-ng-click="rotate(media)", data-ng-if="media.type == MEDIA_TYPE.IMAGE")
      md-icon(md-font-icon="mdi mdi-rotate-right")
      md-tooltip {{ 'LIBRARY_CARD__ROTATE' | translate }}

  div.library-card__table(data-ng-if="media.type == MEDIA_TYPE.IMAGE")
    div.table-cell.middle.library-card__image-preview
      img.rotate(data-tk-refresh-masonry-after-image-loaded, data-ng-src="{{ media.image.key | thumbnailsS3Cdn:300:'-' }}", data-rotate-deg="0")

  div.library-card__table(data-ng-if="media.type == MEDIA_TYPE.VIDEO")

    div.table-cell.middle.library-card__video-preview
      div(data-ng-if="media.video.transcodingStatus == 1")
        div.teaser-video.play-icon(data-ng-class="{'play-icon': !ctrl.showVideo}", data-ng-click="event.stopPropagation(); ctrl.showVideo = true;")
          img(data-tk-refresh-masonry-after-image-loaded style="display: block" data-ng-if="!ctrl.showVideo" data-ng-src="{{::media.video.thumbnailImageKey | thumbnailsS3Cdn:300:'-'}}")
          tk-video.fixed(ng-if="ctrl.showVideo", auto-play="true", video="media.video", thumbnail-width="300")

      div(data-ng-if="media.video.transcodingStatus == VIDEO_TRANSCODING_STATUS.START")
        md-progress-circular(md-mode="indeterminate")
        p {{ 'VIDEO_PROCESSING_PROGRESS' | translate }}

      div(data-ng-if="media.video.transcodingStatus == VIDEO_TRANSCODING_STATUS.ERROR")
        p {{ 'VIDEO_PROCESSING_ERROR' | translate }}

  div.library-card__filename
    span(ng-if="media.type == MEDIA_TYPE.IMAGE") {{ media.image.name }}
    span(ng-if="media.type == MEDIA_TYPE.VIDEO") {{ media.video.name }}