<div class="tk-header-wrapper">
    <div class="search-handler" data-ng-class="{'in':ctrl.showSearchForm}" data-ng-click="ctrl.search($event)">
        <div>{{ 'COMMONS_SEARCH' | translate }}</div>
    </div>
    <header class="ref blue">
        <div data-ng-class="{'show-search-form':ctrl.showSearchForm}">

            <div class="toggle-menu-bar" data-ng-class="{in:$root.sidebar}" data-ng-click="ctrl.toggleSidebar()">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="logotype-wrapper">
                <a class="logotype" target="_blank" data-ng-href="{{ctrl.LOGOTYPE_LINK}}"></a>
                <md-tooltip>{{ 'HEADER_LOGOTYPE__TOOLTIP' | translate }}</md-tooltip>
            </div>

            <div class="title" data-ng-if="!ctrl.searchIsShow">
                <span data-ng-if="!ctrl.header.channel.canClick && ctrl.header.titleTranslationKey" translate="{{ctrl.header.titleTranslationKey}}"></span>
                <span data-ng-if="!ctrl.header.channel.canClick">{{ctrl.header.title}}</span>
                <a data-ng-if="ctrl.header.channel.canClick" ui-sref="main.channelContentList({channelId: ctrl.header.channel.id})">{{ ctrl.header.channel.name }}</a>

                <div data-ng-if="ctrl.showChannelSubscribeTools">
                    <div class="button tk-icon-favorite-add" data-ng-class="{'hide':ctrl.header.channel.isSubscribed}" data-ng-click="ctrl.subscribeToChannel(ctrl.header.channel)">
                        <md-tooltip>{{ 'CHANNEL_SUBSCRIBE' | translate }}</md-tooltip>
                    </div>
                    <div class="button tk-icon-favorite-remove" data-ng-class="{'hide':!ctrl.header.channel.isSubscribed}" data-ng-click="ctrl.unsubscribeToChannel(ctrl.header.channel)">
                        <md-tooltip>{{ 'COMMONS_REMOVE_FROM_FAVORITES' | translate }}</md-tooltip>
                    </div>
                </div>
                <div data-ng-if="ctrl.showChannelShareTools">
                    <div class="button tk-icon-share" data-ng-click="ctrl.shareChannel($event)">
                        <md-tooltip>{{ 'CHANNEL_SHARE_URL__TOOLTIP' | translate }}</md-tooltip>
                    </div>
                </div>
                <div data-ng-if="ctrl.showPlaylistShareTools">
                    <div class="button tk-icon-share" data-ng-click="ctrl.sharePlaylist($event)">
                        <md-tooltip>{{ 'PLAYLIST_SHARE_URL__TOOLTIP' | translate }}</md-tooltip>
                    </div>
                </div>
            </div>

            <div class="button tk-icon-filter" data-ng-if="ctrl.filterIsShow" data-ng-class="{in:ctrl.filterIn,used:ctrl.filterUsed}" data-ng-click="ctrl.toggleFilter()">
                <md-tooltip data-ng-if="!ctrl.filterIn">{{'HEADER_SHOW_FILTERS__TOOLTIP' | translate }}</md-tooltip>
                <md-tooltip data-ng-if="ctrl.filterIn">{{'HEADER_HIDE_FILTERS__TOOLTIP' | translate }}</md-tooltip>
            </div>
            <div class="button tk-icon-search" data-ng-if="ctrl.searchIsShow" data-ng-click="ctrl.searchSetFocus()">
                <md-tooltip>{{ 'COMMONS_SEARCH' | translate }}</md-tooltip>
            </div>
        </div>

        <div class="search-form tk-icon-search" data-ng-if="ctrl.searchIsShow" data-ng-class="{'xs-in':ctrl.showSearchForm}">
            <md-input-container>
                <label>{{'COMMONS_SEARCH' | translate}}</label>
                <input type="text" data-ng-model="ctrl.searchString" data-ng-blur="ctrl.search($event)"
                       data-ng-keyup="ctrl.search($event)" tk-input-focus="ctrl.searchFocus">
                <div class="tk-icon-cancel search-cancel" data-ng-show="ctrl.searchIsUsed"
                     data-ng-click="ctrl.searchCancel()"></div>
            </md-input-container>
        </div>

        <div class="pull-right" data-ng-class="{'show-search-form':ctrl.showSearchForm}">
            <div class="button tk-icon-notify" data-ng-click="ctrl.openNotificationBar()">
                <md-tooltip md-direction="left">{{ 'TOOLTIPS_HEAD_NOTIFICATION' | translate }}</md-tooltip>
                <div class="count-wrapper" data-ng-show="ctrl.notificationsCount > 0">
                    <span data-ng-if="ctrl.notificationsCount < 100">{{ ctrl.notificationsCount }}</span>
                    <span data-ng-if="ctrl.notificationsCount >= 100">99+</span>
                </div>
            </div>

            <md-menu>
                <div class="clear" ng-click="$mdOpenMenu()">
                    <div class="button tk-icon-wallet margin"></div>
                    <div class="button wallet">
                        <span><b>{{ ctrl.balance.total | tkRound | number }}</b> <i class="tk-icon-currency"></i></span>
                    </div>
                    <md-tooltip md-direction="left">{{ 'TOOLTIPS_HEAD_BALANCE' | translate }}</md-tooltip>
                </div>
                <md-menu-content width="4">
                    <md-menu-item class="clear">
                        <div>{{ 'HEADER_PURCHASED_TICKS_BALANCE' | translate }}</div>
                        <div class="pull-right text-right">{{ ctrl.balance.current | tkRound | number }} <i class="tk-icon-currency menu"></i></div>
                    </md-menu-item>
                    <md-menu-item class="clear">
                        <div>{{ 'HEADER_EARNED_TICKS_BALANCE' | translate }}</div>
                        <div class="pull-right text-right">{{ ctrl.balance.earnedTicks | tkRound | number }} <i class="tk-icon-currency menu"></i></div>
                    </md-menu-item>
                    <md-menu-item class="clear">
                        <div>{{ 'HEADER_FREE_TICKS_BALANCE' | translate }}</div>
                        <div class="pull-right text-right">{{ ctrl.balance.freeTicks | tkRound | number }} <i class="tk-icon-currency menu"></i></div>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.redeemVoucher($event)">{{ 'VOUCHER' | translate }}</md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.openBuyTicks($event)">{{ 'COMMONS_TOP_UP_ACCOUNT' | translate }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu>
                <div class="clear" ng-click="$mdOpenMenu()">
                    <div class="button avatar margin">
                        <tk-avatar data-avatar-url="ctrl.profileImageUrl" data-avatar-class="header"></tk-avatar>
                    </div>
                </div>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="ctrl.openProfile($event)">{{ 'COMMONS_UPDATE_PROFILE' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.changePassword($event)">{{ 'COMMONS_CHANGE_PASSWORD' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.postFeedback($event)">{{ 'FEEDBACK' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.conditions($event)">{{ 'COMMONS_TERMS_AND_CONDITIONS' | translate }}</md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.logout()">{{ 'LOGOUT' | translate }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </header>
</div>