<form name="contentForm" class="panel sm">
    <div class="panel-header">
        <span data-ng-if="content.type === CONTENT_TYPES.LINK">{{'CONTENT_ADD__HEADER__LINK' | translate}}</span>
        <span data-ng-if="content.type === CONTENT_TYPES.IMAGE">{{'CONTENT_ADD__HEADER__PHOTOS' | translate}}</span>
        <span data-ng-if="content.type === CONTENT_TYPES.VIDEO">{{'CONTENT_ADD__HEADER__VIDEO' | translate}}</span>
        <span data-ng-if="content.type === CONTENT_TYPES.TEXT">{{'CONTENT_ADD__HEADER__TEXT' | translate}}</span>
        <md-button data-ng-click="preview()" class="md-default no-margin btn-icon-32">
            <md-icon class="mdi mdi-eye"></md-icon>
            <md-tooltip>{{'CONTENT_ADD_EDIT__TOOLTIP__PREVIEW' | translate}}</md-tooltip>
        </md-button>
    </div>

    <div class="panel-legend">{{'CONTENT_ADD_EDIT__SECTION__PREVIEW' | translate}}</div>

    <div class="panel-container choose-preview">
        <!-- Choose image preview -->
        <div data-ng-if="selectedTeaserImage == null" data-ng-click="selectTeaserImage()" class="choose-button tk-icon-picture">
            <span>{{'CONTENT_ADD_EDIT__FIELD__PREVIEW_IMAGE' | translate}}</span>
        </div>
        <!-- If preview image was selected -->
        <div data-ng-if="selectedTeaserImage != null" data-ng-click="selectTeaserImage()">
            <div class="selected">
                <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
                <div data-tk-background-by-key="{key: selectedTeaserImage.key, width: 110, height: 110}"></div>
            </div>
        </div>

        <div class="choose-or">{{'CONTENT_ADD_EDIT__LABEL__PREVIEW_OR' | translate}}</div>

        <!-- Choose video preview -->
        <div data-ng-if="selectedTeaserVideo == null" data-ng-click="selectTeaserVideo()" class="choose-button tk-icon-video">
            <span>{{'CONTENT_ADD_EDIT__FIELD__PREVIEW_VIDEO' | translate}}</span>
        </div>
        <!-- If preview video was selected -->
        <div data-ng-if="selectedTeaserVideo != null" data-ng-click="selectTeaserVideo()">
            <div class="selected">
                <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
                <div data-tk-background-by-key="{key: selectedTeaserVideo.thumbnailImageKey, width: 110, height: 110}"></div>
            </div>
        </div>

        <div data-ng-if="errorList.IMAGE_OR_VIDEO_PREVIEW" class="error padding-top-15" style="clear: both;">{{'ERROR_CONTENT_IMAGE_OR_VIDEO_PREVIEW' | translate}}</div>
    </div>

    <div class="panel-container">
        <!-- Preview title -->
        <md-input-container data-md-is-error="formSubmit && contentForm.title.$invalid" class="full">
            <label for="title">{{'CONTENT_ADD_EDIT__FIELD__TITLE' | translate}}</label>
            <input data-ng-model="content.title" type="text" class="md-input" name="title" id="title" required="required" />
            <div data-ng-show="contentForm.title.$dirty || contentForm.title.$touched || formSubmit" class="error">
                <span data-ng-show="contentForm.title.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
            </div>
        </md-input-container>

        <!-- Preview description -->
        <md-input-container data-md-is-error="(contentForm.teaserText.$dirty || contentForm.teaserText.$touched) && contentForm.teaserText.$invalid" class="full">
            <label for="teaserText">{{'CONTENT_ADD_EDIT__FIELD__PREVIEW_TEXT' | translate}}</label>
            <textarea data-ng-model="content.teaserText" data-tk-check-new-lines-count data-tk-check-text-length class="md-input" name="teaserText" id="teaserText"></textarea>
            <div data-ng-show="(contentForm.teaserText.$dirty || contentForm.teaserText.$touched) && contentForm.teaserText.$invalid" class="error">
                <span data-ng-show="contentForm.teaserText.$error.tkNewLines" class="help-block">{{'ERROR_TOO_MUCH_NEW_LINES_IN_COUNTENT_PREVIEW_TEXT' | translate}}</span>
                <span data-ng-show="contentForm.teaserText.$error.tkLongText" class="help-block">{{'ERROR_TOO_LONG_CONTENT_PREVIEW_TEXT' | translate}}</span>
            </div>
        </md-input-container>
    </div>

    <div class="panel-legend">{{'COMMONS_CONTENT' | translate}}</div>

    <!-- If content type is image. Choose images -->
    <div data-ng-if="content.type == CONTENT_TYPES.IMAGE" class="panel-container">
        <!-- Selected images -->
        <div class="drag" data-ng-sortable="{ handle: '.sort-handle' }">
            <div data-ng-repeat="image in selectedImages" class="selected sort-handle">
                <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
                <div data-tk-background-by-key="{key: image.key, width: 110, height: 110}">
                    <div data-ng-click="removeSelectedImage(image)" class="tk-icon-cancel"></div>
                </div>
            </div>
        </div>

        <div data-ng-click="selectImage()" class="choose-button tk-icon-plus">
            <span>{{'CONTENT_ADD_EDIT__FIELD__IMAGES' | translate}}</span>
        </div>

        <div data-ng-if="errorList.IMAGE" class="error padding-top-15" style="clear: both;">{{'ERROR_CONTENT_IMAGE' | translate}}</div>
    </div>
    <!-- End if -->

    <!-- If content type is video. Choose video -->
    <div data-ng-if="content.type == CONTENT_TYPES.VIDEO" class="panel-container">
        <!-- Choose video -->
        <div data-ng-if="selectedVideo == null" data-ng-click="selectVideo()" class="choose-button tk-icon-video" style="margin-bottom: 15px;">
            <span>{{'COMMONS_SELECT_VIDEO' | translate}}</span>
        </div>
        <!-- If video was selected -->
        <div data-ng-if="selectedVideo != null" data-ng-click="selectVideo()">
            <div class="selected">
                <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
                <div data-tk-background-by-key="{key: selectedVideo.thumbnailImageKey, width: 110, height: 110}"></div>
            </div>
        </div>

        <div data-ng-if="errorList.VIDEO" class="error" style="clear: both;">{{'ERROR_CONTENT_VIDEO' | translate}}</div>
    </div>
    <!-- End if -->

    <div class="panel-container">

        <!-- Content details description -->
        <div data-ng-if="content.type == CONTENT_TYPES.LINK || content.type == CONTENT_TYPES.VIDEO || content.type == CONTENT_TYPES.IMAGE">
            <md-input-container class="full">
                <label for="description">{{'CONTENT_ADD_EDIT__FIELD__DESCRIPTION' | translate}}</label>
                <textarea data-ng-model="content.description" class="md-input" name="description" id="description"></textarea>
            </md-input-container>
        </div>
    </div>

    <!-- If type content is text -->
    <div data-ng-if="content.type == CONTENT_TYPES.TEXT" class="panel-container fill">
        <text-angular data-ng-class="{'textarea-error': (contentForm.text.$dirty || contentForm.text.$touched || formSubmit) && contentForm.text.$error.required}" placeholder="{{'COMMONS_ENTER_YOUR_TEXT_HERE' | translate}}" name="text" data-ng-model="content.contentText.text" required="required"></text-angular>
        <div data-ng-show="contentForm.text.$dirty || contentForm.text.$touched || formSubmit" class="error margin-bottom-15">
            <span data-ng-show="contentForm.text.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
        </div>
    </div>
    <!-- End if -->

    <!-- If type content is link -->
    <div class="panel-container" data-ng-if="content.type == CONTENT_TYPES.LINK">
        <md-input-container data-md-is-error="formSubmit && contentForm.url.$invalid" class="full">
            <label for="url">{{'CONTENT_ADD_EDIT__FIELD__URL' | translate}}</label>
            <input data-ng-model="content.contentLink.url" type="text" class="md-input" name="url" id="url" required="required" />
            <div data-ng-show="contentForm.url.$dirty || contentForm.url.$touched || formSubmit" class="error">
                <span data-ng-show="contentForm.url.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
            </div>
        </md-input-container>
    </div>

    <div class="panel-container">

        <div class="table price">
            <div class="table-cell">
                <md-input-container class="price tk-icon-currency">
                    <label for="tickPrice">{{'CONTENT_ADD_EDIT__FIELD__PRICE' | translate}}</label>
                    <input data-ng-model="content.tickPrice" type="number" class="md-input" name="tickPrice" id="tickPrice"
                           required="required" />
                </md-input-container>
            </div>
            <div class="table-cell currency-cent-hint">({{content.tickPrice | tkConvertTicks}})</div>
        </div>

        <div data-ng-show="contentForm.tickPrice.$dirty || contentForm.tickPrice.$touched || formSubmit"
             class="error">
        <span data-ng-show="contentForm.tickPrice.$error.required"
              class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
        </div>
    </div>

    <div class="panel-container">
        <div class="panel-field">
            <!-- Language -->
            <md-input-container
                    data-md-is-error="formSubmit && contentForm.language.$invalid"
                    class="full">
                <label>{{'COMMONS_LANGUAGE' | translate}}</label>
                <md-select class="full" ng-model="selectedLanguageId" required="required" name="language">
                    <md-option ng-value="language.id" ng-repeat="language in languages">
                        {{language.name}}
                    </md-option>
                </md-select>
                <div data-ng-show="contentForm.language.$dirty || contentForm.language.$touched || formSubmit" class="error">
                    <span data-ng-show="contentForm.language.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
                </div>
            </md-input-container>

            <!-- Category -->
            <md-input-container
                    data-md-is-error="formSubmit && contentForm.category.$invalid"
                    class="full">
                <label>{{'COMMONS_CATEGORY' | translate}}</label>
                <md-select class="full" ng-model="selectedCategoryId" required="required" name="category">
                    <md-option ng-value="category.id" ng-repeat="category in categories">
                        {{category.name}}
                    </md-option>
                </md-select>
                <div data-ng-show="contentForm.category.$dirty || contentForm.category.$touched || formSubmit" class="error">
                    <span data-ng-show="contentForm.category.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
                </div>
            </md-input-container>
        </div>
    </div>

    <div class="panel-legend">{{'CONTENT_ADD_EDIT__SECTION__OTHER' | translate}}</div>

    <div class="panel-container fill-right">
        <div class="panel-field">
            <md-checkbox data-ng-model="content.campaign" class="checkbox-custom md-primary">
                <span>{{'COMMONS_TWEET_FOR_TICKS' | translate}}</span>
            </md-checkbox>
            <md-button data-ng-click="campaignDialog()" class="md-default no-margin btn-icon-32">
                <md-icon class="mdi mdi-help-circle"></md-icon>
                <md-tooltip>{{'WHAT_IS_THIS__TOOLTIP' | translate}}</md-tooltip>
            </md-button>
        </div>
        <div class="panel-field publish-field">
            <md-checkbox data-ng-model="content.published" class="checkbox-custom md-primary">
                <span>{{'CONTENT_ADD_EDIT__FIELD__PUBLISH' | translate}}</span>
            </md-checkbox>
            <md-select data-ng-disabled="!content.published" data-ng-model="selectedChannel.id" aria-label="ariaSelectedChannel">
                <md-option data-ng-value="channel.id" data-ng-repeat="channel in channels">{{ channel.name }}</md-option>
            </md-select>
        </div>
        <div class="panel-field">
            <md-checkbox class="checkbox-custom md-primary"
                         style="float: left;"
                         data-ng-model="geographicLimitEnable"
                         data-ng-change="changeGeographicLimitEnable()">
                <span>{{ 'CONTENT_ADD_EDIT__FIELD__GEOGRAPHIC_FENCING' | translate }}</span>
            </md-checkbox>
            <div class="drop-down-filter-wp">
                <tk-drop-down-filter label="{selected:filterCountrySelectedLabel,unSelected:filterCountryUnselectedLabel}"
                                     disabled="!geographicLimitEnable"
                                     order-by="true"
                                     search="true"
                                     search-id="geographicFencingCountrySearch"
                                     items="countries"
                                     selected="content.geographicCountries"
                                     unique-key="key">
                </tk-drop-down-filter>
            </div>
            <md-tooltip>{{ 'CONTENT_ADD_EDIT__TOOLTIP__GEOGRAPHIC_FENCING' | translate }}</md-tooltip>
        </div>
        <div class="panel-field">
            <md-checkbox data-ng-model="isConditions" class="checkbox-custom md-primary">
                <span>{{ 'CONTENT_CONDITION_CHECKBOX_LABEL' | translate }}</span>
            </md-checkbox>
        </div>
    </div>

    <div data-ng-show="isConditions">
        <div class="panel-legend">{{ 'CONTENT_CONDITION_PANEL_LEGEND' | translate }}</div>
        <div class="panel-container fill">
            <tk-content-condition name="condition-{{$index}}"
                                  on-remove-listener="onRemoveCondition"
                                  ng-if="content.conditions.length > 0"
                                  ng-repeat="c in content.conditions"
                                  ng-model="content.conditions[$index]"></tk-content-condition>

            <md-button data-ng-click="addCondition()" class="no-margin md-raised md-primary" style="margin-right: 10px !important;">
                {{'CONTENT_CONDITION_ADD' | translate}}
            </md-button>
            <md-button ng-if="content.conditions.length > 0" data-ng-click="clearAllConditions()"
                       class="md-default no-margin">
                {{'CONTENT_CONDITION_DELETE_ALL' | translate}}
            </md-button>
        </div>
    </div>

    <div data-ng-if="isAdd">
        <div class="panel-footer">
            <div class="panel-container fill-right">
                <md-button data-ng-click="cancel()" class="md-default">{{'COMMONS_CANCEL' | translate}}</md-button>
                <md-button data-ng-click="addContent(contentForm)" class="md-raised md-primary">{{'COMMONS_SAVE' | translate}}</md-button>
            </div>
        </div>
    </div>

    <div data-ng-if="isEdit">
        <div class="panel-footer">
            <div class="panel-container fill-right">
                <md-button data-ng-click="cancel()" class="md-default">{{'COMMONS_CANCEL' | translate}}</md-button>
                <md-button data-ng-click="editContent(contentForm)" class="md-raised md-primary">{{'COMMONS_SAVE' |
                    translate}}
                </md-button>
            </div>
        </div>
    </div>
</form>
