<md-dialog flex-xs="95" flex-sm="50" flex-md="35" flex-lg="25">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ ctrl.texts.header }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form layout-fill="layout-fill">
            <div layout="column" layout-padding="layout-padding">
                <md-input-container class="no-margin-bottom" flex="flex">
                    <label class="padding-left-8">{{ ctrl.texts.label }}</label>
                    <input type="text" name="shareUrl" ng-model="ctrl.url" id="url" ng-click="ctrl.select()"/>
                </md-input-container>
                <div class="content-common-successfully-copied" ng-class="{'in' : ctrl.copied}">
                    {{ ctrl.texts.copied }}
                </div>
            </div>
        </form>
        <div layout-margin="layout-margin" layout="row">
            <md-button ngclipboard data-clipboard-target="#url" ngclipboard-success="ctrl.onCopied(e);"
                       class="md-primary">{{ 'COMMONS_COPY' | translate }}
            </md-button>
            <div flex="flex"></div>
            <md-button class="md-raised md-primary" ng-click="ctrl.close()">{{ 'COMMONS_CLOSE' | translate }}</md-button>
        </div>
    </md-dialog-content>
</md-dialog>