.discovery-filters__backdrop.in {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: transparent;
  cursor: default;
}

.discovery-filters__outer {
  position: fixed;
  z-index: 2;
  top: -130px;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  transition: top 350ms;

  &.in {
    top: 68px;
  }
}

.discovery-filters__inner {
  width: 300px;
  max-height: 150px;
  margin: 20px auto 20px auto;
  font-size: 14px;
  padding: 0 10px;

  @extend .as-table;

  .button-apply {
    margin: 21px 0 0;
    float: right;
  }

  .input-wrapper {
    @extend .as-table;

    width: 100%;
    float: left;

    .button-filter {
      width: 100%;
      background-color: rgba(0,0,0,.03);
      border-radius: 0;
      padding-right: 32px;
      margin: 0 0 10px 0;

      &.tk-icon-arrow-down:before {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -7px;
      }
    }
  }
}

.discovery-container {
  width: 340px;
}

.content-list {
  width: 300px;
  margin: 0 auto;

  padding-top: 10px;
  padding-bottom: 20px;

  .content-preview-card,
  .content-add-card {
    margin: 10px auto;
  }
}

.content-loading {
  @extend .as-table;

  height: 100px;
  position: relative;

  md-progress-circular {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
  }
}

.content-after-msg {
  text-align: center;
  color: $color_dark_gray;
  font-size: 1em;
  padding: 30px 0 50px;
}

.content-load-more {
  text-align: center;
  padding: 30px 0 50px;

  .md-button {
    margin: 0;
    font-size: 1em;
    padding: 4px 24px;
  }
}

.content-footer {
  text-align: center;
  font-size: .9em;
  color: #999;
  padding: 20px;
  background: #ececec;
  border-top: 1px solid #dedede;

  label.language {
    position: relative;
    top: 4px;
  }

  md-input-container {
    margin: 0;
  }
}