@media (min-width: 768px) {
  .content-list {
    width: 640px;

    .content-preview-card,
    .content-add-card {
      margin: 10px;
    }
  }

  .discovery-filters__outer {
    top: -10px;
  }
  .discovery-filters__inner {
    width: 640px;
    margin: 20px auto 10px auto;

    .input-wrapper {
      width: auto;
      margin-right: 15px;
    }
    .button-apply {
      float: left;
      margin: 0;
    }
  }
}

@media (min-width: 970px) {
  .discovery-container {
    width: 660px;
  }
}

@media (min-width: 1200px) {
  .content-list,
  .discovery-filters__inner,
  .discovery-container {
    width: 960px;
  }
}

@media (min-width: 1360px) {
  .content-list,
  .discovery-filters__inner {
    width: 1280px;
  }
}