script(src='https://www.google.com/recaptcha/api.js?onload=recaptchaApiLoaded&render=explicit' async defer)
md-dialog.ticksa-new-user(flex="40", flex-md="60", flex-sm="100", flex-xs="100")
  md-toolbar
    div.md-toolbar-tools
      h2 {{'NEW_USER' | translate}}
  md-dialog-content
    h3.md-subhead(layout-padding, layout-margin) {{'NEW_USER_INFO' | translate}}
    form(name='loginForm', layout-fill, novalidate)
      div(layout='column', layout-padding)
        md-input-container.md-icon-float
          label {{'NEW_USER_NAME' | translate}}
          input(name='name', required, type='text', ng-model='ctrl.name')
          div(ng-messages='loginForm.name.$error', ng-if='loginForm.name.$dirty || ctrl.attemptedSave')
            div(ng-message='required') {{'ERROR_REQUIRED' | translate}}

        div(id="test1")
        md-input-container
          input(ng-hide="true", name="recaptcha", required, ng-model="ctrl.recaptcha")
          div(ng-messages='loginForm.recaptcha.$error', ng-if='ctrl.attemptedSave')
            div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
        div(layout="row", layout-wrap, layout-margin, layout-align="center center")
          md-button(flex-order-xs="2", ng-click='ctrl.cancel()') {{'NEW_USER_CANCEL' | translate}}
          div(flex, flex-sm="100", flex-xs="100")
          md-button.md-raised.md-primary(flex-order-xs="1", ng-click='ctrl.submit(loginForm)') {{'COMMONS_OK' | translate}}
