div(layout='row', layout-margin, layout-align='center center')
  md-whiteframe.md-whiteframe-z1(flex='40', layout='column', layout-align='center center')

    md-toolbar
      div.md-toolbar-tools
        span {{'REGISTER_FORM' | translate}}

    md-content(layout-fill)
      form(name='registerForm', ng-disabled='ctrl.registrationSuccess', layout-margin, novalidate)
        div(layout='column')
          md-input-container
            label {{'COMMONS_EMAIL' | translate}}
            input(ng-disabled="ctrl.registrationSuccess",  autocomplete="off", name="email", ng-model-options="{ updateOn: 'blur' }",
            tk-email-available, required, ng-model="ctrl.user.email",  type="email")
            span(ng-show="registerForm.email.$pending.availableEmail") {{'REGISTRATION_EMAIL_PENDING_MESSAGE' | translate}}</span>
            div(ng-messages='registerForm.email.$error', ng-if='registerForm.email.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
              div(ng-message='email') {{'ERROR_INVALID_EMAIL_FORMAT' | translate}}
              div(ng-message='availableEmail') {{'ERROR_EMAIL_NOT_AVAILABLE' | translate}}
          md-input-container
            label {{'COMMONS_USER_NAME' | translate}}
            input(ng-disabled="ctrl.registrationSuccess", autocomplete="off",  name="name",
            required, ng-model="ctrl.user.name",  type="text")
            div(ng-messages='registerForm.name.$error', ng-if='registerForm.name.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
          md-input-container
            label {{'COMMONS_PASSWORD' | translate}}
            input(ng-disabled="ctrl.registrationSuccess", autocomplete="off", name="password",
            required, ng-model="ctrl.user.password", ng-minlength='8', type="password")
            div(ng-messages='registerForm.password.$error', ng-if='registerForm.password.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
              div(ng-message='minlength') {{'ERROR_SHORT_PASSWORD' | translate}}
          md-input-container
            label {{'COMMONS_LANGUAGE' | translate}}
            md-select(required, ng-disabled='ctrl.registrationSuccess', name='language', ng-model='ctrl.user.language')
              md-option(ng-repeat='language in ctrl.languages', ng-value='language') {{language}}
            div(ng-messages='registerForm.language.$error', ng-if='registerForm.language.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
          md-input-container
            label {{'COMMONS_COUNTRY' | translate}}
            md-select(required, ng-disabled='ctrl.registrationSuccess', name='country', ng-model='ctrl.user.countryCode')
              md-option(ng-repeat='country in ctrl.countries', ng-value='country.iso_alpha_2') {{country.nice_name}}
            div(ng-messages='registerForm.country.$error', ng-if='registerForm.country.$dirty || ctrl.attemptedSave')
              div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
          div(layout='row')
            div(flex)
            md-button.md-raised.md-primary(ng-disabled='ctrl.registrationSuccess',
            ng-click='ctrl.register(registerForm, ctrl.user)') {{'REGISTER_ACTION' | translate}}
