md-dialog
  md-toolbar
    div.md-toolbar-tools {{'REGISTRATION_SUCCESS_TITLE' | translate}}
  md-dialog-content(layout='column', layout-padding)
    div
      p {{'REGISTRATION_SUCCESS_MESSAGE' | translate}}

    div(layout='row')
      div(flex)
      md-button.md-primary(ng-click='ctrl.confirm()') {{'COMMONS_OK' | translate}}
