div.sidebar(tk-resize)
  div.toggle-menu-bar.in.dark(data-ng-click="$root.sidebar=false;")
    div
    div
    div
  div.sidebar-title(layout="row", layout-align="start center")
    a(target="_blank", data-ng-href="{{ctrl.LOGOTYPE_LINK}}")
      img(ng-src="{{'assets/images/ticksa-blue.png' | tkAssetsCdn}}")
      md-tooltip {{ 'HEADER_LOGOTYPE__TOOLTIP' | translate }}

  div.sidebar-item(ng-click='sidebar.openDiscover(); ', layout="row", layout-align="start center", ng-class="{'sidebar-item-selected' : sidebar.$state.current.name==='main.contentList'}")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-radio-tower")
    div {{'SIDEBAR_ALL_CONTENT' | translate}}

  div.sidebar-item(ng-click='sidebar.openSubscriptions()', layout="row", layout-align="center center", ng-class="{'sidebar-item-selected' : sidebar.$state.current.name==='main.subscriptions'}")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-book-multiple")
    div(flex="50")
      | {{'COMMONS_FAVORITES' | translate}}
    div(layout="row", layout-align="start center", flex)
  div.sidebar-subscriptions(ng-show="sidebar.showSubscriptionsNarrow", ng-click="sidebar.openSubscription(subscription.id)", layout="row", layout-align="center center", ng-repeat="subscription in sidebar.subscriptions")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-account")
    div.channel-title(flex) {{subscription.name}}

  // ---
  div.sidebar-item(ng-click='sidebar.openChannels()', layout="row", layout-align="center center", ng-class="{'sidebar-item-selected' : sidebar.$state.current.name==='main.channels'}")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-barley")
    div(flex="50") {{'COMMONS_YOUR_CHANNELS' | translate}}
    div(layout="row", layout-align="start center", flex)

  div.sidebar-subscriptions(ng-show="sidebar.showUserChannelsNarrow", ng-click="sidebar.openChannel(channel.id)", layout="row", layout-align="center center", ng-repeat="channel in sidebar.channels")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-account")
    div.channel-title(flex) {{channel.name | cut:true:20}}
  // ---

  // ---
  // todo $state.current.name
  div.sidebar-item(ng-click='sidebar.openPlaylist()', layout="row", layout-align="center center", ng-class="{'sidebar-item-selected' : sidebar.$state.current.name==='main.channels'}")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-view-list")
    div(flex="50") {{'SIDEBAR_USER_PLAYLISTS' | translate}}
    div(layout="row", layout-align="start center", flex)

  div.sidebar-subscriptions(ng-show="sidebar.showPlaylistNarrow", ng-click="sidebar.openPlaylist(list.id)", layout="row", layout-align="center center", ng-repeat="playlist in sidebar.playlists")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-account")
    div.channel-title(flex) {{playlist.name | cut:true:20}}
  // ---

  div.sidebar-item(ng-click='sidebar.openHistory()',
  layout="row", layout-align="center center",
  ng-class="{'sidebar-item-selected' : sidebar.$state.current.name==='main.history'}")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-history")
    div(flex="50")
      | {{'COMMONS_HISTORY' | translate}}
    div(flex)


  div.sidebar-item(ng-click='sidebar.openMedia()',
  layout="row", layout-align="center center",
  ng-class="{'sidebar-item-selected' : sidebar.$state.current.name==='main.library.media'}")
    div(layout="row",flex="30")
      md-icon(md-font-icon="mdi mdi-image-album")
    div(flex="50")
      | {{'COMMONS_YOUR_MEDIA' | translate}}
    div(flex)
  div(flex)


div.sidebar-extra(ng-show="sidebar.showSubscriptionsWide")
  div.sidebar-extra-items(ng-if="sidebar.subscriptions.length == 0", layout="row", layout-align="center center")
    div.no-items(flex) {{'SIDEBAR_NO_SUBSCRIPTIONS' | translate}}

  div.sidebar-extra-items(ng-click="sidebar.openSubscription(subscription.id)", layout="row", layout-align="center center", ng-repeat="subscription in sidebar.subscriptions")
    tk-avatar(ng-if="subscription.coverImage", avatar-url="subscription.coverImage.key | s3cdn", avatar-class="small", style="margin-left: 20px; margin-right: 20px")
    md-icon(ng-if="!subscription.coverImage", style="margin-left: 20px; margin-right: 20px", md-font-icon="mdi mdi-account")
    div.channel-name.ellipsis(flex) {{subscription.name}}

div.sidebar-extra(ng-show="sidebar.showUserChannelsWide")
  div.sidebar-extra-items(layout="row", layout-align="center center", ng-click="sidebar.openNewChannel()")
    div(flex="15")
    div(flex) {{'COMMONS_CHANNEL_ADD' | translate}}
  md-divider
  div.sidebar-extra-items(layout="row", layout-align="center center", ng-repeat="channel in sidebar.channels")
    div(ng-click="sidebar.openChannel(channel.id)", layout="row", layout-align="start center", flex)
      tk-avatar(ng-if="channel.coverImage", avatar-url="channel.coverImage.key | s3cdn", avatar-class="small", style="margin-left: 20px; margin-right: 20px")
      md-icon(ng-if="!channel.coverImage", style="margin-left: 20px; margin-right: 20px", md-font-icon="mdi mdi-account")
      div.channel-name.ellipsis(flex) {{channel.name}}
    div.channel-actions(layout="row", layout-align="end center")
      md-icon(ng-click="sidebar.openChannelSettings(channel.id)", md-font-icon="mdi mdi-settings")
      md-tooltip {{::('COMMONS_CHANNEL_SETTINGS' | translate)}}

div.sidebar-extra(ng-show="sidebar.showPlaylistWide")
  div.sidebar-extra-items(layout="row", layout-align="center center", ng-click="sidebar.openNewPlaylist()")
    div(flex="15")
    div(flex) {{'COMMONS_PLAYLIST_ADD' | translate}}
  md-divider
  div.sidebar-extra-items(layout="row", layout-align="center center", ng-repeat="playlist in sidebar.playlists")
    div(ng-click="sidebar.goToPlaylist(playlist.id)", layout="row", layout-align="start center", flex)
      tk-avatar(ng-if="playlist.coverImage", avatar-url="playlist.coverImage.key | s3cdn", avatar-class="small", style="margin-left: 20px; margin-right: 20px")
      md-icon(ng-if="!playlist.coverImage", style="margin-left: 20px; margin-right: 20px", md-font-icon="mdi mdi-account")
      div.channel-name.ellipsis(flex) {{playlist.name}}
    div.channel-actions(layout="row", layout-align="end center")
      md-icon(ng-click="sidebar.openPlaylistSettings(playlist.id)", md-font-icon="mdi mdi-settings")
      md-tooltip {{::('TOOLTIPS_PLAYLIST_SETTINGS' | translate)}}


