<div class="content-page">
    <div class="content-list">
        <masonry throttle-time="100" masonry-options="{'isFitWidth': true, 'gutter': 20}" reload-on-show column-width="300">
            <div class="masonry-brick" bindonce ng-repeat="content in ctrl.playlist.contents">
                <div tk-content-preview content="content"></div>
            </div>
        </masonry>
    </div>
    <div layout="row" layout-align="center center" ng-show="ctrl.loadingInProgress" layout-fill flex>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>