md-dialog(layout-padding, style="min-width: 30%")
  div(ng-if="!ctrl.UserService.getCountry()")
    div {{'ERROR_NO_COUNTRY' | translate}}
  form(ng-if="ctrl.UserService.getCountry()", name="transferTicksForm", layout="column", flex)
    md-input-container
      label {{'TRANSFER_TICKS_INPUT_LABEL' | translate}}
      input(type="number", name="ticks", ng-model="ctrl.ticks", required, min="1" max="ctrl.UserService.getBalanceEarned()")
      div(ng-messages="transferTicksForm.ticks.$error")
        div(ng-message="required") {{'ERROR_REQUIRED' | translate}}
        div(ng-message="max") {{'ERROR_TICKS_AMOUNT_LESS_THAN' | translate}} {{ ctrl.UserService.getBalanceEarned() }}
        div(ng-message="min") {{'ERROR_TICKS_AMOUNT_GREATER_THAN' | translate}} 0
    div(layout="row", layout-align="end center")
      md-button.md-raised.md-primary(ng-click="ctrl.transferTicks(ctrl.ticks, transferTicksForm)") {{'TRANSFER_TICKS_BTN' | translate}}

