<form name="playlistForm" class="panel sm">
    <div class="panel-header">
        <span>{{ 'COMMONS_PLAYLIST_EDIT' | translate }}</span>
    </div>

    <div ng-if="ctrl.playlist">
        <tk-playlist-settings playlist="ctrl.playlist" playlistForm="playlistForm"></tk-playlist-settings>
    </div>

    <div class="panel-footer">
        <div class="panel-container fill">
            <md-button
                    data-ng-if="true"
                    data-ng-click="ctrl.deactivatePlaylist($event)"
                    class="md-warn" style="float: left;">
                {{'PLAYLIST_DEACTIVATE' | translate}}
            </md-button>
            <md-button data-ng-click="ctrl.cancel()" class="md-default">{{'COMMONS_CANCEL' | translate}}</md-button>
            <md-button data-ng-disabled="!playlistForm.$valid"
                       data-ng-click="ctrl.updatePlaylist(playlistForm)"
                       class="md-raised md-primary">
                {{'COMMONS_BUTTON_APPLY' | translate}}
            </md-button>
        </div>
    </div>

</form>
