@mixin button-content-type {
  .button-content-type {
    cursor: pointer;
    font-size: 13px;
    padding: 0;
    margin: 0;

    md-icon {
      color: $color_dark_gray;
      font-size: 21px;
    }

    span {
      color: $color_extra_dark_gray;
      padding-top: 5px;
    }
  }
}