.box-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
}

.as-table,
.clear {
  &:before {
    display: table;
    content: ' ';
  }

  &:after {
    display: table;
    content: ' ';
    clear: both;
  }
}

[class*="table"] {
  border-spacing: 0;
  border-collapse: collapse;
}

.table-fill {
  display: table;
  width: 100%;
  height: 100%;

  &.fixed{
    table-layout: fixed;
  }
}

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  width: 100%;

  &.middle {
    vertical-align: middle;
  }
}

.absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer !important;
}

button.md-default {
  color: #999;
}

.textarea-error .ta-bind {
  border-bottom: 1px solid #eb0c0c;
  margin-bottom: 5px !important;
}

* {
  box-sizing: border-box;
}

.pull-left {
  float: left;
}

.text-right {
  text-align: right;
}
.text-help {
  font-size: .8em;
  color: #777;
}

.hide {
  display: none;
}

.cursor-default {
  cursor: default !important;
}

.small {
  font-size: .8em;
}