.currency-cent-hint {
  vertical-align: bottom;
  padding-bottom: 4px;
}

.tk-icon-currency.menu {
  font-size: 0.8em;
  padding-left: 4px;
}

.view-button .tk-icon-currency {
  font-size: 0.8em;
  padding-right: 8px;
}

.btn-prev .content-description .tk-icon-currency,
.btn-next .content-description .tk-icon-currency {
  font-size: 0.8em;
  padding-right: 4px;
}

.header .ticks-info .currency span {
  font-size: 0.8em;
  margin-left: 2px;
  position: relative;
  top: -3px;
}

.content .panel-container md-input-container.tk-icon-currency:before {
  position: absolute;
  top: 12px;
  right: -20px;
}

.top-ranked__list__item--sum .tk-icon-currency {
  font-size: 0.8em;
}