.content {
  .panel {

    @extend .block-center;
    @extend .box-shadow;
    @extend .margin-top-60;
    @extend .margin-bottom-60;
    @extend .padding-15;

    width: 100%;
    background: white;
  }

  .panel-header {

    @extend .as-table;

    color: $color_gray_oh;
    font-weight: 600;
    padding-bottom: 7px;

    > span {
      display: block;
      float: left;
      padding-top: 4px;
    }

    button {
      @extend .pull-right;
      @extend .no-margin-right;

      md-icon {
        position: relative;
        top: -1px;
      }
    }
  }

  .panel-legend {
    position: relative;
    font-size: 13px;
    color: #c0c0c0;
    border-top: 1px solid lighten($color_sky_blue, 20%);
    padding: 10px 0 15px;

    &.sm-bottom {
      padding-bottom: 5px;
    }

    > button {
      position: absolute;
      right: 0;
    }
  }

  .panel-container {
    @extend .as-table;

    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;

    &.lg {
      margin-bottom: 45px;
    }

    &.fill-right {
      width: 75% !important;
    }

    .panel-field {
      @extend .as-table;
    }

    .drop-down-filter-wp {
      @extend .as-table;

      width: auto;
      float: left;
      padding-top: 2px;

      .button-filter {
        width: 100%;
        background-color: transparent;
        border-radius: 0;
        padding-right: 32px;
        margin: 0 0 10px 0;
        line-height: inherit;
        min-height: inherit;

        &.tk-icon-arrow-down:before {
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -7px;
        }
      }

      .md-button {
        margin: 0;
        text-transform: inherit;
      }
    }

    .choose-button {
      color: #c0c0c0;
      background: transparent;
      width: 110px;
      height: 100px;
      border: 2px dashed #c0c0c0;
      border-radius: 12px;
      float: left;
      position: relative;
      cursor: pointer;

      span {
        font-size: 12px;
        text-align: center;
        display: block;
        padding: 0 5px;
      }

      > span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8px;
        padding: 0 12px;
      }

      &.tk-icon-picture:before,
      &.tk-icon-video:before,
      &.tk-icon-plus:before {
        position: absolute;
        font-size: 36px;
        top: 15px;
        left: 50%;
        margin-left: -18px;
      }

      &.tk-icon-plus:before {
        top: 25px;
      }

      .table {
        height: 100%;
      }

      &:hover, &:active {
        color: #a0a0a0;
        background: #f9f9f9;
      }
    }

    .choose-or {
      width: 52px;
      color: #929292;
      text-align: center;
      font-size: 14px;
      float: left;
      padding-top: 42px;
    }

    > div {
      .selected {
        position: relative;
        width: 114px;
        height: 104px;
        float: left;
        margin-bottom: 15px;
        border-radius: 12px;
        cursor: pointer;

        > md-progress-circular {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -25px 0 0 -25px;
        }

        > div {
          position: relative;
          z-index: 2;
          width: 114px;
          height: 104px;
          background-size: cover;
          background-position: 50%;
          border-radius: 12px;

          > div {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 16px;
            height: 16px;
            line-height: 1;
            color: #fff;
            cursor: pointer;
          }
        }

        &:nth-child(2n-1) {
          margin-right: 15px;
        }
      }

      &.drag {
        > div {
          cursor: move;
        }
      }
    }

    md-input-container {
      position: relative;
      //margin: 15px 0 0; // md-autocomplete incorrectly displayed

      &.full {
        width: 100%;
      }

      &:not(.md-input-focused) {
        label {
          font-size: 14px;
          color: #929292;
        }
      }

      &.price {
        ~ .error {
          color: #eb0c0c;
          font-size: 12px;
          padding-left: 2px;
          position: relative;
          top: -20px;
        }
      }

      .error {
        color: #eb0c0c;
        float: left;
        font-size: 12px;
        padding: 3px 0 0 2px;
      }
    }

    .table.price {
      .table-cell:first-child {
        width: 30%;
      }
      .table-cell:last-child {
        width: 70%;
        padding-left: 30px;
        white-space: nowrap;
        font-size: 13px;
        color: #999;
      }
    }

    md-checkbox {
      margin-right: 0;

      span {
        font-size: 13px;
        font-weight: 600;
        color: $color_sky_blue;
      }
    }

    md-select {
      font-size: 14px;
      display: inline-block;
      margin: 0;

      &[disabled] {
        .md-select-value {
          border: none;
          background: none;
        }
      }

      &.sm {
        font-size: 13px;
      }

      &.full {
        width: 100%;
      }
    }

    .publish-field {
      md-checkbox {
        display: block;
        float: left;
      }

      md-select {
        display: block;
        float: left;
        margin-left: 5px;
        position: relative;
        top: -2px;
      }
    }

    .ta-toolbar {
      border-bottom: 1px solid #ddd;
      padding-bottom: 1px;

      button {
        width: 26px;
        min-width: 26px;
        height: 26px;
        min-height: 26px;
        margin: 0 1px 0 0;
        font-size: 13px;
        padding: 0;
        text-align: center;
        line-height: 1;
      }
    }

    .ta-bind {
      word-wrap: break-word;
      padding: 5px;
      min-height: 100px;
      font-size: 13px;
      margin-top: 10px;
      background: #f9f9f9;
      margin-bottom: 20px;

      &::before {
        color: #c0c0c0;
        font-size: 13px;
      }

      > * {
        margin: 0;
      }
    }
  }

  .panel-footer {
    text-align: right;
    border-top: 1px solid lighten($color_sky_blue, 20%);

    .panel-container {
      margin-top: 0;
      margin-bottom: 0;
      padding: 15px 0 0;
    }
    button {
      margin: 0;
      padding: 0 20px;
    }
  }

  .panel-tools-board {
    @extend .as-table;

    /*border-top: 1px solid lighten($color_sky_blue, 20%);
    padding-top: 1px;*/

    .tool-item {
      @extend .table-cell;

      position: relative;

      width: 25%;
      height: 36px;

      color: white;
      background-color: $color_sky_blue;
      border-right: 1px solid white;

      text-align: center;
      vertical-align: middle;

      font-weight: 100;
      font-size: 14px;

      cursor: pointer;

      &:last-child {
        border-right: none;
      }

      &:hover {
        background-color: darken($color_sky_blue, 10%);
      }

      i[class*="t__icon"] {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;

        &::before {
          content: ' ';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      .t__icon-text {
        &::before {
          background: {
            color: transparent;
            image: url($icon_text_white);
            position: 50% 50%;
            repeat: no-repeat;
            size: 16px;
          };
        }
      }

      .t__icon-photos {
        &::before {
          background: {
            color: transparent;
            image: url($icon_photos_white);
            position: 50% 50%;
            repeat: no-repeat;
            size: 16px;
          };
        }
      }

      .t__icon-video {
        &::before {
          background: {
            color: transparent;
            image: url($icon_video_white);
            position: 50% 50%;
            repeat: no-repeat;
            size: 16px;
          };
        }
      }

      .t__icon-link {
        &::before {
          background: {
            color: transparent;
            image: url($icon_link_white);
            position: 50% 50%;
            repeat: no-repeat;
            size: 16px;
          };
        }
      }

      > span {
        display: none;
      }

    }
  }
}

.channel-content {
  .item-wrapper {
    max-width: 300px;
    margin: 30px auto 0;

    .item {
      @extend .as-table;

      border-bottom: 1px solid $color_light_gray;
      padding-bottom: 15px;

      .preview {
        position: relative;

        img {
          display: block;
          width: 100%;
        }

        .type-tooltip {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          opacity: 0;
          visibility: hidden;

          transition: visibility 350ms, opacity 350ms;

          &.link {
            background: {
              color: rgba(0,0,0,.5);
              image: url($icon_link_white);
              position: 50% 45%;
              repeat: no-repeat;
              size: 32px;
            };
          }

          &.photos {
            background: {
              color: rgba(0,0,0,.5);
              image: url($icon_photos_white);
              position: 50% 45%;
              repeat: no-repeat;
              size: 32px;
            };
          }

          &.video {
            background: {
              color: rgba(0,0,0,.5);
              image: url($icon_video_white);
              position: 50% 45%;
              repeat: no-repeat;
              size: 32px;
            };
          }

          &.text {
            background: {
              color: rgba(0,0,0,.5);
              image: url($icon_text_white);
              position: 50% 45%;
              repeat: no-repeat;
              size: 32px;
            };
          }

          span {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 12px;
            color: white;
            padding-top: 18px;
            cursor: default;
          }
        }
      }

      &:hover .preview .type-tooltip {
        opacity: 1;
        visibility: visible;
      }

      .mobile-drag-handler {
        width: 34px;
        height: 10px;
        margin: 10px auto 15px auto;

        cursor: move;
        cursor: -webkit-grab;

        background: {
          image: url($icon_drag_handler_mobile);
        };
      }

      .description {
        .title {
          font-size: 14px;
          font-weight: 600;
          padding-right: 20px;
          position: relative;
          max-height: 40px;

          i {
            cursor: default;
            display: inline-block;
            color: #37b9ff;
            font-size: 1.14em;
            padding-right: 5px;
          }

          span {
            position: absolute;
            top: 4px;
            right: 0;
            cursor: pointer;
            display: none;

            .tk-icon-arrow-down {
              font-size: 21px;

              &::before {
                line-height: .7;
              }
            }
          }
        }
        .preview-text {
          padding-top: 3px;
          font-size: 12px;
          color: $color_gray_oh;
          max-height: 56px;
          overflow: hidden;
        }
        .sub-tools {
          display: flex;
          align-items: flex-end;
          font-size: .8rem;

          .sub-tools__time-ago {
            padding: 0 6px;
            color: $color_dark_gray;
          }
        }
      }

      .actions {
        text-align: center;
        padding-top: 15px;

        .btn {
          display: inline-block;

          color: white;
          font-size: 14px;
          font-weight: 100;
          text-transform: uppercase;
          height: 30px;
          line-height: 30px;

          padding: 0 15px;
          min-width: 110px;

          cursor: pointer;

          &.view {
            background-color: darken($color_light_green, 10%);

            &:hover {
              background-color: darken($color_light_green, 20%);
            }

            &.gray {
              color: white;
              background-color: $color_gray_oh;

              &:hover {
                background-color: lighten($color_gray_oh, 10%);
              }
            }
          }
          &.remove {
            background-color: #e6e6e6;
            color: #222;

            &:hover {
              background-color: darken(#e6e6e6, 10%);
            }
          }
        }
      }
    }
  }
}

.ghost.item-wrapper {
  border: 2px dashed $color_medium_gray;
  border-radius: 6px;

  .type-tooltip {
    display: none;
  }

  .item > div {
    visibility: hidden;
  }
}

.channel-content .item:hover .description .title span {
  display: inline-block;
}

.choose-preview {
  min-width: 280px;

  .selected {
    margin: 0 !important;
    cursor: pointer;
  }
}

.add-user-wrapper {
  @extend .as-table;

  margin-top: 15px;

  > div:first-child {
    float: left;
    width: 70%;

    md-input-container {
      margin: 4px 0 0;
    }
  }
  > div:last-child {
    float: right;
    text-align: right;
    width: 30%;

    button {
      margin: 0;
      min-width: 0;
      padding: 0 15px;
    }
  }
}

.error {
  color: #eb0c0c;
  font-size: 12px;
}

md-input-container.md-input-focused .md-input,
md-input-container .md-input.ng-invalid.ng-dirty {
  border-width: 0 0 1px 0;
  padding-bottom: 1px;
}

.content .panel-container md-input-container label,
.content .panel-container md-input-container:not(.md-input-focused) label{
  font-size: 14px;
}

md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input {
  border-color: #eb0c0c;
}

input.field {
  border-width: 0 0 1px 0;
  border-bottom-color: rgba(0,0,0,0.12);

  background-color: transparent;

  padding: 2px;
  width: 100%;
  min-height: 30px;

  line-height: 26px;
  font-size: 14px;

  outline: 0;

  &:focus {
    border-bottom-color: $color_sky_blue;
  }
}

button.backwards__to-left,
button.backwards__to-right {
  float: none;
  display: block;
}

button.backwards__to-right + button.backwards__to-left {
  margin-top: 20px;
}