/* --- padding --- */
.no-padding {
  padding: 0;
}
.padding-15 {
  padding: 15px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-30 {
  padding-top: 30px;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}

/* --- margin --- */
.no-margin {
  margin-top: 0 !important;
  margin-right: 0 !important;;
  margin-bottom: 0 !important;;
  margin-left: 0 !important;;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-right {
  margin-right: 0;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}