@font-face {
  font-family: 'ticksa-icon-collection';
  src: url('../assets/fonts/ticksa-icon-collection.eot?11692064');
  src: url('../assets/fonts/ticksa-icon-collection.eot?11692064#iefix') format('embedded-opentype'),
  url('../assets/fonts/ticksa-icon-collection.woff?11692064') format('woff'),
  url('../assets/fonts/ticksa-icon-collection.ttf?11692064') format('truetype'),
  url('../assets/fonts/ticksa-icon-collection.svg?11692064#ticksa-icon-collection') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tk-icon-"]:before,
[class*=" tk-icon-"]:before,

header.ref .button.tk-icon-filter:after,
.cc-search md-autocomplete md-input-container:before,
md-toolbar.with-tools .dialog-choose::before {
  font-family: "ticksa-icon-collection";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tk-icon-currency:before { content: '\e800'; }
.tk-icon-picture:before { content: '\e801'; }
.tk-icon-video:before { content: '\e802'; }
.tk-icon-plus:before { content: '\e803'; }
.tk-icon-cancel:before { content: '\e804'; }
.tk-icon-arrow-down:before { content: '\e805'; }
.tk-icon-arrow-left:before { content: '\e806'; }
.tk-icon-arrow-right:before { content: '\e807'; }
.tk-icon-arrow-up:before { content: '\e808'; }

.tk-icon-filter-full:before,
.header .toggle-filter.in:before { content: '\e809'; }

.tk-icon-filter:before,
.header .toggle-filter:before{ content: '\e80a'; }

.tk-icon-pencil:before { content: '\e80b'; }
.tk-icon-link:before { content: '\e80c'; }

.tk-icon-ok-circled:before,
.header .toggle-filter.used:after{ content: '\e80d'; }

.tk-icon-facebook:before { content: '\e80e'; }
.tk-icon-gplus:before { content: '\e80f'; }
.tk-icon-login:before { content: '\e810'; }

.tk-icon-search:before,
.cc-search md-autocomplete md-input-container:before { content: '\e811'; }

.tk-icon-notify:before { content: '\e812'; }
.tk-icon-user:before { content: '\e813'; }
.tk-icon-wallet:before { content: '\e814'; }
.tk-icon-share:before { content: '\e815'; }
.tk-icon-favorite-add:before { content: '\e816'; }
.tk-icon-favorite-remove:before { content: '\e817'; }
.tk-icon-spin:before { content: '\e818'; }
.tk-icon-heart:before { content: '\e819'; }

.tk-icon-ok:before,
md-toolbar.with-tools .dialog-choose::before{ content: '\e81a'; }

.tk-icon-content-link:before { content: '\e81b'; }
.tk-icon-globe:before { content: '\e81c'; }
.tk-icon-verified:before {
  content: '\e81d';
  color: #37b9ff;
}

/*
   Animation
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}