.library-card {
  @extend .box-shadow;

  width: 300px;
  height: 300px;
  margin-bottom: 50px;

  position: relative;

  &.pick {
    cursor: pointer;
    transition: transform 150ms;

    .icon-pick {
      height: 32px;
      position: relative;

      &::before {
        position: absolute;
        right: 8px;
        height: 16px;
        width: 16px;
        top: 50%;
        margin: -8px 0 0;

        color: $color_light_gray;
      }
    }

    &:hover, &:focus {
      .icon-pick::before {
        color: $color_dark_gray;
      }
    }

    &.selected {
      transform: scale(.96);

      .icon-pick::before {
        color: $color_sky_blue;
      }
    }
  }

  &__tools {

    @extend .as-table;

    height: 32px;

    button {
      margin: 0;
      float: right;

      md-icon {
        position: relative;
        top: -1px;
      }
    }
  }

  &__table {
    display: table;
    table-layout: fixed;

    width: 100%;
    height: 228px;

    text-align: center;
  }

  &__image-preview {

    padding: 0 15px;
    height: 228px;

    > img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;

      transition: transform 300ms, max-width 300ms;

      &.deg90 {
        transform: rotate(90deg);
        max-width: 80%;
      }

      &.deg180 {
        transform: rotate(180deg);
      }

      &.deg270 {
        transform: rotate(270deg);
        max-width: 80%;
      }
    }
  }

  &__video-preview {

    text-align: center;
    padding: 10px 15px;
    height: 228px;

    position: relative;

    md-progress-circular {
      margin: 0 auto;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 200px;

      margin: 0 auto;
    }
  }

  &__filename {

    @extend .ellipsis;

    text-align: center;
    font-size: 0.85em;

    padding: 10px 15px 0;
  }
}
