@media (min-width: 420px) {
  .content .panel-tools-board .tool-item > span {
    display: initial;
  }
  .content .panel-tools-board .tool-item {
    text-indent: -10px;
  }
}

@media (max-width: 420px) {
  button.backwards__to-left,
  button.backwards__to-right {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .channel-content .item-wrapper .item .description .title {
    max-height: inherit;
  }
}

@media (min-width: 660px) {

  .video-container-large {
    width: 640px;
    height: 360px;
  }
  .content .panel {
    width: 70%;
    min-width: 320px;
  }
  .header .account-options {
     padding-right: 40px;
  }

  .media-tools .input-wrapper {
    float: left;
  }
  .media-tools .input-wrapper.right {
    float: right;
  }
  .media-tools .input-wrapper md-checkbox {
    margin-top: 5px;
    margin-left: 25px;
  }
  .media-tools .input-wrapper > md-select {
    margin: 0;
    md-select-value {
      border: none;
    }
  }

  .channel-content .item-wrapper {
    width: 100%;
    max-width: 100%;

    .item {
      width: 100%;
      height: 100px;

      position: relative;
      display: table;
      table-layout: fixed;

      border-bottom: none;

      &::after {
        position: absolute;
        content: ' ';
        top: 115px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $color_light_gray;
      }

      .preview {
        width: 100px;
        display: table-cell;

        background: {
          position: 50% 50%;
          size: cover;
        };

        .type-tooltip {
          background-size: 20px;

          span {
            padding-top: 12px;
          }
        }

        img {
          display: none;
        }
      }
      .mobile-drag-handler {
        display: none;
      }
      .description {
        display: table-cell;
        width: 100%;
        position: relative;

        padding: 0 15px;

        .sub-tools {
          position: absolute;
          bottom: 0;
          font-size: 12px;
        }

        .title span {
          right: -110px;
          top: -1px;
          z-index: 10;
        }
      }
      .actions {
        position: relative;

        display: table-cell;
        vertical-align: middle;

        width: 120px;
        padding: 0;

        text-align: right;

        .btn {
          text-align: center;

          &.remove {
            margin-top: 5px;
          }
        }

        .desktop-drag-handler {
          content: ' ';
          position: absolute;
          top: 0;
          right: 0;

          width: 10px;
          height: 10px;

          background-image: url($icon_drag_handler_desktop);

          cursor: move;
          cursor: -webkit-grab;
        }
      }
    }
  }

  .channel-list.channel-content {
    padding: 0;
    margin: 0 -8px 8px -8px;

    max-height: 300px;

    overflow: auto;

    .item-wrapper {
      max-width: inherit;
      margin: 0;
      padding: 8px 15px;

      .item {
        padding: 0;
        height: 60px;

        &::after {
          display: none;
        }

        .preview {
          width: 60px;

          .type-tooltip {
            &.video,
            &.photos,
            &.link,
            &.text {
              background-size: 20px;
              background-position: 50% 34%;

              span {
                padding-top: 5px;
                font-size: 11px;
              }
            }
          }
        }

        .description .title {

          & {
            padding-top: 0 !important;
          }

          &, .preview-text {
            //font-weight: normal;
            max-height: 40px;
            padding-top: 3px;
          }
        }
      }

      &.current {
        background-color: #0097cf;

        .description .title {
          &, .preview-text {
            color: white;
          }
        }
      }
    }
  }
  .content-view-card .content-title.table {
    height: 42px;
  }
  .content-view-card .content-title.table > .table-cell {
    padding: 10px 0 0;
  }
  .content-view-card .content__header-line--channel-name {
    width: 75%;
    float: left;
  }
  .content-view-card .content__header-line--button-actions {
    width: 25%;
    float: left;

    display: block;
    text-align: right;
  }

  .top-ranked {
    &__full {
      width: 100%;

      .top-ranked__list__item {
        &--number {
          width: 5%;
        }
        &--avatar {
          width: 10%;
        }
        &--name {
          width: 60%;

          .ellipsis {
            width: 100%;
          }
        }
        &--sum {
          width: 10%;
        }
        &--button {
          width: 10%;
          text-align: right;
        }
      }
    }
  }
  .top-ranked__card-preview {
    margin: 10px;
  }

  button.backwards__to-left {
    float: left;
  }

  button.backwards__to-right {
    float: right;
  }

  button.backwards__to-right + button.backwards__to-left {
    margin-top: inherit;
  }
}

@media (min-width: 992px) {
  .content .panel {
    width: 54%;
    min-width: 320px;
  }
  .content-details-container,
  .account-profile {
    margin: 15px 50px 0;
    padding: 23px 20px 35px;
  }

  .social-information {
    margin-top: 0;
  }

  .history-date {
    margin-bottom: 0;
  }

  .content-view-card,
  div.history {
    padding: 20px 55px;
    width: 100%;
    margin: 0;
  }

  .history-card {
    padding: 20px;
  }

  .content .panel-container:not(.fill) {
    width: 50%;
    margin-left: 25%;
  }
  .credit-card-form {
    width: 60%;
  }

  .revenues {
    &__header {
      display: block;
    }

    &__item {

      &:before {
        display: table;
        content: ' ';
      }

      &:after {
        display: table;
        content: ' ';
        clear: both;
      }

      width: 100%;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }

      > div {
        padding: 8px 0;
        float: left;

        label {
          display: none;
        }
      }

      &--email {
        width: 50%;
        font-size: 14px;

        .md-button {
          display: none;
        }
      }
      &--percent {
        width: 15%;
      }
      &--datetime {
        width: 25%;
      }
      &--tools {
        width: 10%;
        display: block;
        text-align: right;
      }
    }
  }
}

@media (min-height: 640px) and (min-width: 1200px) {
  .video-container-small {
    width: 320px;
    height: 180px;
  }

  .video-container-large {
    width: 845px;
    height: 480px;
  }
}
