@mixin image() {
  .image {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
  }
}

tk-avatar {
  display: inline-block;
  outline: 0;

  &.cursor {
    cursor: pointer;
  }

  .avatar-icon {
    height: 40px;
    width: 40px;
    line-height: 27px;
    text-align: center;
    background: $color_sky_blue 50% 50%/cover;
    border-radius: 50%;
    vertical-align: middle;
    color: white;

    img {
      border-radius: 50%;
    }

    &.avatar-icon-small {
      height: 20px;
      width: 20px;

      .tk-icon-user {
        font-size: 12px;
      }

      @include image;
    }

    &.avatar-icon-medium {
      height: 32px;
      width: 32px;

      .tk-icon-user {
        font-size: 1.2em;
      }

      @include image;
    }

    &.avatar-icon-large {
      height: 75px;
      width: 75px;
      line-height: 69px;

      .tk-icon-user {
        font-size: 2.4em;
      }

      @include image;
    }

    &.avatar-white {
      .avatar-icon {
        background: white 50% 50%/cover;

        .tk-icon-user {
          color: $color_sky_blue
        }
      }
    }

    &.avatar-in-header {
      background-color: white;

      .tk-icon-user {
        color: #37b9ff;
        font-size: 1em;
        position: relative;
        top: 5px;
        left: 0;
      }

      @include image;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 359px),
(min--moz-device-pixel-ratio: 2) and (max-width: 359px),
(-o-min-device-pixel-ratio: 2/1) and (max-width: 359px),
(min-device-pixel-ratio: 2) and (max-width: 359px),
(min-resolution: 192dpi) and (max-width: 359px),
(min-resolution: 2dppx) and (max-width: 359px) {
  tk-avatar .avatar-icon.avatar-in-header .tk-icon-user {
    font-size: 1.2em;
    top: 6px;
  }
}
