div(style="height: 100%")
  input(ng-if="multiple" type="file", style="display:none", ng-attr-id="{{fileInputId}}", multiple="multiple"
  start-upload="ctrl.startEvaUpload", evaporate, cancel-upload-file="ctrl.cancelUploadFile", add-external-file="ctrl.addExternalFile", eva-model="ctrl.evaData", accept="{{accept}}")
  input(ng-if="!multiple" type="file", style="display:none", ng-attr-id="{{fileInputId}}",
  start-upload="ctrl.startEvaUpload", evaporate, cancel-upload-file="ctrl.cancelUploadFile", add-external-file="ctrl.addExternalFile",eva-model="ctrl.evaData", accept="{{accept}}")


  md-list.uploadingFiles(style="padding: 0")
    md-list-item.md-3-line(ng-repeat="file in ctrl.evaData.files")
      div.md-list-item-text.file-upload--uploaded-file
        div.ellipsis.upload-file__file-name {{file.name}}
        div(ng-show="(file.timeLeft > 0) && (file.timeLeft < 999999999)") Uploading
        p(ng-show="(file.timeLeft > 0) && (file.timeLeft < 999999999)") {{file.timeLeft }} seconds left
        md-progress-linear.md-accent(md-mode="determinate", value="{{file.progress || 0}}")
      md-button.md-icon-button(style="padding-top: 20px;", aria-label="Cancel upload", ng-show="(!file.timeLeft)", ng-click="file.cancel();")
        md-icon(md-font-icon="mdi mdi-close")
