<div class="avatar-icon">
    <!--<img data-ng-if="avatarUrl" data-ng-src="{{avatarUrl}}" />-->
    <div data-ng-if="avatarUrl" class="image"></div>
    <div data-ng-if="!avatarUrl">
        <i class="tk-icon-user"></i>
    </div>
    <md-tooltip data-ng-if="avatarTooltip">{{ avatarTooltip }}</md-tooltip>
</div>