// Popup progress bar
div.progressbar(ng-class="{ 'in': space.showProgress }")
  div.progress-wrap
    div.progress-info(ng-show="space.showInfo")
      div.progress-title
        | Uploading {{ space.InProgress }} files...
      div.progress-filename
        span.filename {{ space.fileName }}
        | &nbsp;&mdash; {{ space.percent }}%
      div.progress-bar
        span(style="width:{{ space.percent }}%")
    div.progress-success(ng-show="space.showSuccess")
      div File has been successfully uploaded