.vb {
  cursor: default;

  &--wrapper:not(.vb--full) {
    @extend .box-shadow;

    width: 300px;
    margin: 10px auto;
    padding: 0 10px;
    background: white;
  }

  &__header {
    padding: 13px 10px;
    font-size: .9em;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3;
    margin: 0 -10px 6px -10px;
  }

  &__list {
    display: table;
    table-layout: fixed;
    width: 100%;

    &__item {
      display: table-row;
      border-bottom: 1px solid rgba(0, 0, 0, .07);

      &--preview, &--description, &--count {
        display: table-cell;
        vertical-align: middle;
      }

      &--preview {
        width: 48px;

        &-img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin: 7px 0;
          cursor: pointer;

          background: {
            color: #ddd;
            image: none;
            position: 50% 50%;
            size: cover;
          }
        }
      }

      &--description {
        width: auto;

        &-title {
          @extend .ellipsis;

          display: block;
          font-size: .8em;
          font-weight: 600;
          padding: 0 10px;
          margin-right: 10px;
          cursor: pointer;
        }
        &-subtitle {
          @extend .ellipsis;

          display: block;
          font-size: .7em;
          color: #aaa;
          padding: 0 10px;
          margin-right: 10px;
          cursor: pointer;
        }
      }

      &--count {
        width: 50px;
        font-size: .9em;

        &--button {
          color: #aaa;

          &:hover {
            color: #eb0c0c;
            cursor: pointer;
          }

          &:active {
            position: relative;
            top: -1px;
            color: lighten(#eb0c0c, 20%);
          }
        }
      }
    }
  }

  &__actions {
    text-align: center;
    padding: 5px 0;
  }
}