<div class="panel-legend"></div>

<div class="panel-container choose-preview">
    <!-- Choose cover -->
    <div data-ng-if="ctrl.playlist.coverImage == null" data-ng-click="ctrl.selectCoverImage($event)" class="choose-button">
        <div class="table">
            <div class="table-cell middle">
                <span>{{ 'COMMONS_SELECT_COVER_IMAGE' | translate }}</span>
                    <span>
                        <md-button
                                data-ng-click="ctrl.DialogService.showHelp($event, 'PLAYLIST_SELECT_COVER_IMAGE_HELP')"
                                class="transparent no-margin btn-icon-24">
                            <md-icon class="mdi mdi-help-circle"></md-icon>
                            <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
                        </md-button>
                    </span>
            </div>
        </div>
    </div>
    <!-- If cover was selected -->
    <div data-ng-if="ctrl.playlist.coverImage != null" data-ng-click="ctrl.selectCoverImage($event)">
        <div class="selected">
            <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
            <div data-tk-background-by-key="{key: ctrl.playlist.coverImage.key, width: 300}"></div>
        </div>
    </div>

    <div class="choose-or">&nbsp;</div>

    <!-- Choose background -->
    <div data-ng-if="ctrl.playlist.backgroundImage == null" data-ng-click="ctrl.selectBackgroundImage($event)"
         class="choose-button">
        <div class="table">
            <div class="table-cell middle">
                <span>{{ 'COMMONS_SELECT_BACKGROUND' | translate }}</span>
                    <span>
                        <md-button data-ng-click="ctrl.DialogService.showHelp($event, 'PLAYLIST_SELECT_BACKGROUND_HELP')"
                                   class="transparent no-margin btn-icon-24">
                            <md-icon class="mdi mdi-help-circle"></md-icon>
                            <md-tooltip>{{ 'WHAT_IS_THIS__TOOLTIP' | translate }}</md-tooltip>
                        </md-button>
                    </span>
            </div>
        </div>
    </div>
    <!-- If background was selected -->
    <div data-ng-if="ctrl.playlist.backgroundImage != null" data-ng-click="ctrl.selectBackgroundImage($event)">
        <div class="selected">
            <md-progress-circular data-md-mode="indeterminate"></md-progress-circular>
            <div data-tk-background-by-key="{key: ctrl.playlist.backgroundImage.key, width: 300}"></div>
        </div>
    </div>
</div>

<div class="panel-container lg">
    <!-- Playlist name -->
    <md-input-container data-md-is-error="ctrl.formSubmit && ctrl.playlistForm.name.$invalid" class="full">
        <label for="name">{{'PLAYLIST_NAME' | translate}}</label>
        <input data-ng-model="ctrl.playlist.name" type="text" class="md-input" name="name" id="name"
               required="required"/>
        <div data-ng-show="ctrl.playlistForm.name.$dirty || ctrl.playlistForm.name.$touched || ctrl.formSubmit"
             class="error">
            <span data-ng-show="ctrl.playlistForm.name.$error.required" class="help-block">{{'ERROR_REQUIRED' | translate}}</span>
        </div>
    </md-input-container>

    <!-- Playlist switcher -->
    <md-switch class="md-primary no-margin" md-no-ink aria-label="Switch playlist publish" ng-model="ctrl.playlist.published">
        {{ 'COMMONS_PUBLISH' | translate }}
    </md-switch>
</div>

<div class="panel-legend"></div>

<div class="panel-container fill">
    <md-autocomplete
            ng-disabled="false"
            md-no-cache="true"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-min-length="1"
            placeholder="{{'PLAYLIST_SEARCH_PLACEHOLDER' | translate}}">

        <md-item-template>
            <div class="cc-search-item">
                <div class="cc-search-item-inside">
                    <div class="cc-search-item-inside__preview">
                        <div class="cc-search-item-inside__preview__image" data-ng-if="item.teaserVideo.thumbnailImageKey" tk-background-by-key="{key: item.teaserVideo.thumbnailImageKey, width: 100}"></div>
                        <div class="cc-search-item-inside__preview__image" data-ng-if="item.teaserImage.key" tk-background-by-key="{key: item.teaserImage.key, width: 100}"></div>
                    </div>
                    <div class="cc-search-item-inside__description">
                        <div><strong>{{'CONTENT_ADD_EDIT__FIELD__TITLE' | translate}}:</strong> {{item.title}}</div>
                        <div><strong>{{'COMMONS_CHANNEL' | translate}}:</strong> {{item.channel.name}}</div>
                    </div>
                </div>
            </div>
        </md-item-template>
        <md-not-found>
            {{'COMMONS_NOT_FOUND' | translate}}
        </md-not-found>
    </md-autocomplete>
</div>

<div class="panel-container fill" data-ng-if="ctrl.playlist.contents.length > 0">
    <div data-ng-sortable="ctrl.sortableOptions" class="channel-content">
        <div data-ng-repeat="content in ctrl.playlist.contents" class="item-wrapper">
            <div class="item">
                <div data-tk-background-by-key="{key: content.teaserVideo.thumbnailImageKey || content.teaserImage.key, width: 300}" class="preview">
                    <img data-ng-src="{{ content.teaserVideo.thumbnailImageKey || content.teaserImage.key | thumbnailsS3Cdn:300:'-' }}">
                    <div data-ng-class="{'link': content.type == ctrl.CONTENT_TYPES.LINK, 'photos': content.type == ctrl.CONTENT_TYPES.IMAGE, 'text': content.type == ctrl.CONTENT_TYPES.TEXT, 'video': content.type == ctrl.CONTENT_TYPES.VIDEO}" class="type-tooltip">
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.TEXT">{{ 'COMMONS_TEXT' | translate }}</span>
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.IMAGE">{{ 'COMMONS_PHOTOS' | translate }}</span>
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.LINK">{{ 'COMMONS_LINK' | translate }}</span>
                        <span data-ng-if="content.type == ctrl.CONTENT_TYPES.VIDEO">{{ 'COMMONS_VIDEO' | translate }}</span>
                    </div>
                </div>

                <div class="mobile-drag-handler sort-handle"></div>

                <div class="description">
                    <div class="title">
                        <i data-ng-if="content.verified" class="tk-icon-verified"></i>
                        {{ content.title | cut:true:64}}
                    </div>
                    <div class="preview-text fix-height-40" data-ng-bind-html="content.teaserText | nl2br"></div>
                    <div class="sub-tools">
                        <div class="sub-tools__price">{{content.tickPrice}} <i class="tk-icon-currency"></i></div>
                        <div class="sub-tools__time-ago">| {{ content.createdAt | timeAgo }} |</div>
                    </div>
                </div>

                <div class="actions">
                    <div class="desktop-drag-handler sort-handle">
                        <md-tooltip>{{ 'COMMONS_SORT_TOOLTIP' | translate }}</md-tooltip>
                    </div>
                    <div data-ng-click="ctrl.removeContent(content)" class="btn remove">{{'COMMONS_DELETE' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-container fill" data-ng-if="ctrl.playlist.contents.length == 0">
    <div class="playlist-empty">{{ 'PLAYLIST_IS_EMPTY' | translate }}</div>
</div>
