<div class="search-handler" data-ng-class="{'in':ctrl.showSearchForm}" data-ng-click="ctrl.search($event)">
    <div>{{ 'COMMONS_SEARCH' | translate }}</div>
</div>
<header class="ref blue">

    <div data-ng-class="{'show-search-form':ctrl.showSearchForm}">
        <div class="logotype-wrapper">
            <a class="logotype" target="_blank" data-ng-href="{{ctrl.LOGOTYPE_LINK}}"></a>
            <md-tooltip>{{ 'HEADER_LOGOTYPE__TOOLTIP' | translate }}</md-tooltip>
        </div>

        <div class="button tk-icon-filter" data-ng-class="{in:ctrl.showFilters}" data-ng-click="ctrl.toggleFilter()">
            <md-tooltip data-ng-if="!ctrl.showFilters">{{'HEADER_SHOW_FILTERS__TOOLTIP' | translate }}</md-tooltip>
            <md-tooltip data-ng-if="ctrl.showFilters">{{'HEADER_HIDE_FILTERS__TOOLTIP' | translate }}</md-tooltip>
        </div>
        <div class="button tk-icon-search" data-ng-click="ctrl.searchSetFocus()">
            <md-tooltip>{{ 'COMMONS_SEARCH' | translate }}</md-tooltip>
        </div>
    </div>

    <div class="search-form tk-icon-search" data-ng-class="{'xs-in':ctrl.showSearchForm}">
        <md-input-container>
            <label>{{'COMMONS_SEARCH' | translate}}</label>
            <input type="text" data-ng-model="ctrl.searchString" data-ng-blur="ctrl.search($event)" data-ng-keyup="ctrl.search($event)" tk-input-focus="ctrl.searchFocus">
            <div class="tk-icon-cancel search-cancel" data-ng-show="ctrl.searchIsUsed" data-ng-click="ctrl.searchCancel()"></div>
        </md-input-container>
    </div>

    <div class="pull-right" data-ng-class="{'show-search-form':ctrl.showSearchForm}">
        <div class="button tk-icon-facebook" data-ng-click="ctrl.loginFacebook()">
            <md-tooltip md-direction="left">{{ 'LOGIN_LOG_IN_VIA_FACEBOOK' | translate }}</md-tooltip>
        </div>
        <div class="button tk-icon-gplus" data-ng-click="ctrl.loginGoogle()">
            <md-tooltip md-direction="left">{{ 'LOGIN_LOG_IN_VIA_GOOGLE' | translate }}</md-tooltip>
        </div>
        <div class="button tk-icon-login" data-ng-click="ctrl.goToLogin()">
            <md-tooltip md-direction="left">{{ 'LOGIN_FORM_SIGN_IN_TICKSA' | translate }}</md-tooltip>
        </div>
    </div>

</header>
<div class="content-page">
    <div class="discovery-filters__outer" data-ng-class="{in:ctrl.showFilters}">
        <div class="discovery-filters__inner">
            <div class="input-wrapper">
                <tk-drop-down-filter label="{selected:ctrl.filterLanguageLabel}"
                                     items="ctrl.languages"
                                     selected="ctrl.selectedLanguages"
                                     unique-key="id">
                </tk-drop-down-filter>
            </div>
            <div class="input-wrapper">
                <tk-drop-down-filter label="{selected:ctrl.filterCategoryLabel}"
                                     items="ctrl.categories"
                                     selected="ctrl.selectedCategories"
                                     unique-key="id">
                </tk-drop-down-filter>
            </div>
            <md-button class="md-raised md-primary button-apply" data-ng-click="ctrl.applyFilter()">{{'COMMONS_APPLY' | translate }}</md-button>
        </div>
    </div>
    <div class="discovery-filters__backdrop" data-ng-class="{in:ctrl.showFilters}" data-ng-click="ctrl.disabledFilter()"></div>
    <div class="content-list"
         data-infinite-scroll-disabled="ctrl.disabledInfiniteScroll"
         data-infinite-scroll="ctrl.load()"
         data-infinite-scroll-distance="0">

        <masonry throttle-time="250"
                 masonry-options="{'gutter': 20}"
                 reload-on-resize
                 column-width="300">

            <div class="masonry-brick"
                 data-ng-repeat="content in ctrl.rawContents">

                <div tk-content-fast-add
                     data-ng-if="::content.form"
                     bindonce></div>

                <div tk-content-preview
                     data-ng-if="::!content.form"
                     data-content="content"
                     data-card-as-preview
                     data-card-in-discovery>
                </div>
            </div>
        </masonry>

    </div>
    <div class="content-load-more" data-ng-show="ctrl.waitLoad && !ctrl.notFound">
        <md-button class="md-raised md-primary" data-ng-click="ctrl.loadMore()">{{ 'COMMONS_LOAD_MORE' | translate }}</md-button>
    </div>
    <div class="content-loading" data-ng-show="ctrl.loadingInProgress">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="content-after-msg" data-ng-show="ctrl.loadComplete && !ctrl.notFound">{{ 'COMMONS_CONTENT_LOADED' | translate }}</div>
    <div class="content-after-msg" data-ng-show="ctrl.notFound">{{ 'COMMONS_NOT_FOUND' | translate }}</div>
    <div class="content-footer">
        <label class="language">{{ 'COMMONS_LANGUAGE' | translate }}:</label>
        <md-input-container>
            <md-select ng-model="ctrl.uiLanguage" ng-model-options="{trackBy: '$value.id'}" ng-change="ctrl.saveUILanguage()" aria-label="Select ari">
                <md-option ng-repeat="uiLang in ctrl.uiLanguages" ng-value="uiLang">{{ uiLang.name }}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>