div(layout='row', layout-margin, layout-align='center center', flex)
  div(layout="column", layout-fill, layout-margin)

    md-whiteframe.md-whiteframe-z1(flex, layout='column', layout-align='center center' ng-repeat="comment in ctrl.commentList | orderBy:'-createdAt'")
      md-content(layout='column', layout-fill, layout-padding)
        div(ng-bind-html="comment.text")
        div(ng-show="comment.image")
          img(ng-src="{{comment.image.key | s3cdn}}")

        div(ng-show="comment.video", layout="row", layout-align="center center")
          div.video-container-large
            tk-video(video="comment.video" ng-if="comment.video.transcoded", thumbnail-width="300")

        div(layout="row", layout-align="end center")
          md-button.md-primary.md-raised(ng-click="ctrl.editComment(comment)") {{'COMMONS_EDIT' | translate}}
