<div layout="row" layout-margin layout-padding layout-fill layout-align="center start">
    <md-card flex-sm="100" flex-md="80" flex-gt-md="60">
        <md-card-content>
            <md-list>
                <div layout="row">
                    <div data-tk-top-ranked="{view:'full', channelId:ctrl.channelId}" style="width: 100%;"></div>
                </div>
            </md-list>
        </md-card-content>
    </md-card>
</div>