md-dialog.as-tk-dialog.full-screen
  md-toolbar.with-tools
    div.md-toolbar-tools
      h2 {{'IMAGE_PICKER_TITLE' | translate}}
    div.dialog-choose(data-ng-click="ctrl.submit()")
    div.dialog-close(data-ng-click="ctrl.close()")
  div.tk-dialog__pick-outer
    div.tk-dialog__pick-inner
      div.tk-dialog__tools-outer(layout='row')
        div(flex)
          div(layout="row", layout-align="start center")
            div.btn-upload
              md-button.md-raised.md-primary.no-margin(ng-click="ctrl.selectVideo()") {{'VIDEO_PICKER_TAB_UPLOAD_SELECT_VIDEO' | translate}}
        div(flex, ng-show="ctrl.video.file.name")
          div(layout="row", layout-align="center center")
            div.file-data
              tk-file-upload(trigger-file-select="ctrl.selectVideo",
              on-upload-finish="ctrl.finishUploadVideo",
              start-upload="ctrl.startUploadVideo",
              file-input-id="upload-video",
              clear-file-list="ctrl.clearFileListVideo",
              file="ctrl.video.file",
              accept="{{ctrl.VIDEO_FILE_ACCEPT_EXTENSIONS}}")
              div.upload-file__cost(flex, ng-if="ctrl.video.file.name && !ctrl.uploadStarted") {{'LIBRARY_UPLOAD_VIDEO_PRICE' | translate}} {{ctrl.filePrice}}
                span.tk-icon-currency
              div(flex, ng-if="ctrl.video.file.name && ctrl.uploadStarted") {{'LIBRARY_YOUR_VIDEO_IS_BEING_UPLOADED' | translate}}
              div(flex, layout="row", layout-align="end center")
                md-button.md-raised.md-primary.no-margin(ng-disabled="ctrl.disablePostVideo", ng-if="ctrl.video.file.name", ng-click="ctrl.checkAndStartUploadVideo()") {{'COMMONS_UPLOAD' | translate}}
        div(flex)
          div(layout="row", layout-align="end")
            md-input-container
              label {{ 'FILTER__LABEL__SORTED' | translate }}
              md-select(data-ng-model="ctrl.filterCreatedAt.selected")
                md-option(data-ng-repeat="filter in ctrl.filterCreatedAt.values", data-ng-value="filter.value") {{filter.key}}

      masonry(throttle-time="100", masonry-options="{'isFitWidth': true, 'gutter': 20}", column-width="300").grid
        div.masonry-brick.grid-item(bindonce, ng-repeat="video in ctrl.videos | orderBy:'createdAt':ctrl.filterCreatedAt.selected")
          div.library-card.pick(data-ng-click="ctrl.videoClick(video)", data-ng-class="{'selected': video.selected}")
            div.icon-pick.tk-icon-ok-circled
            div.library-card__table
              div.table-cell.middle.library-card__video-preview
                div(data-ng-if="video.transcodingStatus == 1")
                  div.teaser-video
                    img(data-tk-refresh-masonry-after-image-loaded style="display: block" data-ng-src="{{::video.thumbnailImageKey | thumbnailsS3Cdn:300:'-'}}")

                div(data-ng-if="video.transcodingStatus == ctrl.VIDEO_TRANSCODING_STATUS.START")
                  md-progress-circular(md-mode="indeterminate")
                  p {{ 'VIDEO_PROCESSING_PROGRESS' | translate }}

                div(data-ng-if="video.transcodingStatus == ctrl.VIDEO_TRANSCODING_STATUS.ERROR")
                  p {{ 'VIDEO_PROCESSING_ERROR' | translate }}
            div.library-card__filename
              span {{ video.name }}
