html
  head
    meta(charset="utf-8")
    meta(name="description", content="#{data.description}")
    title #{data.title} | Ticksa - My Premium Channel

  body
    h1 #{data.title}

    if (data.teaserImage)
      img(src="#{data.teaserImage}" alt="#{data.description}")
    else
      img(src="#{data.defaultImage}" alt="#{data.description}")

    p #{data.description}
    p
      span #{data.channelName}