<div layout="row" layout-margin="layout-margin" layout-align="center center" flex="flex">
    <md-whiteframe flex="40" flex-md="100"
                   flex-sm="100" layout="column" layout-align="center center"
                   class="md-whiteframe-z1">

        <md-content layout="column" layout-fill="layout-fill">
            <div layout-padding="layout-padding">
                <p class="subtitle">Completed infin transaction</p>

                <div layout="row" ng-if="ctrl.showContinueTopUpBtn">
                    <div flex></div>
                    <md-button data-ng-click="ctrl.continueTopUp()"
                               class="md-raised md-primary">{{'COMMONS_CONTINUE' | translate}}
                    </md-button>
                </div>
            </div>
        </md-content>
    </md-whiteframe>
</div>
