div(layout="column", layout-align="center center").content-add-card
  div.title(layout="row", layout-fill, layout-align="start center")
    span {{'CONTENT_FAST_ADD__HEADER' | translate}}

  md-divider(flex, style="width: 100%")

  div.buttons-row(layout="row", layout-align="space-around center", style="width: 100%", flex)
    div.button-content-type(layout="column", layout-align="center center", ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.TEXT)")
      md-icon(md-font-icon="mdi mdi-pencil")
      span {{'COMMONS_TEXT' | translate}}
      md-tooltip {{'CONTENT_FAST_ADD__TYPE__TEXT__TOOLTIP' | translate}}
    div.button-content-type(layout="column", layout-align="center center", ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.IMAGE)")
      md-icon(md-font-icon="mdi mdi-file-image-box")
      span {{'COMMONS_PHOTOS' | translate}}
      md-tooltip {{'CONTENT_FAST_ADD__TYPE__PHOTOS__TOOLTIP' | translate}}
    div.button-content-type(layout="column", layout-align="center center", ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.VIDEO)")
      md-icon(md-font-icon="mdi mdi-video")
      span {{'COMMONS_VIDEO' | translate}}
      md-tooltip {{'CONTENT_FAST_ADD__TYPE__VIDEO__TOOLTIP' | translate}}
    div.button-content-type(layout="column", layout-align="center center", ng-click="ctrl.addContent(ctrl.CONTENT_TYPES.LINK)")
      md-icon(md-font-icon="mdi mdi-link-variant")
      span {{'COMMONS_LINK' | translate}}
      md-tooltip {{'COMMONS_LINK' | translate}}
