<md-dialog class="as-tk-dialog col-xs-96 col-sm-48 col-md-40 col-lg-32">
    <md-toolbar class="with-tools">
        <div class="md-toolbar-tools">
            <h2>{{'PASSWORD_FORM' | translate}}</h2>
        </div>
        <div class="dialog-close" data-ng-click="ctrl.close()"></div>
    </md-toolbar>
    <md-dialog-content>
        <div class="padding-15" data-ng-class="{'padding-top-30':ctrl.isOldPasswordExists}">
            <form name="passwordForm" novalidate>
                <div data-ng-show="ctrl.isOldPasswordExists" class="panel-container">
                    <md-input-container class="full">
                        <label>{{'OLD_PASSWORD' | translate}}</label>
                        <input type="password" name="oldPassword" data-ng-model="ctrl.oldPassword" ng-required="ctrl.isOldPasswordExists">
                        <div data-ng-messages="passwordForm.oldPassword.$error"
                             data-ng-if="passwordForm.oldPassword.$dirty || ctrl.attemptedSave" role="alert">
                            <div data-ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                            <div data-ng-message="passMatch">{{'ERROR_WRONG_PASSWORD' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="panel-container padding-top-30">
                    <md-input-container class="full">
                        <label>{{'NEW_PASSWORD_1' | translate}}</label>
                        <input type="password" name="newPassword1" tk-compare-string="ctrl.newPassword2"
                               data-ng-minlength="8" data-ng-model="ctrl.newPassword1" required="required">
                        <div data-ng-messages="passwordForm.newPassword1.$error" data-ng-if="passwordForm.newPassword1.$dirty || ctrl.attemptedSave">
                            <div data-ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                            <div data-ng-message="minlength">{{'ERROR_SHORT_PASSWORD' | translate}}</div>
                            <div data-ng-message="equals">{{'ERROR_PASSWORD_MATCH' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="panel-container padding-top-30">
                    <md-input-container class="full">
                        <label>{{'COMMONS_REPEAT_NEW_PASSWORD' | translate}}</label>
                        <input type="password" name="newPassword2" tk-compare-string="ctrl.newPassword2"
                               data-ng-minlength="8" data-ng-model="ctrl.newPassword2" required="required">
                        <div data-ng-messages="passwordForm.newPassword2.$error" data-ng-if="passwordForm.newPassword2.$dirty || ctrl.attemptedSave">
                            <div data-ng-message="required">{{'ERROR_REQUIRED' | translate}}</div>
                            <div data-ng-message="minlength">{{'ERROR_SHORT_PASSWORD' | translate}}</div>
                            <div data-ng-message="equals">{{'ERROR_PASSWORD_MATCH' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="panel-container padding-top-30 clear">
                    <md-button class="no-margin md-raised md-primary pull-right"
                               data-ng-click="ctrl.changePassword(passwordForm)">
                        {{'COMMONS_CHANGE_PASSWORD' | translate}}
                    </md-button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>